In [91]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime

In [2]:
class FinancialReport():
    def __init__(self,file):
        self.file = file
        self.readFile()
        self.findBalanceSheet()
    def readFile(self):
        path = os.path.join("financial statements",self.file)
        self.statements = pd.read_excel(path,sheet_name=None)
    def getSheetNames(self):
        return self.statements.keys()
    def findBalanceSheet(self):
        balanceSheetName = [name for name in self.getSheetNames() if "BALANCE" in name][0]
        self.balance = self.statements[balanceSheetName]
        self.balance.columns = ["labels"]+list(self.balance.columns[1:])
    def getBalanceSheet(self):
        return self.balance

In [113]:
class Balance():
    def __init__(self):
        self.finalBalance = pd.DataFrame(columns=["title","num_title","labels"])
        self.setFinancialStatements()
        self.addDataToBalanceSheet()
        self.rearrangeFinalBalanceSheet()
        self.setQuarters()
        
    def getFiles(self):
        files = os.listdir("financial statements")
        files.remove(".DS_Store")
        files = [file for file in files if file[0] != "~"]
        return files

    def setFinancialStatements(self):
        self.files = self.getFiles()
        self.FinancialReports = [FinancialReport(file) for file in self.files]
        
    def addDataToBalanceSheet(self):
        
        for FinancialStatements in self.FinancialReports:
            balance = FinancialStatements.getBalanceSheet().copy()
            
            cols = ["labels"]+[col for col in balance.columns[1:] if col not in self.finalBalance.columns] ## remove columns of data already in main balance sheet
            balance = balance[cols]
            
            balance = self.parse_attributes(balance)
            
            balance.loc[:,"labels"] = [re.sub(" \$|\s*\d+\,*", "", label)  if np.any([char.isdigit() for char in label]) else label for label in balance["labels"]  ]
            balance.labels = balance.labels.apply(self.clean_up_string)
            
            
            self.finalBalance = pd.merge(self.finalBalance, balance, how="outer",on=["labels"],suffixes=('', '_new'))
            self.finalBalance.title = [self.finalBalance.title[i] if not pd.isnull(self.finalBalance.title[i]) else self.finalBalance.title_new[i] for i in range(len(self.finalBalance))] #merge titles
            self.finalBalance.num_title = [self.merge_number(self.finalBalance.num_title[i],self.finalBalance.num_title_new[i]) for i in range(len(self.finalBalance))] #merge the number for the titles. use greatest num bc bigger num means there is section before it
            self.finalBalance = self.finalBalance.drop(["title_new","num_title_new"],axis=1)

    def rearrangeFinalBalanceSheet(self):
        self.finalBalance = self.finalBalance.replace(" ",np.nan)

        # put totals at the bottom of each section
        totals = self.finalBalance.loc[self.finalBalance.labels.str.startswith("Total")].reset_index(drop=True) 
        self.finalBalance = self.finalBalance.loc[~self.finalBalance.labels.str.startswith("Total")].reset_index(drop=True)
        self.finalBalance = pd.concat([self.finalBalance,totals]) 
        self.finalBalance = self.finalBalance.reset_index(drop=True).reset_index()
        self.finalBalance = self.finalBalance.sort_values(["num_title","index"]) # order by title and then location
        self.finalBalance = self.finalBalance.drop(["index","num_title"],axis=1)

    def parse_attributes(self,balance):
        num = 0
        index = []
        for label in balance.labels:
            if ":" in label:
                title = label[:-1]
                num += 1
                continue
            index.append([title,num,label])
            if "Total" in label:
                title = np.nan
                num += 1

        balance = balance.loc[balance.labels.isin(np.array(index)[:,2])].copy()
        balance.loc[:,["title","num_title","labels"]] = list(index)
        balance = balance.set_index(["title","num_title","labels"]).reset_index()
        return balance
    
    def clean_up_string(self,string):
        string = string.strip()
        space_positions = [x.start() for x in re.finditer('\ ',  string)]
        for i in reversed(space_positions):
            if string[i+1:] in ["of", "and"]:
                string = string[:i]
        return string
    
    def merge_number(self,a,b):
        if pd.isnull(a):
            return b
        if pd.isnull(b):
            return a
        return max(a,b)
    def setQuarters(self):
        dates = list(self.finalBalance.columns[2:])
        dates.sort(key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        self.finalBalance = self.finalBalance[["title","labels"]+dates]
        self.finalBalance.columns = ["title","labels"]+[self.parseQuarter(date) for date in self.finalBalance.columns[2:]]
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Q4 "+str(int(year))

In [116]:
balance = Balance()
balance.finalBalance

,title,labels,Q4 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022
0,Current assets,Cash and cash equivalents,1783.0,1210.0,1322.0,958.0,1081.0,941.0,1177.0,788.0,1364.0,1028.0,2188.0,2471.0,1988.0,2066.0,2375.0,801.0,877.00
1,Current assets,Short-term investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.0,410.0,NaN,NaN,275.0,0.00
2,Current assets,Merchandise inventory,1997.0,2035.0,2202.0,2668.0,2131.0,2242.0,2326.0,2720.0,2156.0,2217.0,2242.0,2747.0,2451.0,2370.0,2281.0,2721.0,3018.00
3,Current assets,Other current assets,788.0,778.0,780.0,792.0,751.0,757.0,770.0,770.0,706.0,920.0,882.0,966.0,1159.0,1091.0,1201.0,1410.0,1270.00
23,Current assets,"Available-for-sale Securities, Current",NaN,164.0,286.0,296.0,288.0,272.0,294.0,294.0,290.0,51.0,25.0,NaN,NaN,475.0,337.0,NaN,NaN
25,Current assets,Short-term Investments,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Current assets,"Cash and Cash Equivalents, at Carrying Value",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Current assets,"Other Assets, Current",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Current assets,Total current assets,4568.0,4187.0,4590.0,4714.0,4251.0,4212.0,4567.0,4572.0,4516.0,4216.0,5337.0,6362.0,6008.0,6002.0,6194.0,5207.0,5165.00
4,NaN,"Property and equipment, net of accumulated dep...",2805.0,2791.0,2832.0,2887.0,2912.0,3129.0,3141.0,3225.0,3122.0,2945.0,2895.0,2846.0,2841.0,2839.0,2897.0,2924.0,3037.00
5,NaN,"Operating Lease, Right-of-Use Asset",NaN,0.0,0.0,0.0,0.0,5732.0,5807.0,5796.0,5402.0,4851.0,4689.0,4460.0,4217.0,4060.0,3975.0,3788.0,NaN
6,NaN,Other long-term assets,616.0,607.0,588.0,572.0,886.0,547.0,528.0,525.0,639.0,698.0,795.0,705.0,703.0,703.0,693.0,861.0,884.00
31,NaN,"Accumulated Depreciation, Depletion and Amorti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5071.00
32,NaN,Operating lease assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3675.00
41,NaN,Total assets,7989.0,7585.0,8010.0,8173.0,8049.0,13620.0,14043.0,14118.0,13679.0,12710.0,13716.0,14373.0,13769.0,13604.0,13759.0,12780.0,12761.00
29,NaN,"Line of Credit Facility, Fair Value of Amount ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
7,Current liabilities,Accounts payable,1181.0,1072.0,1297.0,1299.0,1126.0,994.0,1246.0,1241.0,1174.0,971.0,1629.0,2284.0,1743.0,1530.0,1583.0,1630.0,1951.00
8,Current liabilities,Accrued expenses and other current liabilities,1270.0,975.0,1026.0,1070.0,1024.0,882.0,908.0,974.0,1067.0,1051.0,1124.0,1283.0,1276.0,1294.0,1252.0,1414.0,1367.00
9,Current liabilities,"Operating Lease, Liability, Current",NaN,0.0,0.0,0.0,0.0,929.0,946.0,934.0,920.0,886.0,856.0,823.0,831.0,798.0,789.0,746.0,NaN
10,Current liabilities,Income taxes payable,10.0,11.0,18.0,24.0,24.0,26.0,34.0,43.0,48.0,23.0,40.0,41.0,34.0,16.0,27.0,33.0,25.00
30,Current liabilities,Current maturities of debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Current liabilities,Current portion of operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734.00
39,Current liabilities,"Accrued Liabilities, Current",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Current liabilities,Total current liabilities,2461.0,2058.0,2341.0,2393.0,2174.0,2831.0,3134.0,3192.0,3209.0,3431.0,3649.0,4431.0,3884.0,3638.0,3651.0,3823.0,4077.00
26,Long-term liabilities,Long-term debt,1249.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1484.00
34,Long-term liabilities,Long-term operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4033.00
35,Long-term liabilities,Other long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445.00
43,Long-term liabilities,Total long-term debt,NaN,1249.0,1249.0,1249.0,1249.0,1249.0,1249.0,1249.0,1249.0,1250.0,2212.0,2214.0,2216.0,2218.0,2220.0,1484.0,NaN
11,Long-term liabilities,"Operating Lease, Liability, Noncurrent",NaN,0.0,0.0,0.0,0.0,5597.0,5644.0,5650.0,5508.0,5331.0,5179.0,4899.0,4617.0,4449.0,4348.0,4163.0,NaN
12,Long-term liabilities,Lease incentives and other long-term liabilities,1135.0,1081.0,1080.0,1091.0,1073.0,372.0,391.0,393.0,397.0,381.0,423.0,458.0,438.0,493.0,520.0,523.0,NaN
44,Long-term liabilities,Total long-term liabilities,2384.0,2330.0,2329.0,2340.0,2322.0,7218.0,7284.0,7292.0,7154.0,6962.0,7814.0,7571.0,7271.0,7160.0,7088.0,6170.0,5962.00
13,NaN,Commitments and contingencies (see Note),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Stockholders' equity,"Common stock. par value, Authorized shares for...",19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Stockholders' equity,Accumulated other comprehensive income,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.00
36,Stockholders' equity,"Common stock. par value, Authorized shares for...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.00
15,Stockholders' equity,Authorized shares for all periods presented,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,19.0,19.0,NaN,19.0,19.0,NaN
16,Stockholders' equity,Additional Paid in Capital,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,39.0,60.0,85.0,118.0,114.0,71.0,43.00
17,Stockholders' equity,Retained earnings,3081.0,3127.0,3268.0,3368.0,3481.0,3495.0,3551.0,3573.0,3257.0,2235.0,2173.0,2268.0,2501.0,2667.0,2879.0,2681.0,2622.00
18,Stockholders' equity,Amounts reclassified from accumulated other co...,NaN,51.0,53.0,53.0,53.0,57.0,55.0,42.0,40.0,46.0,22.0,24.0,9.0,2.0,8.0,16.0,NaN
24,Stockholders' equity,Authorized shares for all periods presented; I...,NaN,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,NaN,NaN,NaN,19.0,NaN,NaN,NaN
45,Stockholders' equity,Total stockholders' equity,3144.0,3197.0,3340.0,3440.0,3553.0,3571.0,3625.0,3634.0,3316.0,2317.0,2253.0,2371.0,2614.0,2806.0,3020.0,2787.0,2722.00
14,NaN,"Common stock, shares outstanding (in shares)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,373000.0,371000.0,373000.0,374000.0,374000.0,374000.0,377000.0,376000.0,374000.0,371000.00
46,NaN,Total liabilities and stockholders' equity,7989.0,7585.0,8010.0,8173.0,8049.0,13620.0,14043.0,14118.0,13679.0,12710.0,13716.0,14373.0,13769.0,13604.0,13759.0,12780.0,12761.00
19,NaN,"Property and equipment, accumulated depreciation",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5999.0,5839.0,5886.0,5933.0,5891.0,5608.0,5616.0,5603.0,5486.0,NaN
20,NaN,"Common stock, shares issued (in shares)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,373000.0,371000.0,373000.0,374000.0,374000.0,374000.0,377000.0,376000.0,374000.0,371000.00
21,NaN,"Common stock, shares authorized (in shares)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2300000.0,2300000.0,2300000.0,2300000.0,2300000.0,2300000.0,2300000.0,2300000.0,2300000.0,2300000.00
22,NaN,"Common stock, par value (in dollars per share)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,0.05

In [117]:
balance.finalBalance.to_csv("finalBalance.csv")

In [79]:
'Oct. 30, 2021'.split(", ")[-1]

'2021'