In [2]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [14]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getExcelSheetsPostDate(self,Excel): #use IncomeExcel dictionary to get all dates and only keep where date is later than year specified 
        quarters = Excel.keys()
        fileDates = self.getYears(quarters) 
        files = [file for file, date in zip(Excel, fileDates) if date>self.fromDate or (date==self.fromDate and "Year Ended" in file)]
        Excel = {file:Excel[file] for file in files}
        return Excel
        
    def reorderQuarters(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        cols = [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + str(year) in quarters]
        self.compiledStatement = self.compiledStatement[["label"] + cols]
        
    def getQuarters(self):
        return list(self.compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = new_label.replace("gain","loss").replace("decrease","increase")
        new_label = re.sub("\s\([\w\W]+?\)","",new_label).replace("  "," ").replace("â€”"," - ").strip()
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        return new_label

In [19]:
class Income(HelperFunctions):
    def __init__(self,ticker,fromDate):
        
        self.ticker = ticker
        self.fromDate = fromDate
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.compiledStatement = pd.DataFrame(columns=["label"])
        
        self.IncomeExcel = self.readIncomeExcel()
        self.IncomeExcel = self.getExcelSheetsPostDate(self.IncomeExcel)
        
        self.addData()
        self.performIncomeMath()
        self.reorderQuarters()
        
        self.writeFinalIncome()
        
    def readIncomeExcel(self):
        file = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        IncomeExcel = pd.read_excel(file,sheet_name=None)
        return IncomeExcel
    
    def writeFinalIncome(self):
        file = os.path.join(self.path, f"Income Statement-{self.ticker}.xlsx")
        self.compiledStatement.to_excel(file,index=False)
        
    def addData(self):
        for quarter,sheet in list(self.IncomeExcel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            sheet = sheet.dropna(axis=0, how="any")
            sheet = sheet[~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True)]
            
            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            order="statement"
            
            #merge the current finalstatement and new sheet into one statement 
            #iterate through each row, check if the label is the same and switch off adding rows
            while sheeti < len(sheet) and statementi < len(self.compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = self.compiledStatement.iloc[statementi].label
                newRowStatement = self.compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    order="statement"
                    
                else:
                    if order == "sheet":
                       #if the two labels don't match, default is to add the row of the final statment
                        newStatement = pd.concat([newStatement,newRowSheet])
                        sheeti += 1
                        order="statement"
                    else: 
                         #if the two labels don't match, default is to add the row of the final statment
                        newStatement = pd.concat([newStatement,newRowStatement])
                        statementi += 1
                        order="sheet"
                         
                    
                    
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,self.compiledStatement.iloc[statementi:len(self.compiledStatement)]])
            
            self.compiledStatement = newStatement
            
        self.compiledStatement = self.compiledStatement.reset_index(drop=True)
        
        self.compiledStatement = self.compiledStatement.fillna(0)
        self.compiledStatement = self.compiledStatement.loc[~(self.compiledStatement==0).all(axis=1)]
        
    def performIncomeMath(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                
                self.compiledStatement["Q4 "+year] = self.compiledStatement["Year Ended "+year] - self.compiledStatement["Q3 "+year]
                self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]

In [21]:
income = Income("XOM",2017)
finalIncome = income.compiledStatement

finalIncome

,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,...,Q2 2020,Q3 2020,Q4 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022
0,sales and other operating revenue,237162.00,65436.00,71456.00,74187.00,205145.00,279332.00,61646.00,67491.00,63422.00,...,32277.00,45425.00,133149.00,178574.00,57552.00,65943.0,71892.00,204800.00,276692.00,87734.00
1,income from equity affiliates,5380.00,1910.00,1729.00,1960.00,5395.00,7355.00,1709.00,1359.00,1196.00,...,103.00,517.00,1215.00,1732.00,1473.00,1436.0,1670.00,4987.00,6657.00,2538.00
2,other income,1821.00,865.00,316.00,458.00,3067.00,3525.00,270.00,241.00,431.00,...,225.00,257.00,939.00,1196.00,122.00,363.0,224.00,2067.00,2291.00,228.00
3,total revenues and other income,244363.00,68211.00,73501.00,76605.00,213607.00,290212.00,63625.00,69091.00,65049.00,...,32605.00,46199.00,135303.00,181502.00,59147.00,67742.0,73786.00,211854.00,285640.00,90500.00
4,crude oil and product purchases,128217.00,36288.00,41327.00,41776.00,114396.00,156172.00,34801.00,38942.00,35290.00,...,14069.00,23950.00,70057.00,94007.00,32601.00,37329.0,39745.00,115419.00,155164.00,52388.00
5,production and manufacturing expenses,34128.00,8491.00,8918.00,9097.00,27585.00,36682.00,8970.00,9522.00,8848.00,...,6895.00,7103.00,23328.00,30431.00,8062.00,8471.0,8719.00,27316.00,36035.00,10241.00
6,"selling, general and administrative expenses",10956.00,2747.00,2993.00,2892.00,8588.00,11480.00,2770.00,2827.00,2753.00,...,2409.00,2444.00,7724.00,10168.00,2428.00,2345.0,2287.00,7287.00,9574.00,2409.00
7,depreciation and depletion,19893.00,4470.00,4589.00,4658.00,14087.00,18745.00,4571.00,4631.00,4873.00,...,4916.00,4983.00,41026.00,46009.00,5004.00,4952.0,4990.00,15617.00,20607.00,8883.00
8,"exploration expenses, including dry holes",1790.00,287.00,332.00,292.00,1174.00,1466.00,280.00,333.00,299.00,...,214.00,188.00,1097.00,1285.00,164.00,176.0,190.00,864.00,1054.00,173.00
9,interest expense,601.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
10,non-service pension and postretirement benefit...,0.00,337.00,308.00,307.00,978.00,1285.00,358.00,313.00,357.00,...,271.00,272.00,933.00,1205.00,378.00,162.0,146.00,640.00,786.00,108.00
11,other taxes and duties,30104.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
12,interest expense,0.00,204.00,147.00,200.00,566.00,766.00,181.00,216.00,232.00,...,317.00,279.00,879.00,1158.00,258.00,254.0,214.00,733.00,947.00,188.00
13,total costs and other deductions,225689.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
14,other taxes and duties,0.00,8147.00,8375.00,8303.00,24360.00,32663.00,7405.00,7675.00,7676.00,...,5154.00,7352.00,18770.00,26122.00,6660.00,7746.0,7889.00,22350.00,30239.00,7554.00
15,income before income taxes,18674.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
16,total costs and other deductions,0.00,60971.00,66989.00,67525.00,191734.00,259259.00,59336.00,64459.00,60328.00,...,34245.00,46571.00,163814.00,210385.00,55555.00,61435.0,64180.00,190226.00,254406.00,81944.00
17,income taxes,-1174.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
18,income before income taxes,0.00,7240.00,6512.00,9080.00,21873.00,30953.00,4289.00,4632.00,4721.00,...,-1640.00,-372.00,-28511.00,-28883.00,3592.00,6307.0,9606.00,21628.00,31234.00,8556.00
19,net income including noncontrolling interests,19848.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
20,income taxes,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,2806.00
21,income tax expense,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,7636.00,7636.00,0.00
22,net income including noncontrolling interests,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,5750.00
23,income taxes,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,796.00,1526.0,2664.00,-2664.00,0.00,0.00
24,net income attributable to noncontrolling inte...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,270.00
25,net income including noncontrolling interests,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,23598.00,23598.00,0.00
26,net income attributable to exxonmobil,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,5480.00
27,income tax expense,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,-5632.00,-5632.00,0.00,0.0,0.00,0.00,0.00,0.00
28,earnings per common share,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,1.28
29,net income attributable to noncontrolling inte...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,558.00,558.00,0.00
30,earnings per common share - assuming dilution,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,1.28
31,net income including noncontrolling interests,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2796.00,4781.0,6942.00,-6942.00,0.00,0.00
32,net income attributable to exxonmobil,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,23040.00,23040.00,0.00
33,income taxes,0.00,2457.00,2526.00,2634.00,6898.00,9532.00,1883.00,1241.00,1474.00,...,-471.00,337.00,-337.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
34,earnings per common share,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,5.39,5.39,0.00
35,net income attributable to noncontrolling inte...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,66.00,91.0,192.00,-192.00,0.00,0.00
36,earnings per common share - assuming dilution,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,5.39,5.39,0.00
37,net income including noncontrolling interests,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,-23251.00,-23251.00,0.00,0.0,0.00,0.00,0.00,0.00
38,net income attributable to exxonmobil,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2730.00,4690.0,6750.00,-6750.00,0.00,0.00
39,net income attributable to noncontrolling inte...,138.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,-811.00,-811.00,0.00,0.0,0.00,0.00,0.00,0.00
40,earnings per common share,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.64,1.1,1.57,-1.57,0.00,0.00
41,net income including noncontrolling interests,0.00,4783.00,3986.00,6446.00,14975.00,21421.00,2406.00,3391.00,3247.00,...,-1169.00,-709.00,709.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
42,earnings per common share - assuming dilution,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.64,1.1,1.57,-1.57,0.00,0.00
43,net income attributable to exxonmobil,19710.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,-22440.00,-22440.00,0.00,0.0,0.00,0.00,0.00,0.00
44,net income attributable to noncontrolling inte...,0.00,133.00,36.00,206.00,375.00,581.00,56.00,261.00,77.00,...,-89.00,-29.00,29.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
45,earnings per common share,4.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,-5.25,-5.25,0.00,0.0,0.00,0.00,0.00,0.00
46,net income attributable to exxonmobil,0.00,4650.00,3950.00,6240.00,14600.00,20840.00,2350.00,3130.00,3170.00,...,-1080.00,-680.00,680.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00
47,earnings per common share - assuming dilution,4.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,-5.25,-5.25,0.00,0.0,0.00,0.00,0.00,0.00
48,earnings per common share,0.00,1.09,0.92,1.46,3.42,4.88,0.55,0.73,0.75,...,-0.26,-0.15,0.15,0.00,0.00,0.0,0.00,0.00,0.00,0.00
49,earnings per common share - assuming dilution,0.00,1.09,0.92,1.46,3.42,4.88,0.55,0.73,0.75,...,-0.26,-0.15,0.15,0.00,0.00,0.0,0.00,0.00,0.00,0.00
50,dividends per common share,0.00,0.77,0.82,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00

In [248]:
list(finalIncome.columns)

['label',
 'Year Ended 2018',
 'Q1 2019',
 'Q2 2019',
 'Q3 2019',
 'Q4 2019',
 'Year Ended 2019',
 'Q1 2020',
 'Q2 2020',
 'Q3 2020',
 'Q4 2020',
 'Year Ended 2020',
 'Q1 2021',
 'Q2 2021',
 'Q3 2021',
 'Q4 2021',
 'Year Ended 2021',
 'Q1 2022',
 'Q2 2022',
 'Q3 2022',
 'Q4 2022',
 'Year Ended 2022',
 'Q1 2023']

In [132]:
class Balance(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "total"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.BalanceStatements = self.getBalanceStatements()
        self.addData(self.BalanceStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performBalanceMath()
        
        self.reorderQuarters()
        
      
    def getBalanceStatements(self):
        FinancialReports = self.getFinancialStatements()
        BalanceStatements = [[report.getBalanceSheet().copy(), report.file] for report in FinancialReports]
        return BalanceStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))
        
        
    def performBalanceMath(self):
        years = self.getYears()[1:]
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year]
            
    def getAccumulatedDepreciation(self):
        Depreciation = {}
        quarters = []
        for sheet, file in self.BalanceStatements:
            sheet.label = [label.lower() for label in sheet.label]
            date = sheet.columns[1]
            quarter = self.parseQuarter(date) 
            quarters.append(quarter)
            label = sheet.loc[sheet.label.str.contains("property and equipment, net of accumulated depreciation"),"label"]
            if len(label)>0:
                label = label.iloc[0]
                dep = re.findall("\d+,*\d*",label)
                if len(dep) > 0:
                    dep = int(dep[0].replace(",",""))
                    Depreciation[quarter] = dep
                    continue
                   
            dep = sheet.loc[(sheet.label == "property and equipment, accumulated depreciation") | (sheet.label=="accumulated depreciation, depletion and amortization, property, plant, and equipment"), date]
            if len(dep) > 0:
                dep = dep.iloc[0]
                Depreciation[quarter] = dep
                if "Year Ended" in quarter:
                    Depreciation["Q4 "+quarter.split(" ")[-1]] = dep
                continue
        #dates = sorted(Depreciation,key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        years = list(set([x.split(" ")[-1] for x in quarters]))
        years.sort()
        cols = { q+" "+year : [Depreciation.get(q + " " + year, np.nan)] for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + year in quarters}
        self.Depreciation = pd.DataFrame(cols)
        return self.Depreciation

In [133]:
balance = Balance()
balance.getAccumulatedDepreciation().to_excel("output/raw/depreciation.xlsx")

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

In [134]:
balance = Balance()
finalBalance = balance.finalStatement
finalBalance.to_excel("output/raw/balance.xlsx")
finalBalance

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,cash and cash equivalents,1783.0,1583.0,1609.0,1353.0,1783.0,1783.0,1210.0,1322.0,...,2188.0,2471.0,0.00,0.00,2066.0,2375.0,801.0,877.00,877.00,845.00
1,NaN,short-term investments,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,410.00,410.00,0.0,0.0,275.0,0.00,0.00,0.00
2,NaN,merchandise inventory,1830.0,1961.0,2051.0,2476.0,1997.0,1997.0,2035.0,2202.0,...,2242.0,2747.0,2451.00,2451.00,2370.0,2281.0,2721.0,3018.00,3018.00,3169.00
3,NaN,other current assets,702.0,575.0,598.0,654.0,788.0,788.0,778.0,780.0,...,882.0,966.0,0.00,0.00,1091.0,1201.0,1410.0,1270.00,1270.00,991.00
4,NaN,"available-for-sale securities, current",0.0,0.0,0.0,0.0,0.0,0.0,164.0,286.0,...,25.0,178.0,0.00,0.00,475.0,337.0,0.0,0.00,0.00,0.00
5,NaN,"cash and cash equivalents, at carrying value",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1988.00,1988.00,0.0,0.0,0.0,0.00,0.00,0.00
6,NaN,"other assets, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1159.00,1159.00,0.0,0.0,0.0,0.00,0.00,0.00
7,NaN,total current assets,4315.0,4119.0,4258.0,4483.0,4568.0,4568.0,4187.0,4590.0,...,5337.0,6362.0,6008.00,6008.00,6002.0,6194.0,5207.0,5165.00,5165.00,5005.00
8,NaN,"property and equipment, net of accumulated dep...",0.0,2605.0,2643.0,2686.0,0.0,0.0,2791.0,2832.0,...,2895.0,2846.0,2841.00,2841.00,2839.0,2897.0,2924.0,3037.00,3037.00,2791.00
9,NaN,"operating lease, right-of-use asset",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4689.0,4460.0,4217.00,4217.00,4060.0,3975.0,3788.0,0.00,0.00,3587.00
10,NaN,other long-term assets,679.0,687.0,716.0,726.0,616.0,616.0,607.0,588.0,...,795.0,705.0,703.00,703.00,703.0,693.0,861.0,884.00,884.00,874.00
11,NaN,"accumulated depreciation, depletion and amorti...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5608.00,5608.00,0.0,0.0,0.0,5071.00,5071.00,0.00
12,NaN,operating lease assets,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,3675.00,3675.00,0.00
13,NaN,"property and equipment, net",2616.0,0.0,0.0,0.0,2805.0,2805.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
14,NaN,total assets,7610.0,7411.0,7617.0,7895.0,7989.0,7989.0,7585.0,8010.0,...,13716.0,14373.0,13769.00,13769.00,13604.0,13759.0,12780.0,12761.00,12761.00,12257.00
15,NaN,"line of credit facility, fair value of amount ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
16,NaN,accounts payable,1243.0,1119.0,1230.0,1330.0,1181.0,1181.0,1072.0,1297.0,...,1629.0,2284.0,1743.00,1743.00,1530.0,1583.0,1630.0,1951.00,1951.00,1599.00
17,NaN,accrued expenses and other current liabilities,1113.0,1088.0,1062.0,1132.0,1270.0,1270.0,975.0,1026.0,...,1124.0,1283.0,0.00,0.00,1294.0,1252.0,1414.0,1367.00,1367.00,1127.00
18,NaN,"operating lease, liability, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,856.0,823.0,831.00,831.00,798.0,789.0,746.0,0.00,0.00,717.00
19,NaN,income taxes payable,32.0,28.0,107.0,134.0,10.0,10.0,11.0,18.0,...,40.0,41.0,34.00,34.00,16.0,27.0,33.0,25.00,25.00,29.00
20,NaN,current maturities of debt,65.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
21,NaN,current portion of operating lease liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,734.00,734.00,0.00
22,NaN,"accrued liabilities, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1276.00,1276.00,0.0,0.0,0.0,0.00,0.00,0.00
23,NaN,total current liabilities,2453.0,2302.0,2399.0,2596.0,2461.0,2461.0,2058.0,2341.0,...,3649.0,4431.0,3884.00,3884.00,3638.0,3651.0,3823.0,4077.00,4077.00,3472.00
24,NaN,long-term debt,1248.0,0.0,0.0,0.0,1249.0,1249.0,0.0,0.0,...,0.0,0.0,2216.00,2216.00,0.0,0.0,0.0,1484.00,1484.00,0.00
25,NaN,long-term line of credit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,350.00
26,NaN,long-term operating lease liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,4033.00,4033.00,0.00
27,NaN,other long-term liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,438.00,438.00,0.0,0.0,0.0,445.00,445.00,0.00
28,NaN,total long-term debt,0.0,1248.0,1248.0,1248.0,0.0,0.0,1249.0,1249.0,...,2212.0,2214.0,0.00,0.00,2218.0,2220.0,1484.0,0.00,0.00,1485.00
29,NaN,"operating lease, liability, noncurrent",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5179.0,4899.0,4617.00,4617.00,4449.0,4348.0,4163.0,0.00,0.00,3921.00
30,NaN,lease incentives and other long-term liabilities,1005.0,999.0,1025.0,1027.0,1135.0,1135.0,1081.0,1080.0,...,423.0,458.0,0.00,0.00,493.0,520.0,523.0,0.00,0.00,575.00
31,NaN,total long-term liabilities,2253.0,2247.0,2273.0,2275.0,2384.0,2384.0,2330.0,2329.0,...,7814.0,7571.0,7271.00,7271.00,7160.0,7088.0,6170.0,5962.00,5962.00,6331.00
32,NaN,"common stock. par value, authorized shares for...",20.0,0.0,0.0,0.0,19.0,19.0,0.0,0.0,...,0.0,0.0,19.00,19.00,0.0,0.0,0.0,0.00,0.00,0.00
33,NaN,accumulated other comprehensive income,54.0,0.0,0.0,0.0,36.0,36.0,0.0,0.0,...,0.0,0.0,9.00,9.00,0.0,0.0,0.0,38.00,38.00,0.00
34,NaN,"common stock. par value, authorized shares for...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,19.00,19.00,0.00
35,NaN,authorized shares for all periods presented,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,19.0,19.0,0.00,0.00,19.00
36,NaN,additional paid in capital,81.0,0.0,0.0,0.0,8.0,8.0,0.0,0.0,...,39.0,60.0,85.00,85.00,118.0,114.0,71.0,43.00,43.00,0.00
37,NaN,retained earnings,2749.0,2796.0,2902.0,2965.0,3081.0,3081.0,3127.0,3268.0,...,2173.0,2268.0,2501.00,2501.00,2667.0,2879.0,2681.0,2622.00,2622.00,2389.00
38,NaN,amounts reclassified from accumulated other co...,0.0,46.0,23.0,40.0,0.0,0.0,51.0,53.0,...,22.0,24.0,0.00,0.00,2.0,8.0,16.0,0.00,0.00,46.00
39,NaN,authorized shares for all periods presented; i...,0.0,20.0,20.0,19.0,0.0,0.0,19.0,19.0,...,19.0,19.0,0.00,0.00,19.0,0.0,0.0,0.00,0.00,0.00
40,NaN,total stockholders' equity,2904.0,2862.0,2945.0,3024.0,3144.0,3144.0,3197.0,3340.0,...,2253.0,2371.0,2614.00,2614.00,2806.0,3020.0,2787.0,2722.00,2722.00,2454.00
41,NaN,"common stock, shares outstanding",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,374000.0,374000.00,374000.00,377000.0,376000.0,374000.0,371000.00,371000.00,369.00
42,NaN,total liabilities and stockholders' equity,7610.0,7411.0,7617.0,7895.0,7989.0,7989.0,7585.0,8010.0,...,13716.0,14373.0,13769.00,13769.00,13604.0,13759.0,12780.0,12761.00,12761.00,12257.00
43,NaN,"property and equipment, accumulated depreciation",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5891.0,0.00,0.00,5616.0,5603.0,5486.0,0.00,0.00,4967.00
44,NaN,"common stock, shares issued",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,374000.0,374000.00,374000.00,377000.0,376000.0,374000.0,371000.00,371000.00,369.00
45,NaN,"common stock, shares authorized",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2300000.0,2300000.00,2300000.00,2300000.0,2300000.0,2300000.0,2300000.00,2300000.00,2300.00
46,NaN,"common stock, par value",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,50000.0,0.05,0.05,50000.0,50000.0,50000.0,0.05,0.05,0.05

In [137]:
class CashFlow(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "net"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.CashFlowStatements = self.getCashFlowStatements()
        self.addData(self.CashFlowStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performCashFlowMath()
        
        self.reorderQuarters()
        
      
    def getCashFlowStatements(self):
        FinancialReports = self.getFinancialStatements()
        CashFlowStatements = [[report.getCashFlowSheet().copy(), report.file] for report in FinancialReports]
        return CashFlowStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "6mo "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "9mo "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))     
    def performCashFlowMath(self):
        years = self.getYears()[1:]
        begin_cash = self.finalStatement.label.apply(lambda label: "cash" in label and "beginning of period" in label)
        data = [None, "cash at beginning of period"] + self.finalStatement.loc[begin_cash,self.getQuarterHeaders()].sum().tolist()
        self.finalStatement = self.finalStatement.drop(self.finalStatement.loc[begin_cash].index)
        self.finalStatement.loc[len(self.finalStatement)] = data

        end_cash = self.finalStatement.label.apply(lambda label: "cash" in label and "end of period" in label)
        data = [None, "cash at end of period"] + self.finalStatement.loc[end_cash,self.getQuarterHeaders()].sum().tolist()
        self.finalStatement = self.finalStatement.drop(self.finalStatement.loc[end_cash].index)
        self.finalStatement.loc[len(self.finalStatement)] = data
        
        self.finalStatement = self.finalStatement.set_index("label")
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            # find Q2 
            self.finalStatement["Q2 "+year] = self.finalStatement["6mo "+year] - self.finalStatement["Q1 "+year]
            self.finalStatement.loc["cash at beginning of period","Q2 "+year] = self.finalStatement.loc["cash at end of period","Q1 "+year]
            self.finalStatement.loc["cash at end of period","Q2 "+year] = self.finalStatement.loc["cash at end of period","6mo "+year]
            
            #find Q3 
            self.finalStatement["Q3 "+year] = self.finalStatement["9mo "+year] - self.finalStatement["6mo "+year]
            self.finalStatement.loc["cash at beginning of period","Q3 "+year] = self.finalStatement.loc["cash at end of period", "6mo "+year]
            self.finalStatement.loc["cash at end of period","Q3 "+year] = self.finalStatement.loc["cash at end of period","9mo "+year]
            
            
            #find Q3 
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year] - self.finalStatement["9mo "+year]
            self.finalStatement.loc["cash at beginning of period","Q4 "+year] = self.finalStatement["9mo "+year].loc["cash at end of period"]
            self.finalStatement.loc["cash at end of period","Q4 "+year] = self.finalStatement.loc["cash at end of period","Year Ended "+year]
        
        self.finalStatement = self.finalStatement.reset_index()
        self.finalStatement = self.finalStatement[["title","label"]+self.getQuarterHeaders()]

In [138]:
cashflow = CashFlow()
finalCashflow = cashflow.finalStatement
finalCashflow.to_excel("output/cashflow.xlsx")
finalCashflow

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,net income,676,143,271,229,205,848,164,297,...,-62,95,234,-665,166,258,-152,-16,256,-162
1,NaN,depreciation and amortization,593,138,141,139,141,559,140,140,...,126,125,126,507,120,124,128,132,504,130
2,NaN,share-based compensation,76,20,22,18,27,87,21,27,...,17,20,22,77,36,36,25,42,139,1
3,NaN,"operating lease, impairment loss",0,0,0,0,0,0,0,0,...,1,0,30,391,5,1,0,-6,0,0
4,NaN,other asset impairment charges,107,0,0,0,28,28,0,0,...,3,0,8,135,0,1,0,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,income taxes paid,0,0,0,0,0,0,0,0,...,0,0,20,20,0,0,0,0,0,0
668,NaN,"cash paid for income taxes during the period, ...",488,35,95,130,310,570,19,42,...,16,-45,-8,0,20,127,34,34,215,-420
669,None,cash at beginning of period,1370,1783,1583,1609,1353,1783,1799,1229,...,1048,2241,2499,1381,2016,2096,2407,829,2016,902
670,NaN,"operating lease, payments",0,0,0,0,0,0,0,0,...,0,0,1096,1096,0,0,0,0,0,0
671,NaN,cash paid for operating lease liabilities,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1061,1061,0

In [848]:
finalCashflow["label"].tolist()

['cash and cash equivalents',
 'short-term investments',
 'merchandise inventory',
 'other current assets',
 'available-for-sale securities, current',
 'total current assets',
 'property and equipment, net of accumulated depreciation',
 'operating lease, right-of-use asset',
 'other long-term assets',
 'accumulated depreciation, depletion and amortization, property, plant, and equipment',
 'operating lease assets',
 'total assets',
 'line of credit facility, fair value of amount outstanding',
 'accounts payable',
 'accrued expenses and other current liabilities',
 'operating lease, liability, current',
 'income taxes payable',
 'current portion of operating lease liabilities',
 'total current liabilities',
 'long-term debt',
 'lease incentives and other long-term liabilities',
 'long-term operating lease liabilities',
 'other long-term liabilities',
 'total long-term debt',
 'total long-term liabilities',
 'operating lease, liability, noncurrent',
 'lease incentives and other long-term liabilities',
 'total long-term liabilities',
 'common stock, shares outstanding',
 'authorized shares for all periods presented',
 'additional paid in capital',
 'retained earnings',
 'amounts reclassified from accumulated other comprehensive income',
 'authorized shares for all periods presented; issued and outstanding and shares',
 'common stock. par value, authorized shares for all periods presented; issued and outstanding and shares',
 'accumulated other comprehensive income',
 'common stock. par value, authorized shares for all periods presented',
 "total stockholders' equity",
 "total liabilities and stockholders' equity",
 'property and equipment, accumulated depreciation',
 'common stock, shares issued',
 'common stock, shares authorized',
 'common stock, par value']

In [856]:
finalCashflow

,title,label,Year Ended 2016,Q1 2017,6mo 2017,9mo 2017,Year Ended 2017,Q1 2018,6mo 2018,9mo 2018,...,9mo 2020,Year Ended 2020,Q1 2021,6mo 2021,9mo 2021,Year Ended 2021,Q1 2022,6mo 2022,9mo 2022,Year Ended 2022
0,Cash flows from operating activities,net income,920,127,252,456,676,143,414,643,...,535,351,-932,-994,-899,-665,166,424,272,256
1,Adjustments to reconcile net income to net cas...,depreciation and amortization,592,148,303,449,593,138,279,418,...,417,557,130,256,381,507,120,244,372,504
2,Adjustments to reconcile net income to net cas...,share-based compensation,76,15,36,55,76,20,42,60,...,64,68,18,35,55,77,36,72,97,139
3,Adjustments to reconcile net income to net cas...,"operating lease, impairment loss",0,0,0,0,0,0,0,0,...,1,239,360,361,361,0,5,6,6,0
4,Adjustments to reconcile net income to net cas...,other asset impairment charges,54,0,0,0,107,0,0,0,...,9,98,124,127,127,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Supplemental disclosure of cash flow information,"cash paid for income taxes during the period, ...",452,43,143,318,488,35,130,260,...,117,176,37,53,8,20,20,147,181,215
95,Supplemental disclosure of cash flow information,cash paid for interest during the period,78,39,41,80,82,38,38,76,...,0,76,0,0,0,145,0,0,0,180
96,Supplemental disclosure of cash flow information,"operating lease, payments",0,0,0,0,0,0,0,0,...,0,1244,0,0,0,0,0,0,0,0
97,Supplemental disclosure of cash flow information,cash paid for operating lease liabilities,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1096,0,0,0,1061
98,None,cash at beginning of period,1515,1370,1370,1370,1384,1783,1783,1797,...,1420,1420,1381,1381,1381,1381,2016,2016,2016,2016