In [2]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet
import tabulate
lemmatizer = WordNetLemmatizer()

In [3]:
class FinancialReport():
    def __init__(self,file):
        self.file = file
        self.readFile()
        self.findBalanceSheet()
        self.findCashFlowSheet()
    def readFile(self):
        path = os.path.join("financial statements",self.file)
        self.statements = pd.read_excel(path,sheet_name=None)
    def getSheetNames(self):
        return self.statements.keys()
    def findBalanceSheet(self):
        balanceSheetName = [name for name in self.getSheetNames() if "BALANCE" in name][0]
        self.balance = self.statements[balanceSheetName]
        self.balance.columns = ["label"]+list(self.balance.columns[1:])
    def findCashFlowSheet(self):
        cashflowSheetName = [name for name in self.getSheetNames() if "CASH" in name]
        if len(cashflowSheetName) > 0:
            self.cashflow = self.statements[cashflowSheetName[0]]
        else:
            cashflowSheetName = [name for name in self.getSheetNames() if "CONDENSED" in name][-1]
            self.cashflow = self.statements[cashflowSheetName]
        self.cashflow.columns = self.cashflow.iloc[0]
        self.cashflow = self.cashflow.drop(0)
        self.cashflow.columns = ["label"]+list(self.cashflow.columns[1:])
    def getBalanceSheet(self):
        return self.balance
    def getCashFlowSheet(self):
        return self.cashflow

In [4]:
class HelperFunctions:
    def clean_up_string(self,string):
        string = string.strip()
        space_positions = [x.start() for x in re.finditer('\ ',  string)]
        for i in reversed(space_positions):
            if string[i+1:] in ["of", "and"]:
                string = string[:i]
        return string
    
    def merge_number(self,a,b):
        if pd.isnull(a):
            return b
        if pd.isnull(b):
            return a
        return max(a,b)
    
    def getFiles(self):
        files = os.listdir("financial statements")
        files.remove(".DS_Store")
        files = [file for file in files if file[0] != "~"]
        return files

    def getFinancialStatements(self):
        files = self.getFiles()
        FinancialReports = [FinancialReport(file) for file in files]
        return FinancialReports

In [5]:
class ProcessQuarters:
    
    def getQuarterHeaders(self):
        quarters = [col for col in list(self.finalStatement.columns) if col not in ["title","label","title_order"]]
        return quarters
    def includesYear(self, string):
        return string[-4:].isdigit()
        
    def getLabelHeaders(self):
        headers = [col for col in list(self.finalStatement.columns) if not self.includesYear(col)]
        return headers
    
    def setQuarters(self):
        dates = self.getQuarterHeaders()
        headers = self.getLabelHeaders()
        dates.sort(key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        self.finalStatement = self.finalStatement[headers+dates]
        self.finalStatement.columns = headers+[self.parseQuarter(date) for date in self.getQuarterHeaders()]
    
    def reorderQuarters(self):
        years = self.getYears()
        headers = self.getLabelHeaders()
        years = [year for year in years if "Q1 "+year in self.getQuarterHeaders()]
        cols = [q + " " + year for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
        cols = headers + cols
        self.finalStatement = self.finalStatement[cols]
        
    def getYears(self):
        return set([x.split(" ")[-1] for x in self.getQuarterHeaders()])

In [86]:
class FinancialDataMerge:
    
    def addData(self, FinancialReports):
        for [sheet,file] in FinancialReports:
            print(file)
            cols = ["label"]+[col for col in sheet.columns[1:] if col not in self.finalStatement.columns] ## remove columns of data already in main sheet sheet
            sheet = sheet[cols]
            
            sheet = self.parseStatement(sheet)
            
            self.finalStatement = pd.merge(self.finalStatement, sheet, how="outer",on=["label","title"],suffixes=('', '_x'))
            
            self.finalStatement.title_order = [self.merge_number(self.finalStatement.title_order[i],self.finalStatement.title_order_x[i]) for i in range(len(self.finalStatement))] #merge the number for the titles. use greatest num bc bigger num means there is section before it
            self.finalStatement = self.finalStatement.drop(["title_order_x"],axis=1)
    
    def rearrangeFinalStatement(self):
        self.finalStatement = self.finalStatement.replace(" ",np.nan)
        self.finalStatement = self.finalStatement.loc[~self.finalStatement[self.getQuarterHeaders()].isnull().all(axis=1)]
        
        #Make sure each title has same max number index
        self.reconcileTitleOrder()
        
        # put Totals at the bottom of each section
        self.reconcileLabelOrderWithTotals()
        
        self.finalStatement[["title_order","label_order"]] = self.finalStatement[["title_order","label_order"]].astype("int")
        self.finalStatement = self.finalStatement.sort_values(["title_order","label_order"]) # order by title and then location
        
#         self.finalStatement = self.finalStatement.drop(["title_order","label_order"],axis=1)
        
        #self.finalStatement = self.finalStatement.fillna(0)
        
    def parseStatement(self,sheet):
        num = 0
        index = []
        title = False
        for label in sheet.label:
            if ":" in label:
                title = re.sub("\([\w\W]+\)","",label[:-1]).replace("  "," ")
                num += 1
                continue
            if title:
                new_label = label.lower()
                new_label = label.lower()
                new_label = new_label.replace("gain","loss")
                new_label = re.sub("\([\w\W]+\)","",new_label).replace("  "," ").strip()
                new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
                new_label = self.clean_up_string(new_label)
                index.append([title,num,label,new_label])
            
                if self.total_keyword == new_label.split(" ")[0]:
                    title = np.nan
                    num += 1
    
        sheet = sheet.loc[sheet.label.isin(np.array(index)[:,2])].copy()
        sheet.loc[:,["title","title_order","label"]] = list(np.array(index)[:,[0,1,3]])
        sheet = sheet.set_index(["title","title_order","label"]).reset_index()
        return sheet
    
        
    def reconcileTitleOrder(self):
        title_groupby = self.finalStatement.groupby("title")["title_order"].max().reset_index().dropna(axis=0, how='any')
        title_groupby = title_groupby.loc[title_groupby.title != "nan"]
        self.finalStatement = self.finalStatement.merge(title_groupby, on="title", how="left", suffixes=('', '_x') )
        self.finalStatement["title_order"] = [self.merge_number(self.finalStatement.title_order[i],self.finalStatement.title_order_x[i]) for i in range(len(self.finalStatement))] #merge the number for the titles. 
        self.finalStatement = self.finalStatement.drop(["title_order_x"],axis=1)
        
    def reconcileLabelOrderWithTotals(self):
        totals = self.finalStatement.loc[self.finalStatement.label.str.startswith(self.total_keyword)].reset_index(drop=True) 
        self.finalStatement = self.finalStatement.loc[~self.finalStatement.label.str.startswith(self.total_keyword)].reset_index(drop=True)
        self.finalStatement = pd.concat([self.finalStatement,totals]) 
        self.finalStatement = self.finalStatement.reset_index(drop=True).reset_index().rename(columns={"index":"label_order"})

In [87]:
class Balance(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "total"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.BalanceStatements = self.getBalanceStatements()
        self.addData(self.BalanceStatements)
        
        self.rearrangeFinalStatement()
        
#         self.setQuarters()
        
        #self.reorderQuarters()
        
      
    def getBalanceStatements(self):
        FinancialReports = self.getFinancialStatements()
        BalanceStatements = [[report.getBalanceSheet().copy(), report.file] for report in FinancialReports]
        return BalanceStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Q4 "+str(int(year))

In [88]:
balance = Balance()
finalStatement = balance.finalStatement
finalStatement

q3 2021.xlsx
q3 2020.xlsx
q1 2019.xlsx
q2 2021.xlsx
q2 2020.xlsx
10k 2020 (2019).xlsx
10k 2019 (2020).xlsx
q1 2021.xlsx
q2 2019.xlsx
q1 2020.xlsx
10k 2022 (2021).xlsx
q3 2019.xlsx
10k 2021 (2022).xlsx

,label_order,title_order,title,label,"Oct. 30, 2021","Jan. 30, 2021","Oct. 31, 2020","Feb. 01, 2020","Nov. 02, 2019","May 04, 2019",...,"May 05, 2018","Jul. 31, 2021","Aug. 01, 2020","Aug. 03, 2019","Feb. 03, 2018","May 01, 2021","May 02, 2020","Aug. 04, 2018","Jan. 29, 2022","Nov. 03, 2018"
0,0,1,Current assets,cash and cash equivalents,801.0,1988.0,2471.0,1364.0,788.0,941.0,...,1210.0,2375.0,2188.0,1177.0,1783.0,2066.0,1028.0,1322.0,877.00,958.0
1,1,1,Current assets,short-term investments,275.0,410.0,178.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN
2,2,1,Current assets,merchandise inventory,2721.0,2451.0,2747.0,2156.0,2720.0,2242.0,...,2035.0,2281.0,2242.0,2326.0,1997.0,2370.0,2217.0,2202.0,3018.00,2668.0
3,3,1,Current assets,other current assets,1410.0,1159.0,966.0,706.0,770.0,757.0,...,778.0,1201.0,882.0,770.0,788.0,1091.0,920.0,780.0,1270.00,792.0
22,22,1,Current assets,"available-for-sale securities, current",NaN,NaN,NaN,290.0,294.0,272.0,...,164.0,337.0,25.0,294.0,NaN,475.0,51.0,286.0,NaN,296.0
35,35,1,Current assets,total current assets,5207.0,6008.0,6362.0,4516.0,4572.0,4212.0,...,4187.0,6194.0,5337.0,4567.0,4568.0,6002.0,4216.0,4590.0,5165.00,4714.0
4,4,2,nan,"property and equipment, net of accumulated dep...",2924.0,2841.0,2846.0,3122.0,3225.0,3129.0,...,2791.0,2897.0,2895.0,3141.0,2805.0,2839.0,2945.0,2832.0,3037.00,2887.0
5,5,2,nan,"operating lease, right-of-use asset",3788.0,4217.0,4460.0,5402.0,5796.0,5732.0,...,0.0,3975.0,4689.0,5807.0,NaN,4060.0,4851.0,0.0,NaN,0.0
6,6,2,nan,other long-term assets,861.0,703.0,705.0,639.0,525.0,547.0,...,607.0,693.0,795.0,528.0,616.0,703.0,698.0,588.0,884.00,572.0
29,29,2,nan,"accumulated depreciation, depletion and amorti...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5071.00,NaN
30,30,2,nan,operating lease assets,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3675.00,NaN
36,36,2,nan,total assets,12780.0,13769.0,14373.0,13679.0,14118.0,13620.0,...,7585.0,13759.0,13716.0,14043.0,7989.0,13604.0,12710.0,8010.0,12761.00,8173.0
28,28,3,nan,"line of credit facility, fair value of amount ...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,500.0,NaN,NaN,NaN
7,7,4,Current liabilities,accounts payable,1630.0,1743.0,2284.0,1174.0,1241.0,994.0,...,1072.0,1583.0,1629.0,1246.0,1181.0,1530.0,971.0,1297.0,1951.00,1299.0
8,8,4,Current liabilities,accrued expenses and other current liabilities,1414.0,1276.0,1283.0,1067.0,974.0,882.0,...,975.0,1252.0,1124.0,908.0,1270.0,1294.0,1051.0,1026.0,1367.00,1070.0
9,9,4,Current liabilities,"operating lease, liability, current",746.0,831.0,823.0,920.0,934.0,929.0,...,0.0,789.0,856.0,946.0,NaN,798.0,886.0,0.0,NaN,0.0
10,10,4,Current liabilities,income taxes payable,33.0,34.0,41.0,48.0,43.0,26.0,...,11.0,27.0,40.0,34.0,10.0,16.0,23.0,18.0,25.00,24.0
31,31,4,Current liabilities,current portion of operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734.00,NaN
37,37,4,Current liabilities,total current liabilities,3823.0,3884.0,4431.0,3209.0,3192.0,2831.0,...,2058.0,3651.0,3649.0,3134.0,2461.0,3638.0,3431.0,2341.0,4077.00,2393.0
24,24,6,Long-term liabilities,long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1249.0,NaN,NaN,NaN,1484.00,NaN
25,25,6,Long-term liabilities,lease incentives and other long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1135.0,NaN,NaN,NaN,NaN,NaN
32,32,6,Long-term liabilities,long-term operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4033.00,NaN
33,33,6,Long-term liabilities,other long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445.00,NaN
38,38,6,Long-term liabilities,total long-term debt,1484.0,2216.0,2214.0,1249.0,1249.0,1249.0,...,1249.0,2220.0,2212.0,1249.0,NaN,2218.0,1250.0,1249.0,NaN,1249.0
42,42,6,Long-term liabilities,total long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2384.0,NaN,NaN,NaN,5962.00,NaN
11,11,7,nan,"operating lease, liability, noncurrent",4163.0,4617.0,4899.0,5508.0,5650.0,5597.0,...,0.0,4348.0,5179.0,5644.0,NaN,4449.0,5331.0,0.0,NaN,0.0
12,12,7,nan,lease incentives and other long-term liabilities,523.0,438.0,458.0,397.0,393.0,372.0,...,1081.0,520.0,423.0,391.0,NaN,493.0,381.0,1080.0,NaN,1091.0
39,39,7,nan,total long-term liabilities,6170.0,7271.0,7571.0,7154.0,7292.0,7218.0,...,2330.0,7088.0,7814.0,7284.0,NaN,7160.0,6962.0,2329.0,NaN,2340.0
13,13,8,nan,"common stock, shares outstanding",374000.0,374000.0,374000.0,371000.0,373000.0,NaN,...,NaN,376000.0,374000.0,NaN,NaN,377000.0,373000.0,NaN,371000.00,NaN
14,14,9,Stockholders' equity,authorized shares for all periods presented,19.0,19.0,19.0,NaN,NaN,NaN,...,NaN,19.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,9,Stockholders' equity,additional paid in capital,71.0,85.0,60.0,0.0,0.0,0.0,...,0.0,114.0,39.0,0.0,8.0,118.0,17.0,0.0,43.00,0.0
16,16,9,Stockholders' equity,retained earnings,2681.0,2501.0,2268.0,3257.0,3573.0,3495.0,...,3127.0,2879.0,2173.0,3551.0,3081.0,2667.0,2235.0,3268.0,2622.00,3368.0
17,17,9,Stockholders' equity,amounts reclassified from accumulated other co...,16.0,9.0,24.0,40.0,42.0,57.0,...,51.0,8.0,22.0,55.0,NaN,2.0,46.0,53.0,NaN,53.0
23,23,9,Stockholders' equity,authorized shares for all periods presented; i...,NaN,NaN,NaN,19.0,19.0,19.0,...,19.0,NaN,NaN,19.0,NaN,19.0,19.0,19.0,NaN,19.0
26,26,9,Stockholders' equity,"common stock. par value, authorized shares for...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN
27,27,9,Stockholders' equity,accumulated other comprehensive income,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,38.00,NaN
34,34,9,Stockholders' equity,"common stock. par value, authorized shares for...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.00,NaN
40,40,9,Stockholders' equity,total stockholders' equity,2787.0,2614.0,2371.0,3316.0,3634.0,3571.0,...,3197.0,3020.0,2253.0,3625.0,3144.0,2806.0,2317.0,3340.0,2722.00,3440.0
41,41,9,nan,total liabilities and stockholders' equity,12780.0,13769.0,14373.0,13679.0,14118.0,13620.0,...,7585.0,13759.0,13716.0,14043.0,7989.0,13604.0,12710.0,8010.0,12761.00,8173.0
18,18,11,nan,"property and equipment, accumulated depreciation",5486.0,5608.0,5891.0,5839.0,5999.0,NaN,...,NaN,5603.0,5933.0,NaN,NaN,5616.0,5886.0,NaN,NaN,NaN
19,19,11,nan,"common stock, shares issued",374000.0,374000.0,374000.0,371000.0,373000.0,NaN,...,NaN,376000.0,374000.0,NaN,NaN,377000.0,373000.0,NaN,371000.00,NaN
20,20,11,nan,"common stock, shares authorized",2300000.0,2300000.0,2300000.0,2300000.0,2300000.0,NaN,...,NaN,2300000.0,2300000.0,NaN,NaN,2300000.0,2300000.0,NaN,2300000.00,NaN
21,21,11,nan,"common stock, par value",50000.0,50000.0,50000.0,50000.0,50000.0,NaN,...,NaN,50000.0,50000.0,NaN,NaN,50000.0,50000.0,NaN,0.05,NaN

In [27]:
finalStatement.to_csv("balance 2.csv")

In [20]:
self.finalStatement

,title,label,Year Ended 2017,Year Ended 2018,Q1 2019,6mo 2019,9mo 2019,Year Ended 2019,Q1 2020,6mo 2020,9mo 2020,Year Ended 2020,Q1 2021,6mo 2021,9mo 2021,Year Ended 2021,Q1 2022,6mo 2022,9mo 2022,Year Ended 2022
78,Cash flows from operating activities,net income,676,848,164,461,727,1003,227,395,535,351,-932,-994,-899,-665,166,424,272,256
0,Adjustments to reconcile net income to net cas...,depreciation and amortization,593,559,140,280,425,578,138,277,417,557,130,256,381,507,120,244,372,504
1,Adjustments to reconcile net income to net cas...,share-based compensation,76,87,21,48,72,91,24,47,64,68,18,35,55,77,36,72,97,139
2,Adjustments to reconcile net income to net cas...,"operating lease, impairment loss",NaN,0,NaN,NaN,NaN,0,NaN,0,1,239,360,361,361,NaN,5,6,6,NaN
3,Adjustments to reconcile net income to net cas...,other asset impairment charges,107,28,NaN,NaN,NaN,14,NaN,3,9,98,124,127,127,NaN,0,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,Supplemental disclosure of cash flow information,"interest paid, excluding capitalized interest,...",NaN,NaN,NaN,38,77,NaN,NaN,38,75,NaN,38,39,41,NaN,2,102,178,NaN
35,Supplemental disclosure of cash flow information,"cash paid for income taxes during the period, ...",488,570,19,61,73,143,18,90,117,176,37,53,8,20,20,147,181,215
45,Supplemental disclosure of cash flow information,cash paid for interest during the period,82,76,38,NaN,NaN,76,38,NaN,NaN,76,NaN,NaN,NaN,145,NaN,NaN,NaN,180
46,Supplemental disclosure of cash flow information,"operating lease, payments",NaN,0,0,0,0,0,301,NaN,NaN,1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Supplemental disclosure of cash flow information,cash paid for operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1096,NaN,NaN,NaN,1061