In [1]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [73]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getExcelSheetsPostDate(self,Excel): #use IncomeExcel dictionary to get all dates and only keep where date is later than year specified 
        quarters = Excel.keys()
        fileDates = self.getYears(quarters) 
        files = [file for file, date in zip(Excel, fileDates) if date>self.fromDate or (date==self.fromDate and "Year Ended" in file)]
        Excel = {file:Excel[file] for file in files}
        return Excel
        
    def reorderQuarters(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + str(year) in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
        
    def getQuarters(self, compiledStatement):
        return list(compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = new_label.replace("gain","loss").replace("decrease","increase")
        new_label = re.sub("\s\([\w\W]+?\)","",new_label).replace("  "," ").replace("â€”"," - ").strip()
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        return new_label

In [78]:
class Income(HelperFunctions):
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.performIncomeMath()
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
        self.writeExcel()
        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        
        Excel.save()
        
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        
        for quarter,sheet in list(Excel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            #sheet = sheet.dropna(axis=0, how="any")
           
            #sheet = sheet[~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True)]

            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+4,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])
            
            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement
    
    def performIncomeMath(self):
        quarters = self.getQuarters(self.compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                self.compiledStatement["Q4 "+year] = self.compiledStatement["Year Ended "+year] - self.compiledStatement["Q3 "+year]
                self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]

In [82]:
income = Income("WMT",2015)
income.compiledStatement

,label,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Year Ended 2019,Q1 2020,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,revenues:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,net sales,122136.00,373625.00,495761.00,121630.00,127059.00,123897.00,386432.00,510329.00,122949.00,...,136824.00,133752.00,421481.00,555233.00,137159.00,139871.00,139207.00,428555.00,567762.00,140288.00
2,membership and other income,1043.00,3539.00,4582.00,1060.00,969.00,997.00,3079.00,4076.00,976.00,...,918.00,956.00,2962.00,3918.00,1151.00,1177.00,1318.00,3674.00,4992.00,1281.00
3,total revenues,123179.00,377164.00,500343.00,122690.00,128028.00,124894.00,389511.00,514405.00,123925.00,...,137742.00,134708.00,424443.00,559151.00,138310.00,141048.00,140525.00,432229.00,572754.00,141569.00
4,costs and expenses:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cost of sales,91547.00,281849.00,373396.00,91707.00,95571.00,93116.00,292185.00,385301.00,93034.00,...,102689.00,100339.00,319976.00,420315.00,103272.00,105183.00,105023.00,323977.00,429000.00,106847.00
6,"operating, selling, general and administrative...",26868.00,79642.00,106510.00,25829.00,26707.00,26792.00,80355.00,107147.00,25946.00,...,28994.00,28591.00,87697.00,116288.00,28129.00,28511.00,29710.00,88102.00,117812.00,29404.00
7,operating income,4764.00,15673.00,20437.00,5154.00,5750.00,4986.00,16971.00,21957.00,4945.00,...,6059.00,5778.00,16770.00,22548.00,6909.00,7354.00,5792.00,20150.00,25942.00,5318.00
8,interest:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,debt,502.00,1476.00,1978.00,437.00,460.00,501.00,1474.00,1975.00,588.00,...,577.00,455.00,1521.00,1976.00,481.00,437.00,408.00,1266.00,1674.00,372.00
10,capital lease and financing obligations,81.00,271.00,352.00,93.00,94.00,92.00,279.00,371.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"finance, capital lease and financing obligations",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.00,...,NaN,NaN,NaN,339.00,NaN,NaN,NaN,NaN,NaN,NaN
12,finance lease,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.00,86.00,NaN,NaN,85.00,78.00,78.00,242.00,320.00,83.00
13,interest income,-42.00,-110.00,-152.00,-43.00,-51.00,-59.00,-158.00,-217.00,-48.00,...,-23.00,-25.00,-96.00,-121.00,-30.00,-37.00,-44.00,-114.00,-158.00,-36.00
14,"interest, net",541.00,1637.00,2178.00,487.00,503.00,534.00,1595.00,2129.00,625.00,...,635.00,516.00,1678.00,2194.00,536.00,478.00,442.00,1394.00,1836.00,419.00
15,loss on extinguishment of debt,1344.00,1792.00,3136.00,NaN,0.00,0.00,0.00,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2410.00,0.00,2410.00,NaN
16,unrealized and losses,NaN,NaN,NaN,1845.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,nonoperating income,NaN,NaN,NaN,NaN,-4849.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,other and losses,NaN,NaN,NaN,NaN,NaN,-1876.00,10244.00,8368.00,-837.00,...,-3222.00,-1853.00,1643.00,-210.00,2529.00,953.00,-1207.00,4207.00,3000.00,1998.00
19,income before income taxes,2879.00,12244.00,15123.00,2822.00,398.00,2576.00,8884.00,11460.00,5157.00,...,8646.00,7115.00,13449.00,20564.00,3844.00,5923.00,4147.00,14549.00,18696.00,2901.00
20,provision for income taxes,975.00,3625.00,4600.00,546.00,1125.00,759.00,3522.00,4281.00,1251.00,...,2207.00,1914.00,4944.00,6858.00,1033.00,1559.00,1015.00,3741.00,4756.00,798.00
21,consolidated net income,1904.00,8619.00,10523.00,2276.00,-727.00,1817.00,5362.00,7179.00,3906.00,...,6439.00,5201.00,8505.00,13706.00,2811.00,4364.00,3132.00,10808.00,13940.00,2103.00
22,consolidated net income attributable to noncon...,-155.00,-506.00,-661.00,-142.00,-134.00,-107.00,-402.00,-509.00,-64.00,...,NaN,-66.00,-130.00,-196.00,-81.00,NaN,-27.00,-240.00,-267.00,-49.00
23,consolidated net loss attributable to noncontr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.00,NaN,NaN,NaN,NaN,-88.00,NaN,NaN,NaN,NaN
24,consolidated net income attributable to walmart,1749.00,8113.00,9862.00,2134.00,-861.00,1710.00,4960.00,6670.00,3842.00,...,6476.00,5135.00,8375.00,13510.00,2730.00,4276.00,3105.00,10568.00,13673.00,2054.00
25,basic net income per common share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,net income per common share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,basic net income per common share attributable...,0.59,2.70,3.29,0.72,-0.29,0.58,1.70,2.28,1.34,...,2.29,1.81,2.96,4.77,0.97,1.53,1.11,3.79,4.90,0.75
28,diluted net income per common share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,diluted net income per common share attributab...,0.58,2.70,3.28,0.72,-0.29,0.58,1.68,2.26,1.33,...,2.27,1.80,2.95,4.75,0.97,1.52,1.11,3.76,4.87,0.74
30,weighted-average common shares outstanding:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,basic,2981.00,14.00,2995.00,2950.00,2946.00,2924.00,5.00,2929.00,2869.00,...,2832.00,2833.00,-2.00,2831.00,2815.00,2799.00,2785.00,7.00,2792.00,2754.00
32,diluted,2996.00,14.00,3010.00,2967.00,2946.00,2941.00,4.00,2945.00,2886.00,...,2848.00,2849.00,-2.00,2847.00,2829.00,2812.00,2797.00,8.00,2805.00,2765.00
33,dividends declared per common share,0.00,2.04,2.04,2.08,0.00,0.00,2.08,2.08,2.12,...,0.00,0.00,2.16,2.16,2.20,0.00,0.00,2.20,2.20,2.24

In [88]:
class Cashflow(HelperFunctions):
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
        self.writeExcel()
        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        
        Excel.save()
        
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        
        for quarter,sheet in list(Excel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            #sheet = sheet.dropna(axis=0, how="any")
           
            #sheet = sheet[~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True)]

            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+4,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])
            
            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [94]:
cashflow = Cashflow("WMT",2020)
cashflow.compiledStatement

,label,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022,Q1 2023
0,cash flows from operating activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,consolidated net income,15201.0,4074.0,10513.0,15714.0,13706.0,2811.0,7175.0,10307.0,13940.0,2103.0
2,adjustments to reconcile income from continuin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,adjustments to reconcile consolidated net inco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,depreciation and amortization,10987.0,2791.0,5562.0,8333.0,11152.0,2661.0,5302.0,7952.0,10658.0,2680.0
5,unrealized and losses,-1886.0,-783.0,-4006.0,-6883.0,NaN,NaN,NaN,NaN,NaN,NaN
6,(losss) and losses for disposal of business op...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,net unrealized and realized and losses,NaN,NaN,NaN,NaN,-8589.0,2077.0,3019.0,1831.0,2440.0,1989.0
8,losses on disposal of business operations,NaN,NaN,NaN,NaN,8401.0,433.0,433.0,433.0,433.0,0.0
9,asda pension contribution,-1036.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
10,loss on disposal of business operations,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,losses and on disposal of business operations,NaN,NaN,NaN,1028.0,NaN,NaN,NaN,NaN,NaN,NaN
12,deferred income taxes,320.0,84.0,472.0,1246.0,1911.0,-155.0,-385.0,-1402.0,-755.0,-69.0
13,loss on extinguishment of debt,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2410.0,2410.0,NaN
14,other operating activities,1981.0,-51.0,305.0,930.0,1521.0,270.0,606.0,1057.0,1652.0,-59.0
15,"changes in certain assets and liabilities, net...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"changes in certain assets and liabilities, net...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"receivables, net",154.0,924.0,823.0,165.0,-1086.0,828.0,452.0,-842.0,-1796.0,837.0
18,inventories,-300.0,2221.0,2466.0,-8260.0,-2395.0,-1487.0,-2725.0,-12663.0,-11764.0,-4699.0
19,accounts payable,-274.0,-1183.0,1052.0,8553.0,6966.0,-1004.0,119.0,7906.0,5520.0,-1640.0
20,accrued liabilities,186.0,-2109.0,1428.0,1796.0,4623.0,-4004.0,-1412.0,-722.0,1404.0,-4949.0
21,accrued income taxes,-93.0,1049.0,304.0,258.0,-136.0,428.0,-161.0,24.0,39.0,49.0
22,net cash provided by operating activities,25255.0,7017.0,18956.0,22880.0,36074.0,2858.0,12423.0,16291.0,24181.0,-3758.0
23,cash flows from investing activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,payments for property and equipment,-10705.0,-1752.0,-3569.0,-6438.0,-10264.0,-2214.0,-5019.0,-8588.0,-13106.0,-3539.0
25,proceeds from the disposal of property and equ...,321.0,60.0,83.0,99.0,215.0,72.0,176.0,290.0,394.0,35.0
26,proceeds from the disposal of certain operations,833.0,0.0,0.0,12.0,56.0,NaN,NaN,NaN,NaN,NaN
27,"proceeds from disposal of certain operations, ...",NaN,NaN,NaN,NaN,NaN,7935.0,7935.0,7935.0,7935.0,0.0
28,"payments for business acquisitions, net of cas...",-56.0,-10.0,-175.0,-180.0,-180.0,0.0,-248.0,-248.0,-359.0,-598.0
29,other investing activities,479.0,6.0,27.0,0.0,102.0,57.0,-442.0,-919.0,-879.0,-456.0
30,net cash used in investing activities,-9128.0,-1696.0,-3634.0,-6507.0,-10071.0,NaN,NaN,-1530.0,-6015.0,NaN
31,net cash provided by investing activities,NaN,NaN,NaN,NaN,NaN,5850.0,2402.0,NaN,NaN,-4558.0
32,cash flows from financing activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,net change in short-term borrowings,-4656.0,3542.0,-178.0,-301.0,-324.0,138.0,441.0,228.0,193.0,10995.0
34,proceeds from issuance of long-term debt,5492.0,0.0,0.0,0.0,0.0,NaN,NaN,6945.0,6945.0,NaN
35,repayments of long-term debt,-1907.0,0.0,-2937.0,-4132.0,-5382.0,-510.0,-3010.0,-13010.0,-13010.0,-926.0
36,premiums paid to extinguish debt,0.0,NaN,NaN,NaN,NaN,NaN,NaN,-2317.0,-2317.0,NaN
37,dividends paid,-6048.0,-1529.0,-3058.0,-4582.0,-6116.0,-1549.0,-3091.0,-4627.0,-6152.0,-1543.0
38,purchase of company stock,-5717.0,-723.0,-723.0,-1186.0,-2625.0,-2809.0,-5200.0,-7368.0,-9787.0,-2408.0
39,dividends paid to noncontrolling interest,-555.0,0.0,-66.0,-76.0,-434.0,NaN,-14.0,-20.0,-424.0,NaN
40,purchase of noncontrolling interest,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,sale of subsidiary stock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3231.0,3239.0,35.0
42,other financing activities,-908.0,-725.0,-852.0,-1063.0,-1236.0,-669.0,-685.0,-1175.0,-1515.0,-838.0
43,net cash used in financing activities,-14299.0,NaN,-7814.0,-11340.0,-16117.0,NaN,-11559.0,-18113.0,-22828.0,NaN
44,"effect of exchange rate on cash, cash equivale...",-69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,net cash provided by financing activities,NaN,565.0,NaN,NaN,NaN,-5399.0,NaN,NaN,NaN,5315.0
46,"effect of exchange rates on cash, cash equival...",NaN,-415.0,-69.0,-170.0,235.0,-51.0,-21.0,-118.0,-140.0,49.0
47,"net increase in cash, cash equivalents and res...",1759.0,5471.0,7439.0,4863.0,10121.0,3258.0,3245.0,-3470.0,-4802.0,-2952.0
48,cash and cash equivalents reclassified as asse...,NaN,NaN,NaN,NaN,-1848.0,NaN,NaN,NaN,NaN,NaN
49,change in cash and cash equivalents classified...,NaN,NaN,NaN,NaN,NaN,1848.0,1848.0,1848.0,NaN,NaN
50,change in cash and cash equivalents reclassifi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1848.0,0.0
51,"cash, cash equivalents and restricted cash at ...",7756.0,9514.0,9515.0,9515.0,9515.0,17788.0,17788.0,17788.0,17788.0,14834.0
52,"cash, cash equivalents and restricted cash at ...",9515.0,NaN,NaN,NaN,17788.0,NaN,NaN,NaN,14834.0,NaN
53,supplemental disclosure of cash flow information:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,income taxes paid,3616.0,NaN,NaN,NaN,5271.0,NaN,NaN,NaN,5918.0,NaN
55,"interest paid, excluding capitalized interest,...",2464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"cash, cash equivalents and restricted cash at ...",NaN,14985.0,16954.0,14378.0,NaN,22894.0,22881.0,16166.0,NaN,11882.0
57,interest paid,NaN,NaN,NaN,NaN,2216.0,NaN,NaN,NaN,2237.0,NaN