In [2]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [3]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getPossibleFilingsFromYears(self, years):
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    def getExcelSheetsPostDate(self,Excel):
        years = range(self.fromDate,self.endDate+1)
        names = self.getPossibleFilingsFromYears(years)
        names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in Excel.keys() if name in filing] 
        Excel = {file:Excel[file] for file in files}
        return Excel
    
    def reorderQuarters(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
        
    def getQuarters(self, compiledStatement):
        return list(compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = re.sub("\([\w\W]+?\)","",new_label)
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        new_label = new_label.replace("gain","loss").replace("decrease","increase").replace("  "," ").replace("â€”"," - ").replace("/","").strip()
        return new_label
    
    
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        
        for quarter,sheet in list(Excel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            
            sheet = sheet.dropna(subset="label", axis=0, how="any")
            sheet = sheet[(~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True))|sheet[quarter].isnull()]
            
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+4,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])
            
            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [4]:
class CompileIncomeStatement(HelperFunctions):
    def __init__(self,ticker,fromDate, endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performIncomeMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
    
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    
    
    def performIncomeMath(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["Q3 "+year]
                compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]
        return compiledStatement

In [5]:
class Income:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileIncomeStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileIncomeStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [6]:
# income = Income("GPS",2019)
# income.compiledStatement

In [7]:
class CompileCashflowStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [8]:
CompileCashflowStatement("XOM", 2018,2018)

In [9]:
class Cashflow:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileCashflowStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileCashflowStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [10]:
cashflow = Cashflow("XOM",2020)
cashflow.compiledStatement

,label,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022
0,cash flows from operating activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,net income including noncontrolling interests,14774.0,-770.0,-1939.0,-2648.0,-23251.0,2796.0,7577.0,14519.0,23598.0,5750.0
2,adjustments for noncash transactions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,depreciation and depletion,18998.0,5819.0,10735.0,15718.0,46009.0,5004.0,9956.0,14946.0,20607.0,8883.0
4,deferred income tax charges,-944.0,NaN,NaN,NaN,-8856.0,NaN,NaN,NaN,303.0,NaN
5,postretirement benefits expense in excess of n...,109.0,NaN,NaN,NaN,498.0,NaN,NaN,NaN,754.0,NaN
6,other long-term obligation provisions in exces...,-3038.0,NaN,NaN,NaN,-1269.0,NaN,NaN,NaN,50.0,NaN
7,dividends received greater than equity in curr...,-936.0,NaN,NaN,NaN,979.0,NaN,NaN,NaN,-668.0,NaN
8,noncash inventory adjustment - lower of cost o...,NaN,2245.0,176.0,61.0,NaN,0.0,NaN,NaN,NaN,NaN
9,"changes in operational working capital, exclud...",NaN,-942.0,-2402.0,-1539.0,NaN,1953.0,1573.0,2232.0,NaN,1086.0
10,reduction - notes and accounts receivable,-2640.0,NaN,NaN,NaN,5384.0,NaN,NaN,NaN,-12098.0,NaN
11,reduction - inventories,72.0,NaN,NaN,NaN,-315.0,NaN,NaN,NaN,-489.0,NaN
12,reduction - other current assets,-234.0,NaN,NaN,NaN,420.0,NaN,NaN,NaN,-71.0,NaN
13,increase - accounts and other payables,3725.0,NaN,NaN,NaN,-7142.0,NaN,NaN,NaN,16820.0,NaN
14,net on asset sales,-1710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,net loss on asset sales,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,-1207.0,NaN
16,all other items - net,1540.0,-78.0,-296.0,NaN,2207.0,NaN,NaN,NaN,530.0,NaN
17,all other items â€“ net,NaN,NaN,NaN,-929.0,NaN,-489.0,-192.0,-692.0,NaN,-931.0
18,net cash provided by operating activities,29716.0,6274.0,6274.0,10663.0,14668.0,9264.0,18914.0,31005.0,48129.0,14788.0
19,cash flows from investing activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"additions to property, plant and equipment",-24361.0,-5945.0,-10362.0,-13653.0,-17282.0,-2400.0,-5147.0,-7987.0,-12076.0,-3911.0
21,proceeds associated with sales of subsidiaries...,3692.0,86.0,129.0,229.0,999.0,NaN,NaN,NaN,NaN,NaN
22,proceeds from asset sales and returns of inves...,NaN,NaN,NaN,NaN,NaN,307.0,557.0,575.0,3176.0,293.0
23,additional investments and advances,-3905.0,-728.0,-1524.0,-3443.0,-4857.0,-349.0,-613.0,-1055.0,-2817.0,-417.0
24,other investing activities including collectio...,1490.0,220.0,309.0,1710.0,2681.0,87.0,132.0,342.0,1482.0,90.0
25,net cash used in investing activities,-23084.0,-6367.0,-11448.0,-15157.0,-18459.0,-2355.0,-5071.0,-8125.0,-10235.0,-3945.0
26,cash flows from financing activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,additions to long-term debt,7052.0,8466.0,23186.0,23186.0,23186.0,0.0,0.0,46.0,46.0,NaN
28,reductions in long-term debt,-1.0,-2.0,-3.0,-4.0,-8.0,0.0,0.0,-4.0,-8.0,NaN
29,additions to short-term debt,NaN,NaN,NaN,NaN,NaN,5781.0,9662.0,12197.0,12687.0,0.0
30,reductions in short-term debt,-4043.0,-1533.0,-1618.0,-1651.0,-1703.0,-10849.0,-18000.0,-24066.0,-29396.0,-2098.0
31,"additions in commercial paper, and debt with t...",5654.0,5829.0,1033.0,139.0,-1334.0,NaN,NaN,NaN,-2983.0,NaN
32,contingent consideration liability,NaN,NaN,-21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,additions in debt with three months or less ma...,NaN,NaN,NaN,NaN,NaN,NaN,1320.0,997.0,NaN,1366.0
34,contingent consideration payments,NaN,NaN,NaN,-21.0,-21.0,NaN,-28.0,-28.0,-30.0,NaN
35,additions in commercial paper and debt with th...,NaN,NaN,NaN,NaN,NaN,1003.0,NaN,NaN,NaN,NaN
36,cash dividends to exxonmobil shareholders,-14652.0,-3719.0,-7434.0,-11150.0,-14865.0,-3720.0,-7441.0,-11161.0,-14924.0,-3760.0
37,cash dividends to noncontrolling interests,-192.0,-45.0,-93.0,-137.0,-188.0,-52.0,-112.0,-166.0,-224.0,-60.0
38,changes in noncontrolling interests,158.0,94.0,317.0,511.0,623.0,53.0,-207.0,-278.0,-436.0,-94.0
39,common stock acquired,-594.0,-305.0,-305.0,-305.0,-405.0,-1.0,-1.0,-1.0,-155.0,-2067.0
40,net cash used in financing activities,-6618.0,8785.0,15062.0,10568.0,NaN,-7785.0,-14807.0,-22464.0,NaN,-6713.0
41,net cash provided by financing activities,NaN,NaN,NaN,NaN,5285.0,NaN,NaN,NaN,-35423.0,NaN
42,effects of exchange rate changes on cash,33.0,-369.0,-401.0,-331.0,-219.0,27.0,65.0,-12.0,-33.0,142.0
43,increase in cash and cash equivalents,47.0,8323.0,9487.0,5743.0,1275.0,-849.0,-899.0,404.0,2438.0,4272.0
44,cash and cash equivalents at beginning of year,3042.0,NaN,NaN,NaN,3089.0,NaN,NaN,NaN,4364.0,NaN
45,cash and cash equivalents at end of year,3089.0,NaN,NaN,NaN,4364.0,NaN,NaN,NaN,6802.0,NaN
46,cash and cash equivalents at beginning of period,NaN,3089.0,3089.0,3089.0,NaN,4364.0,4364.0,4364.0,NaN,6802.0
47,cash and cash equivalents at end of period,NaN,11412.0,12576.0,8832.0,NaN,3515.0,3465.0,4768.0,NaN,11074.0
48,supplemental disclosures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,income taxes paid,NaN,1372.0,1768.0,2341.0,NaN,855.0,2079.0,3516.0,NaN,1798.0
50,cash interest paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,cash interest paid - included in cash flows fr...,NaN,313.0,290.0,726.0,NaN,405.0,466.0,818.0,NaN,319.0
52,"cash interest paid - capitalized, included in ...",NaN,155.0,335.0,516.0,NaN,151.0,313.0,478.0,NaN,187.0
53,total cash interest paid,NaN,468.0,625.0,1242.0,NaN,556.0,779.0,1296.0,NaN,506.0
54,noncash right of use assets recorded in exchan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,noncash right of use assets recorded in exchan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,804.0,NaN,240.0
56,noncash right of use assets recorded in exchan...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168.0,NaN,656.0
57,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
class CompileBalanceStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Balance Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [192]:
class Balance:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileBalanceStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileBalanceStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [194]:
balance = Balance("WMT",2020)
balance.compiledStatement

,label,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022
0,current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cash and cash equivalents,7722,9255,9283,8606,9465,14930,16906,14325,17741,22846,22831,16111,14760
2,"receivables, net",6283,5342,5382,5612,6284,5029,5111,5770,6516,5797,6103,7349,8280
3,inventories,44269,44751,44134,51546,44435,41217,41084,51842,44949,46383,47754,57484,56511
4,prepaid expenses and other,3623,2391,2572,2148,1622,2152,1895,1665,20861,1565,1555,2020,1519
5,total current assets,61897,61739,61371,67912,61806,63328,64996,73602,90067,76591,78243,82964,81070
6,property and equipment:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,property and equipment,185810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,less accumulated depreciation,-81493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"property and equipment, net",104317,104604,104674,104326,105208,101872,101182,102232,92201,90996,91621,92242,94515
10,property under capital lease and financing obl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,property under capital lease and financing obl...,12760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,less accumulated amortization,-5682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"operating lease right-of-use assets, net",NaN,16833,17239,16944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,operating lease right-of-use assets,NaN,NaN,NaN,NaN,17424,16895,16869,17128,13642,13650,13868,13863,13758
15,"finance lease right-of-use assets, net",NaN,3804,3949,4155,4417,4611,4843,4929,4005,3979,4109,4226,4351
16,property under capital lease and financing obl...,7078,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,goodwill,31181,31416,31454,30716,31073,29416,29542,30236,28983,28872,29159,28923,29014
18,other long-term assets,14822,16148,16174,15777,16567,16770,19950,22736,23598,22493,21552,22633,22152
19,total assets,219295,234544,234861,239830,236495,232892,237382,250863,252496,236581,238552,244851,244860
20,current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,short-term borrowings,5225,4828,3681,4926,575,4048,357,240,224,362,671,447,410
22,accounts payable,47060,45110,45871,49750,46973,44096,46326,54152,49141,48151,49601,57156,55261
23,dividends payable,NaN,4551,3023,1507,NaN,4588,3060,1529,NaN,4651,3109,1528,NaN
24,accrued liabilities,22159,21023,20691,20973,22296,20377,23768,24995,37966,21371,23915,24474,26060
25,accrued income taxes,428,729,387,327,280,1303,610,548,242,851,267,446,851
26,long-term debt due within one year,1876,1464,4396,4093,5362,5983,5553,4358,3115,3500,1617,1575,2803
27,operating lease obligations due within one year,NaN,1748,1795,1740,1793,1729,1734,1725,1466,1448,1441,1486,1483
28,finance lease obligations due within one year,NaN,435,439,468,511,523,549,574,491,507,501,508,511
29,capital lease and financing obligations due wi...,729,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,total current liabilities,77477,79888,80283,83784,77790,82647,81957,88121,92645,80841,81122,87620,87379
31,long-term debt,43520,47425,44404,44912,43714,43006,40959,40849,41194,40273,39581,36425,34864
32,long-term operating lease obligations,NaN,15719,16079,15741,16171,15669,15669,15982,12909,12930,13116,13095,13009
33,long-term finance lease obligations,NaN,3810,3915,4068,4307,4474,4673,4750,3847,3802,3952,4061,4243
34,long-term capital lease and financing obligations,6683,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,deferred income taxes and other,11981,12792,13049,13018,12961,12986,12927,13657,14370,14143,13654,12893,13474
36,commitments and contingencies,,,,,,,,,,,,,
37,equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,common stock,288,286,285,284,284,284,283,283,282,280,278,277,276
39,capital in excess of par value,2965,2734,2880,3091,3247,2983,3197,3485,3646,3424,3655,4811,4839
40,retained earnings,80785,76276,78432,80656,83943,81141,87614,92279,88763,82577,84572,85674,86904
41,accumulated other comprehensive loss,-11542,-11091,-11270,-12382,-12805,-16168,-15784,-14616,-11766,-7946,-7976,-8488,-8766
42,total walmart shareholders' equity,72496,68205,70327,71649,74669,68240,75310,81431,80925,78335,80529,82274,83253
43,noncontrolling interest,7138,6705,6804,6658,6883,5870,5887,6073,6606,6257,6598,8483,8638
44,total equity,79634,74910,77131,78307,81552,74110,81197,87504,87531,84592,87127,90757,91891
45,total liabilities and equity,219295,234544,234861,239830,236495,232892,237382,250863,252496,236581,238552,244851,244860