In [11]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [298]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getPossibleFilingsFromYears(self, years):
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    def getExcelSheetsPostDate(self,Excel):
        years = range(self.fromDate,self.endDate+1)
        names = self.getPossibleFilingsFromYears(years)
        #names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in Excel.keys() if name in filing] 
        Excel = {file:Excel[file] for file in files}
        return Excel
    
    def reorderQuarters(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
        
    def getQuarters(self, compiledStatement):
        return list(compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = re.sub("\([\w\W]+?\)","",new_label)
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        new_label = new_label.replace("gain","loss").replace("decrease","increase").replace("  "," ").replace("â€”"," - ").replace("/","").strip()
        return new_label
    
    
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        excel = list(Excel.items())
        excel.reverse()
        for quarter,sheet in excel:
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            
            sheet = sheet.dropna(subset="label", axis=0, how="any")
            sheet = sheet[(~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True))|sheet[quarter].isnull()]
            
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            sheeti = statementi = 0
            newStatement = pd.DataFrame()
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)

                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    newStatement = pd.concat([newStatement, newRow], ignore_index=True)
                    
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+5,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    
                    statementi += 1
                    
                newStatement = newStatement.reset_index(drop=True)
                newStatement.index = newStatement.index+1
        
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])

            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [299]:
class CompileIncomeStatement(HelperFunctions):
    def __init__(self,ticker,fromDate, endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performIncomeMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
    
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    
    
    def performIncomeMath(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["Q3 "+year]
                compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]
        return compiledStatement

In [300]:
class Income:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileIncomeStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileIncomeStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [301]:
income = Income("MSFT",2017)
income.compiledStatement

,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,...,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,revenue,NaN,NaN,NaN,NaN,NaN,110360.00,29084.00,32471.00,30571.00,...,37154.00,43076.00,41706.00,126382.00,168088.00,45317.00,51728.00,49360.00,148910.0,198270
1,product,57190.00,14298.00,17926.00,15114.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,service and other,32760.00,10240.00,10992.00,11705.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,total revenue,89950.00,24538.00,28918.00,26819.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cost of revenue,NaN,NaN,NaN,NaN,NaN,38353.00,9905.00,12423.00,10170.00,...,11002.00,14194.00,13045.00,39187.00,52232.00,13646.00,16960.00,15615.00,47035.0,62650
5,product,15175.00,2980.00,5498.00,3425.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,service and other,19086.00,5298.00,5566.00,5844.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,total cost of revenue,34261.00,8278.00,11064.00,9269.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,gross margin,55689.00,16260.00,17854.00,17550.00,54457.00,72007.00,19179.00,20048.00,20401.00,...,26152.00,28882.00,28661.00,87195.00,115856.00,31671.00,34768.00,33745.00,101875.0,135620
9,research and development,13037.00,3574.00,3504.00,3715.00,11011.00,14726.00,3977.00,4070.00,4316.00,...,4926.00,4899.00,5204.00,15512.00,20716.00,5599.00,5758.00,6306.00,18206.0,24512
10,sales and marketing,15539.00,3812.00,4562.00,4335.00,13134.00,17469.00,4098.00,4588.00,4565.00,...,4231.00,4947.00,5082.00,15035.00,20117.00,4547.00,5379.00,5595.00,16230.0,21825
11,general and administrative,4481.00,1166.00,1109.00,1208.00,3546.00,4754.00,1149.00,1132.00,1179.00,...,1119.00,1139.00,1327.00,3780.00,5107.00,1287.00,1384.00,1480.00,4420.0,5900
12,restructuring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,impairment and restructuring,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"impairment, integration, and restructuring",306.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,operating income,22326.00,7708.00,8679.00,8292.00,26766.00,35058.00,9955.00,10258.00,10341.00,...,15876.00,17897.00,17048.00,52868.00,69916.00,20238.00,22247.00,20364.00,63019.0,83383
16,"other income, net",NaN,276.00,490.00,349.00,NaN,NaN,266.00,127.00,145.00,...,248.00,440.00,NaN,NaN,1186.00,286.00,268.00,NaN,NaN,333
17,"other income , net",823.00,NaN,NaN,NaN,NaN,1416.00,NaN,NaN,NaN,...,NaN,NaN,188.00,NaN,NaN,NaN,NaN,-174.00,NaN,NaN
18,income before income taxes,23149.00,7984.00,9169.00,8641.00,27833.00,36474.00,10221.00,10385.00,10486.00,...,16124.00,18337.00,17236.00,53866.00,71102.00,20524.00,22515.00,20190.00,63526.0,83716
19,provision for income taxes,1945.00,1408.00,15471.00,1217.00,18686.00,19903.00,1397.00,1965.00,1677.00,...,2231.00,2874.00,1779.00,8052.00,9831.00,19.00,3750.00,3462.00,7516.0,10978
20,net income,21204.00,6576.00,-6302.00,7424.00,9147.00,16571.00,8824.00,8420.00,8809.00,...,13893.00,15463.00,15457.00,45814.00,61271.00,20505.00,18765.00,16728.00,56010.0,72738
21,earnings per share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
22,basic,2.74,0.85,-0.82,0.96,1.19,2.15,1.15,1.09,1.15,...,1.84,2.05,2.05,6.07,8.12,2.73,2.50,2.23,7.47,9.7
23,diluted,2.71,0.84,-0.82,0.95,1.18,2.13,1.14,1.08,1.14,...,1.82,2.03,2.03,6.02,8.05,2.71,2.48,2.22,7.43,9.65
24,weighted average shares outstanding:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
25,basic,7746.00,7708.00,7710.00,7698.00,2.00,7700.00,7673.00,7692.00,7672.00,...,7566.00,7555.00,7539.00,8.00,7547.00,7513.00,7505.00,7493.00,3.0,7496
26,diluted,7832.00,7799.00,7710.00,7794.00,0.00,7794.00,7766.00,7768.00,7744.00,...,7637.00,7616.00,7597.00,11.00,7608.00,7567.00,7555.00,7534.00,6.0,7540
27,cash dividends declared per common share,1.56,0.42,0.42,0.42,1.26,1.68,0.46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,product,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
29,revenue,NaN,NaN,NaN,NaN,NaN,64497.00,17299.00,16219.00,15448.00,...,15803.00,19460.00,16873.00,54201.00,71074.00,16631.00,20779.00,17366.00,55366.0,72732
30,cost of revenue,NaN,NaN,NaN,NaN,NaN,15420.00,3649.00,5885.00,3441.00,...,3597.00,6058.00,4277.00,13942.00,18219.00,3792.00,6331.00,4584.00,14480.0,19064
31,service and other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
32,revenue,NaN,NaN,NaN,NaN,NaN,45863.00,11785.00,16252.00,15123.00,...,21351.00,23616.00,24833.00,72181.00,97014.00,28686.00,30949.00,31994.00,93544.0,125538
33,cost of revenue,NaN,NaN,NaN,NaN,NaN,22933.00,6256.00,6538.00,6729.00,...,7405.00,8136.00,8768.00,25245.00,34013.00,9854.00,10629.00,11031.00,32555.0,43586

In [294]:
class CompileCashflowStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [295]:
CompileCashflowStatement("GPS",2022).compiledStatement

,label,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022
0,cash flows from operating activities:,NaN,NaN,NaN,NaN
1,net income,166.0,424.0,272.0,256.0
2,adjustments to reconcile net income to net cas...,NaN,NaN,NaN,NaN
3,depreciation and amortization,120.0,244.0,372.0,504.0
4,share-based compensation,36.0,72.0,97.0,139.0
...,...,...,...,...,...
72,supplemental disclosure of cash flow information:,NaN,NaN,NaN,NaN
73,cash paid for interest during the period,NaN,NaN,NaN,180.0
74,"interest paid, excluding capitalized interest,...",2.0,102.0,178.0,NaN
75,"cash paid for income taxes during the period, ...",20.0,147.0,181.0,215.0
76,cash paid for operating lease liabilities,NaN,NaN,NaN,1061.0

In [296]:
class Cashflow:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileCashflowStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileCashflowStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [297]:
cashflow = Cashflow("GPS",2019)
cashflow.compiledStatement

,label,Q1 2019,Q2 2019,Q3 2019,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022
0,cash flows from operating activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,net income,164.0,461.0,727.0,1003.0,227,395,535.0,351.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,adjustments to reconcile net income to net cas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,depreciation and amortization,140.0,280.0,425.0,578.0,138,277,417.0,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,amortization lease incentives,NaN,NaN,NaN,-61.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,cash paid for operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1061.0
153,"interest paid, including capitalized interest,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN,NaN,NaN,NaN
154,income taxes paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
155,"operating lease, payments",NaN,NaN,NaN,NaN,301,612,916.0,1244.0,NaN,NaN,NaN,1096.0,NaN,NaN,NaN,NaN
156,proceeds from revolving credit facility,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
class CompileBalanceStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Balance Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [213]:
class Balance:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileBalanceStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileBalanceStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [218]:
balance = Balance("MSFT",2019)
balance.compiledStatement

Year Ended 2018
Q1 2019 (2018)
Q2 2019 (2018)
Q3 2019
Year Ended 2019
Year Ended 2019
Q1 2020 (2019)
Q2 2020 (2019)
Q3 2020
Year Ended 2020
Year Ended 2020
Q1 2021 (2020)
Q2 2021 (2020)
Q3 2021
Year Ended 2021
Year Ended 2021
Q1 2022 (2021)
Q2 2022 (2021)
Q3 2022
Year Ended 2022
Year Ended 2018
Q1 2019 (2018)
Q2 2019 (2018)
Q3 2019
Year Ended 2019
Q1 2020 (2019)
Q2 2020 (2019)
Q3 2020
Year Ended 2020
Q1 2021 (2020)
Q2 2021 (2020)
Q3 2021
Year Ended 2021
Q1 2022 (2021)
Q2 2022 (2021)
Q3 2022
Year Ended 2022

,label,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022
0,current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,cash and cash equivalents,11946,15137,6638,11212,11356,13117,8864,11710,13576,17205,14432,13702,14224,19165,20604,12498,13931
2,short-term investments,121822,120743,121024,120406,122463,123519,125389,125916,122951,120772,117536,111705,116110,111450,104765,92195,90826
3,"total cash, cash equivalents, and short-term i...",133768,135880,127662,131618,133819,136636,134253,137626,136527,137977,131968,125407,130334,130615,125369,104693,104757
4,"accounts receivable, net of allowance for doub...",26481,17390,19680,19269,29524,19087,23525,22699,32011,22851,27312,26322,38043,27349,33520,32613,44261
5,inventories,2662,3614,1961,1951,2063,2622,1823,1644,1895,2705,1924,2245,2636,3411,3019,3296,3742
6,other,6751,7311,7571,7049,10146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,other current assets,NaN,NaN,NaN,NaN,NaN,7551,7473,8536,11482,13544,12769,11640,13393,12951,12280,13320,16924
8,total current assets,169662,164195,156874,159887,175552,165896,167074,170505,181915,177077,173973,165614,184406,174326,174188,153922,169684
9,"property and equipment, net of accumulated dep...",29460,31430,32717,33648,36477,38409,40522,41221,44151,47927,51737,54945,59715,63772,67214,70298,74398
10,operating lease right-of-use assets,6686,6734,6806,7121,7379,7890,8439,8448,8753,9047,10298,10673,11088,11575,12354,12916,13148
11,equity and other investments,1862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,equity investments,NaN,2034,2274,2403,2649,2684,2755,2660,2965,3103,3794,5395,5984,6393,6994,6907,6891
13,goodwill,35683,35855,41577,41861,42026,42113,42248,42064,43351,43890,44219,49698,49711,50455,50921,67371,67524
14,"intangible assets, net",8053,7579,8482,8103,7750,7508,7126,6855,7038,6923,6555,8127,7800,7794,7462,11348,11298
15,other long-term assets,7442,9792,10129,10258,14723,14455,14630,13696,13138,13034,13561,14427,15075,21103,21256,21845,21897
16,total assets,258848,257619,258859,263281,286556,278955,282794,285449,301311,301001,304137,308879,333779,335418,340389,344607,364840
17,current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
18,accounts payable,8617,8511,7563,7544,9382,8574,8811,9246,12530,12509,12770,13412,15163,14832,15314,16085,19000
19,short-term debt,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,current portion of long-term debt,3998,6497,3516,6515,5516,3017,6247,3748,3749,6497,5387,8051,8072,3249,4998,1749,2749
21,accrued compensation,6103,4271,4624,5764,6830,4676,5421,6254,7874,5714,6838,8032,10057,6894,7782,9067,10661
22,short-term income taxes,2121,2341,2033,1950,5665,3440,2687,3296,2130,2384,1562,2165,2174,6272,3731,4646,4067
23,short-term unearned revenue,28905,26704,24285,24251,32676,29904,27343,27012,36000,33476,30402,30083,41525,38465,34001,34027,45538
24,other,8744,7953,8297,7837,9351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,other current liabilities,NaN,NaN,NaN,NaN,NaN,8507,9131,9151,10027,9476,10527,10450,11666,10816,11684,11865,13067
26,total current liabilities,58488,56277,50318,53861,69420,58118,59640,58707,72310,70056,67486,72193,88657,80528,77510,77439,95082
27,long-term debt,72242,69733,69653,66585,66662,66478,63361,62862,59578,57055,55136,50007,50074,50039,48260,48177,47032
28,long-term income taxes,30265,28936,29161,29514,29612,28457,28754,28888,29432,28204,26701,27157,27190,25715,26121,26483,26069
29,long-term unearned revenue,3815,3538,3799,3884,4530,4122,3878,3385,3180,2829,2985,2631,2616,2550,2768,2769,2870
30,deferred income taxes,541,1977,2062,1838,233,234,222,185,204,187,174,173,198,212,199,304,230
31,operating lease liabilities,5568,5652,5683,5972,6188,6659,7172,7248,7671,7753,8875,9272,9629,10050,10774,11357,11489
32,other long-term liabilities,5211,5539,6055,6763,7581,8826,9658,9673,10632,11525,12544,12941,13427,14346,14747,15154,15526
33,total liabilities,176130,171652,166731,168417,184226,172894,172685,170948,183007,177609,173901,174374,191791,183440,180379,181683,198298
34,commitments and contingencies,,,,,,,,,,,,,,,,,
35,stockholdersâ€™ equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
36,common stock and paid-in capital â€“ shares auth...,71223,71303,77556,77791,78520,78882,79625,79813,80552,81089,81896,82308,83111,83751,84528,85767,86939
37,retained earnings,13682,17279,16585,18338,24150,27240,30739,32012,34566,39193,44973,50735,57055,66944,75045,79633,84281
38,accumulated other comprehensive income,-2187,NaN,NaN,NaN,NaN,NaN,NaN,2676,3186,3110,3367,1462,1822,1283,437,-2476,-4678
39,accumulated other comprehensive loss,NaN,-2615,-2013,-1265,-340,-61,-255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,total stockholdersâ€™ equity,82718,85967,92128,94864,102330,106061,110109,114501,118304,123392,130236,134505,141988,151978,160010,162924,166542
41,total liabilities and stockholders' equity,258848,257619,258859,263281,286556,278955,NaN,NaN,301311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,total liabilities and stockholdersâ€™ equity,NaN,NaN,NaN,NaN,NaN,NaN,282794,285449,NaN,301001,304137,308879,333779,335418,340389,344607,364840