In [11]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime

In [15]:
class FinancialReport():
    def __init__(self,file):
        self.file = file
        self.readFile()
        self.findBalanceSheet()
    def readFile(self):
        path = os.path.join("financial statements",self.file)
        self.statements = pd.read_excel(path,sheet_name=None)
    def getSheetNames(self):
        return self.statements.keys()
    def findBalanceSheet(self):
        balanceSheetName = [name for name in self.getSheetNames() if "BALANCE" in name][0]
        self.balance = self.statements[balanceSheetName]
        self.balance.columns = ["label"]+list(self.balance.columns[1:])
    def getBalanceSheet(self):
        return self.balance

In [37]:
class Balance():
    def __init__(self):
        self.finalBalance = pd.DataFrame(columns=["title","title_order","label"])
        self.setFinancialStatements()
        self.addDataToBalanceSheet()
#         self.rearrangeFinalBalanceSheet()
#         self.setQuarters()
        
    def getFiles(self):
        files = os.listdir("financial statements")
        files.remove(".DS_Store")
        files = [file for file in files if file[0] != "~"]
        return files

    def setFinancialStatements(self):
        self.files = self.getFiles()
        self.FinancialReports = [FinancialReport(file) for file in self.files]
        
    def addDataToBalanceSheet(self):
        
        for FinancialStatements in self.FinancialReports:
            balance = FinancialStatements.getBalanceSheet().copy()
            
            cols = ["label"]+[col for col in balance.columns[1:] if col not in self.finalBalance.columns] ## remove columns of data already in main balance sheet
            balance = balance[cols]
            
            balance = self.parseStatement(balance)
            
            self.finalBalance = pd.merge(self.finalBalance, balance, how="outer",on=["label","title"],suffixes=('', '_x'))
            
            self.finalBalance.title_order = [self.merge_number(self.finalBalance.title_order[i],self.finalBalance.title_order_x[i]) for i in range(len(self.finalBalance))] #merge the number for the titles. use greatest num bc bigger num means there is section before it
            self.finalBalance = self.finalBalance.drop(["title_order_x"],axis=1)

    def rearrangeFinalBalanceSheet(self):
        self.finalBalance = self.finalBalance.replace(" ",np.nan)

        # put totals at the bottom of each section
        totals = self.finalBalance.loc[self.finalBalance.label.str.startswith("total")].reset_index(drop=True) 
        self.finalBalance = self.finalBalance.loc[~self.finalBalance.label.str.startswith("total")].reset_index(drop=True)
        self.finalBalance = pd.concat([self.finalBalance,totals]) 
        self.finalBalance = self.finalBalance.reset_index(drop=True).reset_index()
        self.finalBalance = self.finalBalance.sort_values(["title_order","index"]) # order by title and then location
        self.finalBalance = self.finalBalance.drop(["index","title_order"],axis=1)

    def parseStatement(self,sheet):
        num = 0
        index = []
        title = False
        for label in sheet.label:
            if ":" in label:
                title = re.sub("\([\w\W]+\)","",label[:-1]).replace("  "," ")
                num += 1
                continue
            if title:
                new_label = label.lower()
                new_label = new_label.replace("gain","loss")
                new_label = re.sub("\([\w\W]+\)","",new_label).replace("  "," ").strip()
                new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
                new_label = self.clean_up_string(new_label)
                
                print([title,num,label,new_label])
                index.append([title,num,label,new_label])
            
            if "total" == new_label[:5]:
                title = np.nan
                num += 1

        sheet = sheet.loc[sheet.label.isin(np.array(index)[:,2])].copy()
        sheet.loc[:,["title","title_order","label"]] = list(np.array(index)[:,[0,1,3]])
        sheet = sheet.set_index(["title","title_order","label"]).reset_index()
        return sheet
    
    def clean_up_string(self,string):
        string = string.strip()
        space_positions = [x.start() for x in re.finditer('\ ',  string)]
        for i in reversed(space_positions):
            if string[i+1:] in ["of", "and"]:
                string = string[:i]
        return string
    
    def merge_number(self,a,b):
        if pd.isnull(a):
            return b
        if pd.isnull(b):
            return a
        return max(a,b)
    def setQuarters(self):
        dates = list(self.finalBalance.columns[2:])
        dates.sort(key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        self.finalBalance = self.finalBalance[["title","label"]+dates]
        self.finalBalance.columns = ["title","label"]+[self.parseQuarter(date) for date in self.finalBalance.columns[2:]]
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Q4 "+str(int(year))

In [38]:
balance = Balance()
balance.finalBalance

['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Short-term investments', 'short-term investments']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Total long-term debt', 'total long-term debt']
[nan, 7, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
[nan, 7, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
[nan, 7, 'Total long-term liabilities', 'total long-term liabilities']
[nan, 8, 'Commitments and contingencies (see Note 9)', 'commitments and contingencies']
[nan, 8, 'Common stock, shares outstanding (in shares)', 'common stock, shares outstanding']
["Stockholders' equity", 9, 'Authorized 2,300 shares for all periods presented', 'authorized shares for all periods presented']
["Stockholders' equity", 9, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 9, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 9, 'Amounts reclassified from accumulated other comprehensive income', 'amounts reclassified from accumulated other comprehensive income']
["Stockholders' equity", 9, "Total stockholders' equity", "total stockholders' equity"]
[nan, 10, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
[nan, 11, 'Property and equipment, accumulated depreciation', 'property and equipment, accumulated depreciation']
[nan, 11, 'Common stock, shares issued (in shares)', 'common stock, shares issued']
[nan, 11, 'Common stock, shares authorized (in shares)', 'common stock, shares authorized']
[nan, 11, 'Common stock, par value (in dollars per share)', 'common stock, par value']
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Available-for-sale Securities, Current', 'available-for-sale securities, current']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation of $5,891, $5,839, and $5,999', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Total long-term debt', 'total long-term debt']
[nan, 7, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
[nan, 7, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
[nan, 7, 'Total long-term liabilities', 'total long-term liabilities']
[nan, 8, 'Commitments and contingencies (see Note 9)', 'commitments and contingencies']
[nan, 8, 'Common stock, shares outstanding (in shares)', 'common stock, shares outstanding']
["Stockholders' equity", 9, 'Authorized 2,300 shares for all periods presented; Issued and Outstanding 371, 371, and 373 shares', 'authorized shares for all periods presented; issued and outstanding and shares']
["Stockholders' equity", 9, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 9, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 9, 'Amounts reclassified from accumulated other comprehensive income', 'amounts reclassified from accumulated other comprehensive income']
["Stockholders' equity", 9, "Total stockholders' equity", "total stockholders' equity"]
[nan, 10, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
[nan, 11, 'Property and equipment, accumulated depreciation', 'property and equipment, accumulated depreciation']
[nan, 11, 'Common stock, shares issued (in shares)', 'common stock, shares issued']
[nan, 11, 'Common stock, shares authorized (in shares)', 'common stock, shares authorized']
[nan, 11, 'Common stock, par value (in dollars per share)', 'common stock, par value']
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Available-for-sale Securities, Current', 'available-for-sale securities, current']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation of $5,871, $5,755, and $6,025', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Total long-term debt', 'total long-term debt']
[nan, 7, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
[nan, 7, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
[nan, 7, 'Total long-term liabilities', 'total long-term liabilities']
[nan, 8, 'Commitments and contingencies (see Note 11)', 'commitments and contingencies']
["Stockholders' equity", 9, 'Authorized 2,300 shares for all periods presented; Issued and Outstanding 378, 378, and 387 shares', 'authorized shares for all periods presented; issued and outstanding and shares']
["Stockholders' equity", 9, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 9, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 9, 'Amounts reclassified from accumulated other comprehensive income', 'amounts reclassified from accumulated other comprehensive income']
["Stockholders' equity", 9, "Total stockholders' equity", "total stockholders' equity"]
[nan, 10, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Available-for-sale Securities, Current', 'available-for-sale securities, current']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Total long-term debt', 'total long-term debt']
[nan, 7, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
[nan, 7, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
[nan, 7, 'Total long-term liabilities', 'total long-term liabilities']
[nan, 8, 'Commitments and contingencies (see Note 9)', 'commitments and contingencies']
[nan, 8, 'Common stock, shares outstanding (in shares)', 'common stock, shares outstanding']
["Stockholders' equity", 9, 'Authorized 2,300 shares for all periods presented', 'authorized shares for all periods presented']
["Stockholders' equity", 9, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 9, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 9, 'Amounts reclassified from accumulated other comprehensive income', 'amounts reclassified from accumulated other comprehensive income']
["Stockholders' equity", 9, "Total stockholders' equity", "total stockholders' equity"]
[nan, 10, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
[nan, 11, 'Property and equipment, accumulated depreciation', 'property and equipment, accumulated depreciation']
[nan, 11, 'Common stock, shares issued (in shares)', 'common stock, shares issued']
[nan, 11, 'Common stock, shares authorized (in shares)', 'common stock, shares authorized']
[nan, 11, 'Common stock, par value (in dollars per share)', 'common stock, par value']
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Available-for-sale Securities, Current', 'available-for-sale securities, current']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation of $5,933, $5,839, and $5,926', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Total long-term debt', 'total long-term debt']
[nan, 7, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
[nan, 7, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
[nan, 7, 'Total long-term liabilities', 'total long-term liabilities']
[nan, 8, 'Commitments and contingencies (see Note 9)', 'commitments and contingencies']
["Stockholders' equity", 9, 'Authorized 2,300 shares for all periods presented; Issued and Outstanding 374, 371, and 376 shares', 'authorized shares for all periods presented; issued and outstanding and shares']
["Stockholders' equity", 9, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 9, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 9, 'Amounts reclassified from accumulated other comprehensive income', 'amounts reclassified from accumulated other comprehensive income']
["Stockholders' equity", 9, "Total stockholders' equity", "total stockholders' equity"]
[nan, 10, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Short-term Investments', 'short-term investments']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation of $5,839 and $5,755', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Long-term debt', 'long-term debt']
['Long-term liabilities', 6, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
['Long-term liabilities', 6, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
['Long-term liabilities', 6, 'Total long-term liabilities', 'total long-term liabilities']
["Stockholders' equity", 8, 'Common stock $0.05 par value, Authorized 2,300 shares for all periods presented; Issued and Outstanding 371 and 378 shares', 'common stock. par value, authorized shares for all periods presented; issued and outstanding and shares']
["Stockholders' equity", 8, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 8, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 8, 'Accumulated other comprehensive income', 'accumulated other comprehensive income']
["Stockholders' equity", 8, "Total stockholders' equity", "total stockholders' equity"]
[nan, 9, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Short-term Investments', 'short-term investments']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation of $5,755 and $5,962', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Long-term debt', 'long-term debt']
['Long-term liabilities', 6, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
['Long-term liabilities', 6, 'Total long-term liabilities', 'total long-term liabilities']
["Stockholders' equity", 8, 'Common stock $0.05 par value, Authorized 2,300 shares for all periods presented; Issued and Outstanding 389 and 399 shares', 'common stock. par value, authorized shares for all periods presented; issued and outstanding and shares']
["Stockholders' equity", 8, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 8, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 8, 'Accumulated other comprehensive income', 'accumulated other comprehensive income']
["Stockholders' equity", 8, "Total stockholders' equity", "total stockholders' equity"]
[nan, 9, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
['Current assets', 1, 'Cash and cash equivalents', 'cash and cash equivalents']
['Current assets', 1, 'Available-for-sale Securities, Current', 'available-for-sale securities, current']
['Current assets', 1, 'Merchandise inventory', 'merchandise inventory']
['Current assets', 1, 'Other current assets', 'other current assets']
['Current assets', 1, 'Total current assets', 'total current assets']
[nan, 2, 'Property and equipment, net of accumulated depreciation of $5,616, $5,608, and $5,886', 'property and equipment, net of accumulated depreciation']
[nan, 2, 'Operating Lease, Right-of-Use Asset', 'operating lease, right-of-use asset']
[nan, 2, 'Other long-term assets', 'other long-term assets']
[nan, 2, 'Total assets', 'total assets']
[nan, 3, 'Line of Credit Facility, Fair Value of Amount Outstanding', 'line of credit facility, fair value of amount outstanding']
['Current liabilities', 4, 'Accounts payable', 'accounts payable']
['Current liabilities', 4, 'Accrued expenses and other current liabilities', 'accrued expenses and other current liabilities']
['Current liabilities', 4, 'Operating Lease, Liability, Current', 'operating lease, liability, current']
['Current liabilities', 4, 'Income taxes payable', 'income taxes payable']
['Current liabilities', 4, 'Total current liabilities', 'total current liabilities']
['Long-term liabilities', 6, 'Total long-term debt', 'total long-term debt']
[nan, 7, 'Operating Lease, Liability, Noncurrent', 'operating lease, liability, noncurrent']
[nan, 7, 'Lease incentives and other long-term liabilities', 'lease incentives and other long-term liabilities']
[nan, 7, 'Total long-term liabilities', 'total long-term liabilities']
[nan, 8, 'Commitments and contingencies (see Note 9)', 'commitments and contingencies']
[nan, 8, 'Common stock, shares outstanding (in shares)', 'common stock, shares outstanding']
["Stockholders' equity", 9, 'Authorized 2,300 shares for all periods presented; Issued and Outstanding 377, 374, and 373 shares', 'authorized shares for all periods presented; issued and outstanding and shares']
["Stockholders' equity", 9, 'Additional Paid in Capital', 'additional paid in capital']
["Stockholders' equity", 9, 'Retained earnings', 'retained earnings']
["Stockholders' equity", 9, 'Amounts reclassified from accumulated other comprehensive income', 'amounts reclassified from accumulated other comprehensive income']
["Stockholders' equity", 9, "Total stockholders' equity", "total stockholders' equity"]
[nan, 10, "Total liabilities and stockholders' equity", "total liabilities and stockholders' equity"]
[nan, 11, 'Property and equipment, accumulated depreciation', 'property and equipment, accumulated depreciation']

,title_order,title,label,"Oct. 30, 2021","Jan. 30, 2021","Oct. 31, 2020","Feb. 01, 2020","Nov. 02, 2019","May 04, 2019","Feb. 02, 2019","May 05, 2018","Jul. 31, 2021","Aug. 01, 2020","Aug. 03, 2019","Feb. 03, 2018","May 01, 2021","May 02, 2020","Aug. 04, 2018","Jan. 29, 2022","Nov. 03, 2018"
0,1,Current assets,cash and cash equivalents,801,1988,2471,1364,788,941,1081,1210,2375,2188,1177,1783.0,2066,1028,1322,877.00,958
1,1,Current assets,short-term investments,275,410,178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,NaN
2,1,Current assets,merchandise inventory,2721,2451,2747,2156,2720,2242,2131,2035,2281,2242,2326,1997.0,2370,2217,2202,3018.00,2668
3,1,Current assets,other current assets,1410,1159,966,706,770,757,751,778,1201,882,770,788.0,1091,920,780,1270.00,792
4,1,Current assets,total current assets,5207,6008,6362,4516,4572,4212,4251,4187,6194,5337,4567,4568.0,6002,4216,4590,5165.00,4714
5,2,nan,"property and equipment, net of accumulated dep...",2924,2841,2846,3122,3225,3129,2912,2791,2897,2895,3141,2805.0,2839,2945,2832,3037.00,2887
6,2,nan,"operating lease, right-of-use asset",3788,4217,4460,5402,5796,5732,0,0,3975,4689,5807,NaN,4060,4851,0,NaN,0
7,2,nan,other long-term assets,861,703,705,639,525,547,886,607,693,795,528,616.0,703,698,588,884.00,572
8,2,nan,total assets,12780,13769,14373,13679,14118,13620,8049,7585,13759,13716,14043,7989.0,13604,12710,8010,12761.00,8173
9,4,Current liabilities,accounts payable,1630,1743,2284,1174,1241,994,1126,1072,1583,1629,1246,1181.0,1530,971,1297,1951.00,1299
10,4,Current liabilities,accrued expenses and other current liabilities,1414,1276,1283,1067,974,882,1024,975,1252,1124,908,1270.0,1294,1051,1026,1367.00,1070
11,4,Current liabilities,"operating lease, liability, current",746,831,823,920,934,929,0,0,789,856,946,NaN,798,886,0,NaN,0
12,4,Current liabilities,income taxes payable,33,34,41,48,43,26,24,11,27,40,34,10.0,16,23,18,25.00,24
13,4,Current liabilities,total current liabilities,3823,3884,4431,3209,3192,2831,2174,2058,3651,3649,3134,2461.0,3638,3431,2341,4077.00,2393
14,6,Long-term liabilities,total long-term debt,1484,2216,2214,1249,1249,1249,1249,1249,2220,2212,1249,NaN,2218,1250,1249,NaN,1249
15,7,nan,"operating lease, liability, noncurrent",4163,4617,4899,5508,5650,5597,0,0,4348,5179,5644,NaN,4449,5331,0,NaN,0
16,7,nan,lease incentives and other long-term liabilities,523,438,458,397,393,372,1073,1081,520,423,391,NaN,493,381,1080,NaN,1091
17,7,nan,total long-term liabilities,6170,7271,7571,7154,7292,7218,2322,2330,7088,7814,7284,NaN,7160,6962,2329,NaN,2340
18,8,nan,commitments and contingencies,,,,,,,,,,,,NaN,,,,NaN,
19,8,nan,"common stock, shares outstanding",374000,374000,374000,371000,373000,NaN,NaN,NaN,376000,374000,NaN,NaN,377000,373000,NaN,371000.00,NaN
20,9,Stockholders' equity,authorized shares for all periods presented,19,19,19,NaN,NaN,NaN,NaN,NaN,19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9,Stockholders' equity,additional paid in capital,71,85,60,0,0,0,0,0,114,39,0,8.0,118,17,0,43.00,0
22,9,Stockholders' equity,retained earnings,2681,2501,2268,3257,3573,3495,3481,3127,2879,2173,3551,3081.0,2667,2235,3268,2622.00,3368
23,9,Stockholders' equity,amounts reclassified from accumulated other co...,16,9,24,40,42,57,53,51,8,22,55,NaN,2,46,53,NaN,53
24,9,Stockholders' equity,total stockholders' equity,2787,2614,2371,3316,3634,3571,3553,3197,3020,2253,3625,3144.0,2806,2317,3340,2722.00,3440
25,9,nan,total liabilities and stockholders' equity,12780,13769,14373,13679,14118,13620,8049,7585,13759,13716,14043,7989.0,13604,12710,8010,12761.00,8173
26,11,nan,"property and equipment, accumulated depreciation",5486,5608,5891,5839,5999,NaN,NaN,NaN,5603,5933,NaN,NaN,5616,5886,NaN,NaN,NaN
27,11,nan,"common stock, shares issued",374000,374000,374000,371000,373000,NaN,NaN,NaN,376000,374000,NaN,NaN,377000,373000,NaN,371000.00,NaN
28,11,nan,"common stock, shares authorized",2300000,2300000,2300000,2300000,2300000,NaN,NaN,NaN,2300000,2300000,NaN,NaN,2300000,2300000,NaN,2300000.00,NaN
29,11,nan,"common stock, par value",50000,50000,50000,50000,50000,NaN,NaN,NaN,50000,50000,NaN,NaN,50000,50000,NaN,0.05,NaN
30,1,Current assets,"available-for-sale securities, current",NaN,NaN,NaN,290,294,272,288,164,337,25,294,NaN,475,51,286,NaN,296
31,9,Stockholders' equity,authorized shares for all periods presented; i...,NaN,NaN,NaN,19,19,19,19,19,NaN,NaN,19,NaN,19,19,19,NaN,19
32,6,Long-term liabilities,long-term debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1249.0,NaN,NaN,NaN,1484.00,NaN
33,6,Long-term liabilities,"operating lease, liability, noncurrent",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,6,Long-term liabilities,lease incentives and other long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1135.0,NaN,NaN,NaN,NaN,NaN
35,6,Long-term liabilities,total long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2384.0,NaN,NaN,NaN,5962.00,NaN
36,8,Stockholders' equity,"common stock. par value, authorized shares for...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN
37,8,Stockholders' equity,accumulated other comprehensive income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,38.00,NaN
38,3,nan,"line of credit facility, fair value of amount ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,500,NaN,NaN,NaN
39,4,Current liabilities,current maturities of debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2,nan,"accumulated depreciation, depletion and amorti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5071.00,NaN
41,2,nan,operating lease assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3675.00,NaN
42,4,Current liabilities,current portion of operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734.00,NaN
43,6,Long-term liabilities,long-term operating lease liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4033.00,NaN
44,6,Long-term liabilities,other long-term liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445.00,NaN
45,8,Stockholders' equity,"common stock. par value, authorized shares for...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.00,NaN
46,1,Current assets,"cash and cash equivalents, at carrying value",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1,Current assets,"other assets, current",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,4,Current liabilities,"accrued liabilities, current",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
balance.finalBalance.to_csv("finalBalance2.csv")

In [79]:
'Oct. 30, 2021'.split(", ")[-1]

'2021'