In [100]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [173]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getPossibleFilingsFromYears(self, years):
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    def getExcelSheetsPostDate(self,Excel):
        years = range(self.fromDate,self.endDate+1)
        names = self.getPossibleFilingsFromYears(years)
        names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in Excel.keys() if name in filing] 
        Excel = {file:Excel[file] for file in files}
        return Excel
    
    def reorderQuarters(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
        
    def getQuarters(self, compiledStatement):
        return list(compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = new_label.replace("gain","loss").replace("decrease","increase").replace("  "," ").replace("—"," - ").strip()
        new_label = re.sub("\s\([\w\W]+?\)","",new_label)
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        return new_label
    
    
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        
        for quarter,sheet in list(Excel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            #sheet = sheet.dropna(axis=0, how="any")
            sheet = sheet[(~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True))|sheet[quarter].isnull()]

            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+4,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])
            
            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [174]:
class CompileIncomeStatement(HelperFunctions):
    def __init__(self,ticker,fromDate, endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performIncomeMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
    
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    
    
    def performIncomeMath(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["Q3 "+year]
                compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]
        return compiledStatement

In [175]:
class Income:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileIncomeStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileIncomeStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [179]:
income = Income("GPS",2019)
income.compiledStatement

,label,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,...,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,net sales,15855.00,3783.0000,4085.0000,4089.0000,NaN,NaN,3706.0000,4005.0000,3998.0000,...,2107.00,3275.00,3994.00,NaN,NaN,3991.00,4211.00,3943.0,1.667000e+10,1.667000e+10
1,revenues,NaN,NaN,NaN,NaN,NaN,16580.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.380000e+10,NaN,NaN,NaN,NaN,NaN
2,cost of goods sold and occupancy expenses,9789.00,2356.0000,2458.0000,2466.0000,7792.00,10258.00,2362.0000,2449.0000,2439.0000,...,1839.00,2126.00,2374.00,9.094998e+09,9.095000e+09,2361.00,2388.00,2282.0,1.003300e+10,1.003300e+10
3,gross profit,6066.00,1427.0000,1627.0000,1623.0000,4699.00,6322.00,1344.0000,1556.0000,1559.0000,...,268.00,1149.00,1620.00,4.704998e+09,4.705000e+09,1630.00,1823.00,1661.0,6.636998e+09,6.637000e+09
4,operating expenses,4587.00,1198.0000,1229.0000,1260.0000,3700.00,4960.00,1028.0000,1274.0000,1338.0000,...,1512.00,1076.00,1445.00,5.566999e+09,5.567000e+09,1390.00,1414.00,1508.0,5.826998e+09,5.827000e+09
5,operating income,1479.00,229.0000,398.0000,363.0000,999.00,1362.00,316.0000,282.0000,221.0000,...,-1244.00,73.00,175.00,-8.620002e+08,-8.620000e+08,240.00,409.00,153.0,8.099998e+08,8.100000e+08
6,loss on extinguishment of debt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,58.00,0.00,5.800000e+07,5.800000e+07,NaN,0.00,325.0,3.249997e+08,3.250000e+08
7,interest expense,74.00,16.0000,17.0000,21.0000,52.00,73.00,20.0000,19.0000,19.0000,...,19.00,58.00,55.00,1.919999e+08,1.920000e+08,54.00,51.00,44.0,1.670000e+08,1.670000e+08
8,interest income,-19.00,-6.0000,-7.0000,-8.0000,-25.00,-33.00,-6.0000,-8.0000,-7.0000,...,-4.00,-2.00,-1.00,-9.999999e+06,-1.000000e+07,-1.00,-1.00,-1.0,-4.999999e+06,-5.000000e+06
9,income before income taxes,1424.00,219.0000,388.0000,350.0000,972.00,1322.00,302.0000,271.0000,209.0000,...,-1259.00,-41.00,121.00,-1.102000e+09,-1.102000e+09,187.00,359.00,-215.0,3.230002e+08,3.230000e+08
10,income taxes,576.00,55.0000,91.0000,84.0000,235.00,319.00,75.0000,103.0000,69.0000,...,-327.00,21.00,26.00,-4.370000e+08,-4.370000e+08,21.00,101.00,-63.0,6.700006e+07,6.700000e+07
11,net income,848.00,164.0000,297.0000,266.0000,737.00,1003.00,227.0000,168.0000,140.0000,...,-932.00,-62.00,95.00,-6.650001e+08,-6.650000e+08,166.00,258.00,-152.0,2.560002e+08,2.560000e+08
12,weighted-average number of shares - basic,393.00,389.0000,387.0000,384.0000,385.00,385.00,379.0000,378.0000,375.0000,...,372.00,374.00,374.00,3.740000e+02,3.740000e+02,376.00,378.00,376.0,3.760000e+02,3.760000e+02
13,weighted-average number of shares - diluted,396.00,393.0000,390.0000,387.0000,388.00,388.00,381.0000,379.0000,376.0000,...,372.00,374.00,380.00,3.740000e+02,3.740000e+02,385.00,386.00,376.0,3.830000e+02,3.830000e+02
14,earnings per share - basic,2.16,0.4200,0.7700,0.6900,1.92,2.61,0.6000,0.4400,0.3700,...,-2.51,-0.17,0.25,-2.030000e+00,-1.780000e+00,0.44,0.68,-0.4,1.080000e+00,6.800000e-01
15,earnings per share - diluted,2.14,0.4200,0.7600,0.6900,1.90,2.59,0.6000,0.4400,0.3700,...,-2.51,-0.17,0.25,-2.030000e+00,-1.780000e+00,0.43,0.67,-0.4,1.070000e+00,6.700000e-01
16,cash dividends declared and paid per share,NaN,0.2425,0.2425,0.2425,NaN,NaN,0.2425,0.2425,0.2425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"common stock, dividends, per share, declared",NaN,NaN,NaN,NaN,NaN,0.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
class CompileCashflowStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [189]:
class Cashflow:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileCashflowStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileCashflowStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [190]:
cashflow = Cashflow("WMT",2020)
cashflow.compiledStatement

,label,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022
0,cash flows from operating activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,consolidated net income,7179.0,3906.0,7586.0,10907.0,15201.0,4074.0,10513.0,15714.0,13706.0,2811.0,7175.0,10307.0,13940.0
2,adjustments to reconcile income from continuin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,adjustments to reconcile consolidated net inco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,depreciation and amortization,10678.0,2714.0,5436.0,8159.0,10987.0,2791.0,5562.0,8333.0,11152.0,2661.0,5302.0,7952.0,10658.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,"cash, cash equivalents and restricted cash at ...",NaN,NaN,NaN,NaN,9515.0,NaN,NaN,NaN,17788.0,NaN,NaN,NaN,14834.0
57,supplemental disclosure of cash flow information:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,income taxes paid,3982.0,NaN,NaN,NaN,3616.0,NaN,NaN,NaN,5271.0,NaN,NaN,NaN,5918.0
59,interest paid,2348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2216.0,NaN,NaN,NaN,2237.0
60,"interest paid, excluding capitalized interest,...",NaN,NaN,NaN,NaN,2464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN