In [339]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests
import shutil
import yfinance

In [340]:

class SECSubmissions:
    def __init__(self,ticker):
        self.ticker = ticker 
        self.CIK = self.getCIK()
        self.filings = self.getSECFilings(self.CIK)
        self.filings = self.findDate(self.filings)
        self.fiscalYear = self.findFiscalYear(self.filings)
        self.filings = self.mergeFiscalYearWithFilings(self.filings, self.fiscalYear)
        self.filings = self.createSubmissionName(self.filings)
       
        
    def getCIK(self): #get SEC code for company based on ticker
        headers={"User-Agent": "Mozilla/5.0"}
        symbol_to_cik = requests.get("https://www.sec.gov/files/company_tickers.json").json() #returns a json dictionary with a indexed list of all different companies 
        ciks = {info["ticker"]:info["cik_str"] for key,info in symbol_to_cik.items()} #create dictionary indexable by ticker
        return ciks[self.ticker]
    
        
    #input: CIK
    #request the data on every submission to SEC website for the company
    def getSECFilings(self,CIK):
        headers={"User-Agent": "Mozilla/5.0"}
        edgar_filings = requests.get(f"https://data.sec.gov/submissions/CIK{CIK:0>10}.json", headers=headers).json()
        filings = pd.DataFrame(edgar_filings["filings"]["recent"])
        filings = filings.loc[filings["reportDate"]>"2014-01-01"]#filings pre-2014 are unable to be downloaded due to different excel format
        filings = filings.loc[filings["form"].isin(["10-Q","10-K"])].reset_index(drop=True) #drop all filings that are not 10Q or 10K
        return filings 
    
    #input filings
    #output filings with mo and year
    def findDate(self,filings):
        filings["Month"] = pd.to_datetime(filings["reportDate"]).dt.strftime("%m").astype("int") #get Month of all filings 
        filings["Year"] = pd.to_datetime(filings["reportDate"]).dt.strftime("%Y").astype("int") #get Year of all filings
        filings["Date"] = pd.to_datetime(filings["reportDate"]).dt.strftime("%m/%d/%Y")
        return filings
    
    #input a list of 10k filings with mo and year
    #find one fiscal year of data via 10k, then find all possible months filed and organize to fiscal period
    def findFiscalYear(self,filings):
        #get a fiscal Year of data by finding the last 10K and the three 10Qs before it
        TenKIndex = filings.loc[filings["form"]=="10-K"].index[0] 
        fiscalYearKey = filings.loc[TenKIndex:TenKIndex+3,["Month","form","Date"]].copy().reset_index(drop=True)
        fiscalYearKey["Period"] = ["Year Ended", "Q3","Q2","Q1"]
        
        #fiscal year data for certain period can vary between months ie. both Jan & Feb, therefore I found all possible months of filings and found appropriate period for each month
        fiscalYear = pd.DataFrame({"Month":filings.Month.unique()})
        fiscalYear.index = list(fiscalYear.Month.apply(lambda x: np.argmin(np.abs(fiscalYearKey.Month-x)))) #using fiscal year key, I found the index of the period in fiscalYearKey with closest month to each month 
        fiscalYear = pd.merge(fiscalYear,fiscalYearKey, left_index=True, right_index=True, suffixes=("","_x")) #I merged together together all of the possible months with their corresponding period based on the key
        fiscalYear = fiscalYear.drop(columns="Month_x")
        
        return fiscalYear
    
    #input filings of 10k/q
    #merge by month to find which fiscal period, if filing of 10q is later in year than 10k, then adjust year so it is a part of right fiscal year
    def mergeFiscalYearWithFilings(self, filings, fiscalYear):
        #merge fiscal year labels with filings by the month that they were reported
        filings = pd.merge(filings,fiscalYear,on=["Month","form"],how="left")    
        #set Fiscal Year
        filings["Fiscal Year"] = filings["Year"]
        #get Quarters that are a part of different fiscal Year than report date
        TenKMo = fiscalYear.loc[fiscalYear["form"]=="10-K"]["Month"].iloc[0]
        filings.loc[(filings["Month"]>TenKMo)&(filings["form"]!="10-K"),"Fiscal Year"] += 1 #the 10K is reported in a month before the 10Q so therefore the 10Q is the next fiscal year 
        
        return filings
    
    

    #input filings
    #take the fiscal period and year and create a string, if different fiscal Year than filing date use parenthesis
    def createSubmissionName(self,filings):
        filings["Name"] = filings.apply(self.submissionName,axis=1)
        return filings
        
    def submissionName(self,row):
        period = row["Period"]
        fiscalYear = row["Fiscal Year"]
        Year = row["Year"]
        if fiscalYear != Year:
                name = f"{period} {fiscalYear} ({Year})"
        else: 
                name = f"{period} {fiscalYear}"
        return name

In [341]:
SECSubmissions("AAPL").fiscalYear

   Month  form        Date      Period
0      9  10-K  09/25/2021  Year Ended
1      6  10-Q  06/26/2021          Q3
1      7  10-Q  06/26/2021          Q3
2      3  10-Q  03/27/2021          Q2
2      4  10-Q  03/27/2021          Q2
3     12  10-Q  12/26/2020          Q1

In [342]:
class HelperFunctions():
    #input: a list of quarters such as "Q2 2022"
    #iterates through a finds a date/year in the file
    def getYears(self,quarters): 
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    #input: compiledStatement
    #returns all quarters but removes first col of label
    def getQuarters(self, compiledStatement): 
        return list(compiledStatement.columns[1:])
    
    def getPossibleFilingsFromYears(self, years): 
        possible = [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
        possible += [q + " " + str(year) for year in years for q in ["6mo","9mo"]]
        return possible
    
    #input: compiledStatement
    #find all years in statement and get all possible filings in order then only keep the ones in actually in the statement
    def reorderQuarters(self,compiledStatement): 
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement

In [356]:
class WriteProductSales(SECSubmissions, HelperFunctions):
    def __init__(self,ticker):
        super().__init__(ticker)
        self.path =  os.path.join("../input",f"Financial Statement {self.ticker}")
        self.file = os.path.join(self.path,"Sales By Segment.xlsx")
        
        self.writeProductSalesData(self.filings)
    
    def parseStatementForSalesTable(self,edgar_str, name):
        
        soup = BeautifulSoup(edgar_str, 'html.parser')
        for table in soup.find_all('table'):
            table = [list(tr.stripped_strings) for tr in table.find_all('tr') if tr.text]
            y = ""
            for x in table: 
                for l in x:
                    y+=l
            if "iPhone" in y and "Total net sales" in y:
                finaltable = table
        table = [[x for x in row if x!="%" and x!="$" and "(" not in x] for row in finaltable]
        table = [row for row in table if row!=[]]
        indexstart = [i for i, row in enumerate(table) if "iPhone" in row[0]][0]
        table = table[indexstart:]
        indexend = [i for i, row in enumerate(table) if "Total net sales" in row[0]][0]
        table = table[:indexend+1]
        df = pd.DataFrame(table).iloc[:,[0,1]]
        df.columns = ["label",name]
        return df 
    #input: filings
    #iterate through and use the accession number to grab filings from SEC, compile into excel spreadsheet
    def writeProductSalesData(self,filings):
        finalSales = pd.DataFrame(columns=["label"])
        for i,row in self.filings.iterrows():
            name = row["Name"]
            if row["Fiscal Year"]<=2016 and name != "Year Ended 2016":
                break
            name = re.sub("\s\([\w\W]+?\)","",name)
            accessionNum = row["accessionNumber"].replace("-","")
            doc = row["primaryDocument"]
            url = f"https://www.sec.gov/Archives/edgar/data/{self.CIK}/{accessionNum}/{doc}"
            print(url)
            req = requests.get(url,headers={"User-Agent": "Mozilla/5.0"})
            edgar_str = req.text
            sales = self.parseStatementForSalesTable(edgar_str, name)
            sales[name] = pd.to_numeric(sales[name].replace(r",","",regex=True))
            finalSales = pd.merge(finalSales, sales, on="label", how="outer")
        
        cols = list(finalSales.columns)[1:]
        cols.reverse()
        finalSales = finalSales[["label"]+cols]
        finalSales = self.performIncomeMath(finalSales)
        finalSales = self.reorderQuarters(finalSales)
        finalSales.to_excel(self.file, index=False)
        
    
    def performIncomeMath(self,compiledStatement): 
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
         #replace the nan values with 0 so that the subtraction between an nan value does not result in nan
        c = compiledStatement.copy().replace(r'\s+', np.nan, regex=True).fillna(0).drop(columns="label")
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = c["Year Ended "+year] - c["Q3 "+year] - c["Q2 "+year] - c["Q1 "+year]
        
        compiledStatement = compiledStatement.replace(0,np.nan)
        return compiledStatement

In [357]:
WriteProductSales("AAPL")

https://www.sec.gov/Archives/edgar/data/320193/000032019322000070/aapl-20220625.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019322000059/aapl-20220326.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019322000007/aapl-20211225.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000105/aapl-20210925.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000065/aapl-20210626.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000056/aapl-20210327.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000010/aapl-20201226.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000062/aapl-20200627.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000052/a10-qq220203282020.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000010/a10-qq1202012282019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000119/a10-k20199282019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000076/a10-qq320196292019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000066/a10-qq220193302019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000010/a10-qq1201912292018.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019318000145/a10-k20189292018.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019318000100/a10-qq320186302018.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019318000070/a10-qq220183312018.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019318000007/a10-qq1201812302017.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019317000070/a10-k20179302017.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019317000009/a10-qq32017712017.htm
https://www.sec.gov/Archives/edgar/data/320193/000162828017004790/a10-qq22017412017.htm
https://www.sec.gov/Archives/edgar/data/320193/000162828017000717/a10-qq1201712312016.htm
https://www.sec.gov/Archives/edgar/data/320193/000162828016020309/a201610-k9242016.htm

In [337]:

class FindStockPrice:
    def __init__(self,ticker, fromDate=2017,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        self.path =  os.path.join("../input",f"Financial Statement {self.ticker}")
        self.file = os.path.join(self.path,"Stock Price.xlsx")
        
        self.fiscalYear = pd.read_csv(os.path.join(self.path,"fiscalYear.csv"))
        self.day = pd.to_datetime(self.fiscalYear["Date"]).dt.strftime("%d")[0]
        self.fiscalYear = self.fiscalYear.groupby("Period")["Month"].first()
        
        
        self.data()
        
        self.FinalStockPrices.to_excel(self.file,index=False)
    def data(self):
        FinalStockPrices = pd.DataFrame({"label":["Stock Price"]})
        TenKMo = self.fiscalYear.loc["Year Ended"]
        
        date = f"{self.fromDate-1}-{TenKMo:02d}-{self.day}"
        price = yfinance.download(self.ticker,start=date,progress=False)["Close"].iloc[0]
        FinalStockPrices[f"Year Ended {self.fromDate-1}"] = [price]
        
        for fiscalYear in range(self.fromDate, self.endDate+1):
            for period,mo in self.fiscalYear.iteritems():
                year = fiscalYear
                if mo > TenKMo:
                    year = year-1
                date = f"{fiscalYear}-{mo:02d}-{self.day}"
                if datetime.strptime(date, "%Y-%m-%d") > datetime.now():
                    continue
                price = yfinance.download(self.ticker,start=date,progress=False)["Close"].iloc[0]
                if period=="Year Ended":
                    FinalStockPrices[f"Q4 {year}"] = [price]
                FinalStockPrices[f"{period} {year}"] = [price]
               
        self.FinalStockPrices = FinalStockPrices

In [338]:
FindStockPrice("AAPL")

In [304]:
yfinance.download("AAPL",start="2016-09-25",progress=False)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-09-26,27.910000,28.347500,27.887501,28.219999,26.354940,119477600
2016-09-27,28.250000,28.295000,28.084999,28.272499,26.403969,98429600
2016-09-28,28.422501,28.660000,28.357500,28.487499,26.604757,118564400
2016-09-29,28.290001,28.450001,27.950001,28.045000,26.191505,143548000
2016-09-30,28.115000,28.342501,27.950001,28.262501,26.394630,145516400
...,...,...,...,...,...,...
2022-07-29,161.240005,163.630005,159.500000,162.509995,162.509995,101689200
2022-08-01,161.009995,163.589996,160.889999,161.509995,161.509995,67829400
2022-08-02,160.100006,162.410004,159.630005,160.009995,160.009995,59907000
2022-08-03,160.839996,166.589996,160.750000,166.130005,166.130005,82507500
2022-08-04,166.009995,167.190002,164.429993,165.809998,165.809998,55409400

In [397]:
class WriteGeographySales(SECSubmissions, HelperFunctions):
    def __init__(self,ticker):
        super().__init__(ticker)
        self.path =  os.path.join("../input",f"Financial Statement {self.ticker}")
        self.files = os.path.join(self.path,"Sales By Segment.xlsx")
        
        self.writeGeographySalesData(self.filings)
    
    def parseForUnitsTable(self,edgar_str, name):
        finaltable = False
        soup = BeautifulSoup(edgar_str, 'html.parser')
        for table in soup.find_all('table'):
            table = [list(tr.stripped_strings) for tr in table.find_all('tr') if tr.text]
            y = ""
            for x in table: 
                for l in x:
                    y+=l
            if "Unit Sales" in y:
                finaltable = table
        if not finaltable:
            return pd.DataFrame()
        table = [[x for x in row if x!="%" and x!="$" and "(" not in x] for row in finaltable]
        print(table)
        table = [row for row in table if row!=[]]
        indexstart = [i for i, row in enumerate(table) if "iPhone" in row[0]][0]
        table = table[indexstart:]
        df = pd.DataFrame(table).iloc[:,[0,1]]
        df.columns = ["label",name]
        df[name] = pd.to_numeric(df[name].replace(r",","",regex=True))
        return df 
    
    def parseForGeographyTable(self,edgar_str, name):
        
        soup = BeautifulSoup(edgar_str, 'html.parser')
        for table in soup.find_all('table'):
            table = [list(tr.stripped_strings) for tr in table.find_all('tr') if tr.text]
            y = ""
            for x in table: 
                for l in x:
                    y+=l
            if "Americas" in y and "Total net sales" in y:
                finaltable = table
        table = [[x for x in row if x!="%" and x!="$" and "(" not in x] for row in finaltable]
        table = [row for row in table if row!=[]]
        indexstart = [i for i, row in enumerate(table) if "Americas" in row[0]][0]
        table = table[indexstart:]
        indexend = [i for i, row in enumerate(table) if "Total net sales" in row[0]][0]
        table = table[:indexend+1]
        df = pd.DataFrame(table).iloc[:,[0,1]]
        df.columns = ["label",name]
        df[name] = pd.to_numeric(df[name].replace(r",","",regex=True))
        return df 
    
    def parseForProductsTable(self,edgar_str, name):
        soup = BeautifulSoup(edgar_str, 'html.parser')
        for table in soup.find_all('table'):
            table = [list(tr.stripped_strings) for tr in table.find_all('tr') if tr.text]
            y = ""
            for x in table: 
                for l in x:
                    y+=l
            if "iPhone" in y and "Total net sales" in y:
                finaltable = table
        table = [[x for x in row if x!="%" and x!="$" and "(" not in x] for row in finaltable]
        table = [row for row in table if row!=[]]
        indexstart = [i for i, row in enumerate(table) if "iPhone" in row[0]][0]
        table = table[indexstart:]
        indexend = [i for i, row in enumerate(table) if "Total net sales" in row[0]][0]
        table = table[:indexend+1]
        df = pd.DataFrame(table).iloc[:,[0,1]]
        df.columns = ["label",name]
        df[name] = pd.to_numeric(df[name].replace(r",","",regex=True))
        return df 
    
    #input: filings
    #iterate through and use the accession number to grab filings from SEC, compile into excel spreadsheet
    def writeGeographySalesData(self,filings):
        finalSales = pd.DataFrame(columns=["label"])
        for i,row in self.filings.iterrows():
            name = row["Name"]
            if row["Fiscal Year"]<=2016 and name != "Year Ended 2016":
                break
            name = re.sub("\s\([\w\W]+?\)","",name)
            accessionNum = row["accessionNumber"].replace("-","")
            doc = row["primaryDocument"]
            url = f"https://www.sec.gov/Archives/edgar/data/{self.CIK}/{accessionNum}/{doc}"
            print(url)
            req = requests.get(url,headers={"User-Agent": "Mozilla/5.0"})
            edgar_str = req.text
            
            geography_sales = self.parseForGeographyTable(edgar_str, name)
            finalGeography = pd.merge(finalGeography, geography_sales, on="label", how="outer")
            product_sales = self.parseForProductsTable(edgar_str, name)
            finalProduct = pd.merge(finalProducts, product_sales, on="label", how="outer")
            unit_sales = self.parseForUnitsTable(edgar_str, name)
            finalUnits = pd.merge(finalUnits, unit_sales, on="label", how="outer")
            
            if not unit_sales.empty:
                print(unit_sales)
                sales = pd.concat([sales,unit_sales])
            
        
        
        finalSales = self.performIncomeMath(finalSales)
        finalSales = self.reorderQuarters(finalSales)
        
        finalSales.to_excel(self.file, index=False)
    
   
    
    def performIncomeMath(self,compiledStatement): 
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
         #replace the nan values with 0 so that the subtraction between an nan value does not result in nan
        c = compiledStatement.copy().replace(r'\s+', np.nan, regex=True).fillna(0).drop(columns="label")
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = c["Year Ended "+year] - c["Q3 "+year] - c["Q2 "+year] - c["Q1 "+year]
        
        compiledStatement = compiledStatement.replace(0,np.nan)
        return compiledStatement

In [ ]:
WriteGeographySales("AAPL")

https://www.sec.gov/Archives/edgar/data/320193/000032019322000070/aapl-20220625.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019322000059/aapl-20220326.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019322000007/aapl-20211225.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000105/aapl-20210925.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000065/aapl-20210626.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000056/aapl-20210327.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019321000010/aapl-20201226.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000062/aapl-20200627.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000052/a10-qq220203282020.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019320000010/a10-qq1202012282019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000119/a10-k20199282019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000076/a10-qq320196292019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000066/a10-qq220193302019.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019319000010/a10-qq1201912292018.htm
https://www.sec.gov/Archives/edgar/data/320193/000032019318000145/a10-k20189292018.htm
[['2018', 'Change', '2017', 'Change', '2016'], ['Net Sales by Reportable Segment:'], ['Americas', '112,093', '16', '96,600', '12', '86,613'], ['Europe', '62,420', '14', '54,938', '10', '49,952'], ['Greater China', '51,942', '16', '44,764', ')%', '48,492'], ['Japan', '21,733', '23', '17,733', '5', '16,928'], ['Rest of Asia Pacific', '17,407', '15', '15,199', '11', '13,654'], ['Total net sales', '265,595', '16', '229,234', '6', '215,639'], [], ['Net Sales by Product:'], ['iPhone', '166,699', '18', '141,319', '3', '136,700'], ['iPad', '18,805', ')%', '19,222', ')%', '20,628'], ['Mac', '25,484', ')%', '25,850', '13', '22,831'], ['Services', '37,190', '24', '29,980', '23', '24,348'], ['Other Products', '17,417', '35', '12,863', '16', '11,132'], ['Total net sales', '265,595', '16', '229,234', '6', '215,639'], [], ['Unit Sales by Product:'], ['iPhone', '217,722', '—', '216,756', '2', '211,884'], ['iPad', '43,535', '—', '43,753', ')%', '45,590'], ['Mac', '18,209', ')%', '19,251', '4', '18,484']]
                    label  Year Ended 2018
0                  iPhone         166699.0
1                    iPad          18805.0
2                     Mac          25484.0
3                Services          37190.0
4          Other Products          17417.0
5         Total net sales         265595.0
6  Unit Sales by Product:              NaN
7                  iPhone         217722.0
8                    iPad          43535.0
9                     Mac          18209.0
https://www.sec.gov/Archives/edgar/data/320193/000032019318000100/a10-qq320186302018.htm
[['Three Months Ended', 'Nine Months Ended'], ['June\xa030,', '2018', 'July\xa01,', '2017', 'Change', 'June\xa030,', '2018', 'July\xa01,', '2017', 'Change'], ['Net Sales by Reportable Segment:'], ['Americas', '24,542', '20,376', '20', '84,576', '73,501', '15'], ['Europe', '12,138', '10,675', '14', '47,038', '41,929', '12'], ['Greater China', '9,551', '8,004', '19', '40,531', '34,963', '16'], ['Japan', '3,867', '3,624', '7', '16,572', '13,875', '19'], ['Rest of Asia Pacific', '3,167', '2,729', '16', '13,978', '12,387', '13'], ['Total net sales', '53,265', '45,408', '17', '202,695', '176,655', '15'], [], ['Net Sales by Product:'], ['iPhone', '29,906', '24,846', '20', '129,514', '112,473', '15'], ['iPad', '4,741', '4,969', ')%', '14,716', '14,391', '2'], ['Mac', '5,330', '5,592', ')%', '18,073', '18,680', ')%'], ['Services', '9,548', '7,266', '31', '27,209', '21,479', '27'], ['Other Products', '3,740', '2,735', '37', '13,183', '9,632', '37'], ['Total net sales', '53,265', '45,408', '17', '202,695', '176,655', '15'], [], ['Unit Sales by Product:'], ['iPhone', '41,300', '41,026', '1', '170,833', '170,079', '—'], ['iPad', '11,553', '11,424', '1', '33,836', '33,427', '1'], ['Mac', '3,720', '4,292', ')%', '12,910', '13,865', ')%']]
                    label  Q3 2018
0                  iPhone  29906.0
1                    iPad   4741.0
2                     Mac   5330.0
3                Services   9548.0
4          Other Products   3740.0
5         Total net sales  53265.0
6  Unit Sales by Product:      NaN
7                  iPhone  41300.0
8                    iPad  11553.0
9                     Mac   3720.0
https://www.sec.gov/Archives/edgar/data/320193/000032019318000070/a10-qq220183312018.htm
[['Three Months Ended', 'Six Months Ended'], ['March\xa031,', '2018', 'April\xa01,', '2017', 'Change', 'March\xa031,', '2018', 'April\xa01,', '2017', 'Change'], ['Net Sales by Reportable Segment:'], ['Americas', '24,841', '21,157', '17', '60,034', '53,125', '13'], ['Europe', '13,846', '12,733', '9', '34,900', '31,254', '12'], ['Greater China', '13,024', '10,726', '21', '30,980', '26,959', '15'], ['Japan', '5,468', '4,485', '22', '12,705', '10,251', '24'], ['Rest of Asia Pacific', '3,958', '3,795', '4', '10,811', '9,658', '12'], ['Total net sales', '61,137', '52,896', '16', '149,430', '131,247', '14'], [], ['Net Sales by Product:'], ['iPhone', '38,032', '33,249', '14', '99,608', '87,627', '14'], ['iPad', '4,113', '3,889', '6', '9,975', '9,422', '6'], ['Mac', '5,848', '5,844', '—', '12,743', '13,088', ')%'], ['Services', '9,190', '7,041', '31', '17,661', '14,213', '24'], ['Other Products', '3,954', '2,873', '38', '9,443', '6,897', '37'], ['Total net sales', '61,137', '52,896', '16', '149,430', '131,247', '14'], [], ['Unit Sales by Product:'], ['iPhone', '52,217', '50,763', '3', '129,533', '129,053', '—'], ['iPad', '9,113', '8,922', '2', '22,283', '22,003', '1'], ['Mac', '4,078', '4,199', ')%', '9,190', '9,573', ')%']]
                    label  Q2 2018
0                  iPhone  38032.0
1                    iPad   4113.0
2                     Mac   5848.0
3                Services   9190.0
4          Other Products   3954.0
5         Total net sales  61137.0
6  Unit Sales by Product:      NaN
7                  iPhone  52217.0
8                    iPad   9113.0
9                     Mac   4078.0
https://www.sec.gov/Archives/edgar/data/320193/000032019318000007/a10-qq1201812302017.htm
[['Three Months Ended'], ['December\xa030,', '2017', 'December\xa031,', '2016', 'Change'], ['Net Sales by Reportable Segment:'], ['Americas', '35,193', '31,968', '10'], ['Europe', '21,054', '18,521', '14'], ['Greater China', '17,956', '16,233', '11'], ['Japan', '7,237', '5,766', '26'], ['Rest of Asia Pacific', '6,853', '5,863', '17'], ['Total net sales', '88,293', '78,351', '13'], [], ['Net Sales by Product:'], ['iPhone', '61,576', '54,378', '13'], ['iPad', '5,862', '5,533', '6'], ['Mac', '6,895', '7,244', ')%'], ['Services', '8,471', '7,172', '18'], ['Other Products', '5,489', '4,024', '36'], ['Total net sales', '88,293', '78,351', '13'], [], ['Unit Sales by Product:'], ['iPhone', '77,316', '78,290', ')%'], ['iPad', '13,170', '13,081', '1'], ['Mac', '5,112', '5,374', ')%']]
                    label  Q1 2018
0                  iPhone  61576.0
1                    iPad   5862.0
2                     Mac   6895.0
3                Services   8471.0
4          Other Products   5489.0
5         Total net sales  88293.0
6  Unit Sales by Product:      NaN
7                  iPhone  77316.0
8                    iPad  13170.0
9                     Mac   5112.0
https://www.sec.gov/Archives/edgar/data/320193/000032019317000070/a10-k20179302017.htm
[['2017', 'Change', '2016', 'Change', '2015'], ['Net Sales by Operating Segment:'], ['Americas', '96,600', '12', '86,613', ')%', '93,864'], ['Europe', '54,938', '10', '49,952', ')%', '50,337'], ['Greater China', '44,764', ')%', '48,492', ')%', '58,715'], ['Japan', '17,733', '5', '16,928', '8', '15,706'], ['Rest of Asia Pacific', '15,199', '11', '13,654', ')%', '15,093'], ['Total net sales', '229,234', '6', '215,639', ')%', '233,715'], [], ['Net Sales by Product:'], ['iPhone', '141,319', '3', '136,700', ')%', '155,041'], ['iPad', '19,222', ')%', '20,628', ')%', '23,227'], ['Mac', '25,850', '13', '22,831', ')%', '25,471'], ['Services', '29,980', '23', '24,348', '22', '19,909'], ['Other Products', '12,863', '16', '11,132', '11', '10,067'], ['Total net sales', '229,234', '6', '215,639', ')%', '233,715'], [], ['Unit Sales by Product:'], ['iPhone', '216,756', '2', '211,884', ')%', '231,218'], ['iPad', '43,753', ')%', '45,590', ')%', '54,856'], ['Mac', '19,251', '4', '18,484', ')%', '20,587']]
                    label  Year Ended 2017
0                  iPhone         141319.0
1                    iPad          19222.0
2                     Mac          25850.0
3                Services          29980.0
4          Other Products          12863.0
5         Total net sales         229234.0
6  Unit Sales by Product:              NaN
7                  iPhone         216756.0
8                    iPad          43753.0
9                     Mac          19251.0

https://www.sec.gov/Archives/edgar/data/320193/000032019317000009/a10-qq32017712017.htm
[['Three Months Ended', 'Nine Months Ended'], ['July\xa01,', '2017', 'June\xa025,', '2016', 'Change', 'July\xa01,', '2017', 'June\xa025,', '2016', 'Change'], ['Net Sales by Operating Segment:'], ['Americas', '20,376', '17,963', '13', '73,501', '66,384', '11'], ['Europe', '10,675', '9,643', '11', '41,929', '39,110', '7'], ['Greater China', '8,004', '8,848', ')%', '34,963', '39,707', ')%'], ['Japan', '3,624', '3,529', '3', '13,875', '12,604', '10'], ['Rest of Asia Pacific', '2,729', '2,375', '15', '12,387', '10,982', '13'], ['Total net sales', '45,408', '42,358', '7', '176,655', '168,787', '5'], [], ['Net Sales by Product:'], ['iPhone', '24,846', '24,048', '3', '112,473', '108,540', '4'], ['iPad', '4,969', '4,876', '2', '14,391', '16,373', ')%'], ['Mac', '5,592', '5,239', '7', '18,680', '17,092', '9'], ['Services', '7,266', '5,976', '22', '21,479', '18,023', '19'], ['Other Products', '2,735', '2,219', '23', '9,632', '8,759', '10'], ['Total net sales', '45,408', '42,358', '7', '176,655', '168,787', '5'], [], ['Unit Sales by Product:'], ['iPhone', '41,026', '40,399', '2', '170,079', '166,371', '2'], ['iPad', '11,424', '9,950', '15', '33,427', '36,323', ')%'], ['Mac', '4,292', '4,252', '1', '13,865', '13,598', '2']]
                    label  Q3 2017
0                  iPhone  24846.0
1                    iPad   4969.0
2                     Mac   5592.0
3                Services   7266.0
4          Other Products   2735.0
5         Total net sales  45408.0
6  Unit Sales by Product:      NaN
7                  iPhone  41026.0
8                    iPad  11424.0
9                     Mac   4292.0
https://www.sec.gov/Archives/edgar/data/320193/000162828017004790/a10-qq22017412017.htm
[['Three Months Ended', 'Six Months Ended'], ['April\xa01,', '2017', 'March\xa026,', '2016', 'Change', 'April\xa01,', '2017', 'March\xa026,', '2016', 'Change'], ['Net Sales by Operating Segment:'], ['Americas', '21,157', '19,096', '11', '53,125', '48,421', '10'], ['Europe', '12,733', '11,535', '10', '31,254', '29,467', '6'], ['Greater China', '10,726', '12,486', ')%', '26,959', '30,859', ')%'], ['Japan', '4,485', '4,281', '5', '10,251', '9,075', '13'], ['Rest of Asia Pacific', '3,795', '3,159', '20', '9,658', '8,607', '12'], ['Total net sales', '52,896', '50,557', '5', '131,247', '126,429', '4'], [], ['Net Sales by Product:'], ['iPhone', '33,249', '32,857', '1', '87,627', '84,492', '4'], ['iPad', '3,889', '4,413', ')%', '9,422', '11,497', ')%'], ['Mac', '5,844', '5,107', '14', '13,088', '11,853', '10'], ['Services', '7,041', '5,991', '18', '14,213', '12,047', '18'], ['Other Products', '2,873', '2,189', '31', '6,897', '6,540', '5'], ['Total net sales', '52,896', '50,557', '5', '131,247', '126,429', '4'], [], ['Unit Sales by Product:'], ['iPhone', '50,763', '51,193', ')%', '129,053', '125,972', '2'], ['iPad', '8,922', '10,251', ')%', '22,003', '26,373', ')%'], ['Mac', '4,199', '4,034', '4', '9,573', '9,346', '2']]
                    label  Q2 2017
0                  iPhone  33249.0
1                    iPad   3889.0
2                     Mac   5844.0
3                Services   7041.0
4          Other Products   2873.0
5         Total net sales  52896.0
6  Unit Sales by Product:      NaN
7                  iPhone  50763.0
8                    iPad   8922.0
9                     Mac   4199.0
https://www.sec.gov/Archives/edgar/data/320193/000162828017000717/a10-qq1201712312016.htm
[['Three Months Ended'], ['December\xa031,', '2016', 'December\xa026,', '2015', 'Change'], ['Net Sales by Operating Segment:'], ['Americas', '31,968', '29,325', '9'], ['Europe', '18,521', '17,932', '3'], ['Greater China', '16,233', '18,373', ')%'], ['Japan', '5,766', '4,794', '20'], ['Rest of Asia Pacific', '5,863', '5,448', '8'], ['Total net sales', '78,351', '75,872', '3'], [], ['Net Sales by Product:'], ['iPhone', '54,378', '51,635', '5'], ['iPad', '5,533', '7,084', ')%'], ['Mac', '7,244', '6,746', '7'], ['Services', '7,172', '6,056', '18'], ['Other Products', '4,024', '4,351', ')%'], ['Total net sales', '78,351', '75,872', '3'], [], ['Unit Sales by Product:'], ['iPhone', '78,290', '74,779', '5'], ['iPad', '13,081', '16,122', ')%'], ['Mac', '5,374', '5,312', '1']]
                    label  Q1 2017
0                  iPhone  54378.0
1                    iPad   5533.0
2                     Mac   7244.0
3                Services   7172.0
4          Other Products   4024.0
5         Total net sales  78351.0
6  Unit Sales by Product:      NaN
7                  iPhone  78290.0
8                    iPad  13081.0
9                     Mac   5374.0

In [394]:
df = pd.DataFrame([1,2])
if df.empty: print("he")