In [2]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [62]:
class Income(HelperFunctions):
    def __init__(self,ticker,fromDate):
        
        self.ticker = ticker
        self.fromDate = fromDate
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        
        
        self.IncomeExcel = self.readIncomeExcel()
        self.IncomeExcel = self.getExcelSheetsPostDate(self.IncomeExcel)
        
        self.compiledStatement = self.addData(self.IncomeExcel)
        self.performIncomeMath()
        self.reorderQuarters()
        
        self.simpleCompiledStatement = self.simpleMerge(self.IncomeExcel)
        
        self.writeFinalIncome()
        
    def readIncomeExcel(self):
        file = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        Excel = pd.read_excel(file,sheet_name=None)
        return Excel
    
    def writeFinalIncome(self):
        file = os.path.join(self.path, f"Income Statement-{self.ticker}.xlsx")
        Excel = pd.ExcelWriter(file)
        
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="compiled")
        self.simpleCompiledStatement.to_excel(Income, index=False, sheet_name="simple")
        
        Excel.save()
        

        
    def performIncomeMath(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                
                self.compiledStatement["Q4 "+year] = self.compiledStatement["Year Ended "+year] - self.compiledStatement["Q3 "+year]
                self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]

In [63]:
income = Income("GPS",2017)
finalIncome = income.compiledStatement

finalIncome

,label,Year Ended 2017,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,net sales,15516.00,3799.00,3838.00,12017.00,15855.00,3783.0000,4085.0000,4089.0000,-4089.0000,...,3275.00,3994.00,-3.994000e+03,0.000000e+00,3991.00,4211.00,3943.0,1.667000e+10,1.667000e+10,3477.00
1,revenues,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,0.0000,16580.0000,...,0.00,0.00,1.380000e+10,1.380000e+10,0.00,0.00,0.0,0.000000e+00,0.000000e+00,0.00
2,cost of goods sold and occupancy expenses,9876.00,2320.00,2313.00,7476.00,9789.00,2356.0000,2458.0000,2466.0000,7792.0000,...,2126.00,2374.00,9.094998e+09,9.095000e+09,2361.00,2388.00,2282.0,1.003300e+10,1.003300e+10,2381.00
3,gross profit,5640.00,1479.00,1525.00,4541.00,6066.00,1427.0000,1627.0000,1623.0000,4699.0000,...,1149.00,1620.00,4.704998e+09,4.705000e+09,1630.00,1823.00,1661.0,6.636998e+09,6.637000e+09,1096.00
4,operating expenses,4449.00,1028.00,1147.00,3440.00,4587.00,1198.0000,1229.0000,1260.0000,3700.0000,...,1076.00,1445.00,5.566999e+09,5.567000e+09,1390.00,1414.00,1508.0,5.826998e+09,5.827000e+09,1293.00
5,operating income,1191.00,451.00,378.00,1101.00,1479.00,229.0000,398.0000,363.0000,999.0000,...,73.00,175.00,-8.620002e+08,-8.620000e+08,240.00,409.00,153.0,8.099998e+08,8.100000e+08,-197.00
6,loss on extinguishment of debt,0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.0000,...,58.00,0.00,5.800000e+07,5.800000e+07,0.00,0.00,325.0,3.249997e+08,3.250000e+08,0.00
7,interest expense,75.00,16.00,18.00,56.00,74.00,16.0000,17.0000,21.0000,52.0000,...,58.00,55.00,1.919999e+08,1.920000e+08,54.00,51.00,44.0,1.670000e+08,1.670000e+08,20.00
8,interest income,-8.00,-4.00,-4.00,-15.00,-19.00,-6.0000,-7.0000,-8.0000,-25.0000,...,-2.00,-1.00,-9.999999e+06,-1.000000e+07,-1.00,-1.00,-1.0,-4.999999e+06,-5.000000e+06,-1.00
9,income before income taxes,1124.00,439.00,364.00,1060.00,1424.00,219.0000,388.0000,350.0000,972.0000,...,-41.00,121.00,-1.102000e+09,-1.102000e+09,187.00,359.00,-215.0,3.230002e+08,3.230000e+08,-216.00
10,income taxes,448.00,168.00,135.00,441.00,576.00,55.0000,91.0000,84.0000,235.0000,...,21.00,26.00,-4.370000e+08,-4.370000e+08,21.00,101.00,-63.0,6.700006e+07,6.700000e+07,-54.00
11,net income,676.00,271.00,229.00,619.00,848.00,164.0000,297.0000,266.0000,737.0000,...,-62.00,95.00,-6.650001e+08,-6.650000e+08,166.00,258.00,-152.0,2.560002e+08,2.560000e+08,-162.00
12,weighted-average number of shares - basic,399.00,395.00,391.00,393.00,393.00,389.0000,387.0000,384.0000,385.0000,...,374.00,374.00,3.740000e+02,3.740000e+02,376.00,378.00,376.0,3.760000e+02,3.760000e+02,370.00
13,weighted-average number of shares - diluted,400.00,396.00,393.00,396.00,396.00,393.0000,390.0000,387.0000,388.0000,...,374.00,380.00,3.740000e+02,3.740000e+02,385.00,386.00,376.0,3.830000e+02,3.830000e+02,370.00
14,earnings per share - basic,1.69,0.69,0.59,1.57,2.16,0.4200,0.7700,0.6900,1.9200,...,-0.17,0.25,-2.030000e+00,-1.780000e+00,0.44,0.68,-0.4,1.080000e+00,6.800000e-01,-0.44
15,earnings per share - diluted,1.69,0.68,0.58,1.56,2.14,0.4200,0.7600,0.6900,1.9000,...,-0.17,0.25,-2.030000e+00,-1.780000e+00,0.43,0.67,-0.4,1.070000e+00,6.700000e-01,-0.44
16,cash dividends declared and paid per share,0.00,0.23,0.23,-0.23,0.00,0.2425,0.2425,0.2425,-0.2425,...,0.00,0.00,0.000000e+00,0.000000e+00,0.00,0.00,0.0,0.000000e+00,0.000000e+00,0.00
17,"common stock, dividends, per share, declared",0.00,0.00,0.00,0.00,0.00,0.0000,0.0000,0.0000,0.9700,...,0.00,0.00,0.000000e+00,0.000000e+00,0.00,0.00,0.0,0.000000e+00,0.000000e+00,0.00

In [81]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getExcelSheetsPostDate(self,Excel): #use IncomeExcel dictionary to get all dates and only keep where date is later than year specified 
        quarters = Excel.keys()
        fileDates = self.getYears(quarters) 
        files = [file for file, date in zip(Excel, fileDates) if date>self.fromDate or (date==self.fromDate and "Year Ended" in file)]
        Excel = {file:Excel[file] for file in files}
        return Excel
        
    def reorderQuarters(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        cols = [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + str(year) in quarters]
        self.compiledStatement = self.compiledStatement[["label"] + cols]
        
    def getQuarters(self):
        return list(self.compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = str(label).lower()
        new_label = new_label.replace("gain","loss").replace("decrease","increase")
        new_label = re.sub("\s\([\w\W]+?\)","",new_label).replace("  "," ").replace("—"," - ").strip()
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        return new_label
    
    
    def addData(self, Excel):
        compiledStatement = pd.DataFrame()
        
        for quarter,sheet in Excel.items():
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            sheet = sheet[~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True)]
            
            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            
            #merge the current finalstatement and new sheet into one statement 
            #iterate through each row, check if the label is the same and switch off adding rows
            while sheeti < len(sheet) and statementi < len(compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    #check if the sheet index is the last one so doesn't cause error
                    if sheeti+1<len(sheet):
                        #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                        #if it corresponds, then I will move the sheet up instead
                        if statement_label == sheet.iloc[sheeti+1].label: 
                            newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                            sheeti += 1
                            continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
                         
                    
                    
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])
            
            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        
        compiledStatement = compiledStatement.fillna(0)
        compiledStatement = compiledStatement.loc[~(compiledStatement==0).all(axis=1)]
        
        return compiledStatement
    
    def simpleMerge(self, Excel):
        compiledStatement = pd.DataFrame()
        for quarter,sheet in Excel.items():
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            compiledStatement = pd.concat([compiledStatement, sheet],axis=1)
            compiledStatement = compiledStatement.reset_index(drop=True)
            
        return compiledStatement

In [86]:
class Cashflow(HelperFunctions):
    def __init__(self,ticker,fromDate):
        
        self.ticker = ticker
        self.fromDate = fromDate
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        
        
        self.CashflowExcel = self.readCashflowExcel()
        self.CashflowExcel = self.getExcelSheetsPostDate(self.CashflowExcel)
        
        self.compiledStatement = self.addData(self.CashflowExcel)
#         self.performIncomeMath()
#         self.reorderQuarters()
        
        self.simpleCompiledStatement = self.simpleMerge(self.CashflowExcel)
        
        self.writeFinalCashflow()
        
    def readCashflowExcel(self):
        file = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        Excel = pd.read_excel(file,sheet_name=None)
        return Excel
    
    def writeFinalCashflow(self):
        file = os.path.join(self.path, f"Cashflow Statement-{self.ticker}.xlsx")
        Excel = pd.ExcelWriter(file)
        
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="compiled")
        self.simpleCompiledStatement.to_excel(Excel, index=False, sheet_name="simple")
        
        Excel.save()
        
        
    def performIncomeMath(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                
                self.compiledStatement["Q4 "+year] = self.compiledStatement["Year Ended "+year] - self.compiledStatement["Q3 "+year]
                self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]

In [87]:
cashflow = Cashflow("XOM",2017)

In [76]:
cashflow.simpleCompiledStatement

,label,Year Ended 2017,label,Q1 2018,label,Q2 2018,label,Q3 2018,label,Year Ended 2018,...,label,Q1 2021,label,Q2 2021,label,Q3 2021,label,Year Ended 2021,label,Q1 2022
0,cash flows from operating activities,NaN,cash flows from operating activities,NaN,cash flows from operating activities,NaN,cash flows from operating activities,NaN,cash flows from operating activities,NaN,...,cash flows from operating activities,NaN,cash flows from operating activities,NaN,cash flows from operating activities,NaN,cash flows from operating activities,NaN,cash flows from operating activities,NaN
1,net income including noncontrolling interests,19848.0,net income including noncontrolling interests,4783.0,net income including noncontrolling interests,8769,net income including noncontrolling interests,15215,net income including noncontrolling interests,21421.0,...,net income including noncontrolling interests,2796.0,net income including noncontrolling interests,7577.0,net income including noncontrolling interests,14519.0,net income including noncontrolling interests,23598.0,net income including noncontrolling interests,5750.0
2,adjustments for noncash transactions,NaN,depreciation and depletion,4470.0,depreciation and depletion,9059,depreciation and depletion,13717,adjustments for noncash transactions,NaN,...,depreciation and depletion,5004.0,depreciation and depletion,9956.0,depreciation and depletion,14946.0,adjustments for noncash transactions,NaN,depreciation and depletion,8883.0
3,depreciation and depletion,19893.0,"changes in operational working capital, exclud...",351.0,"changes in operational working capital, exclud...",-982,"changes in operational working capital, exclud...",-25,depreciation and depletion,18745.0,...,noncash inventory adjustment - lower of cost o...,0.0,"changes in operational working capital, exclud...",1573.0,"changes in operational working capital, exclud...",2232.0,depreciation and depletion,20607.0,"changes in operational working capital, exclud...",1086.0
4,deferred income tax charges/(credits),-8577.0,all other items - net,-1085.0,all other items - net,-547,all other items - net,-1500,deferred income tax charges/(credits),-60.0,...,"changes in operational working capital, exclud...",1953.0,all other items – net,-192.0,all other items – net,-692.0,deferred income tax charges/(credits),303.0,all other items – net,-931.0
5,postretirement benefits expense in excess of/(...,1135.0,net cash provided by operating activities,8519.0,net cash provided by operating activities,16299,net cash provided by operating activities,27407,postretirement benefits expense in excess of/(...,1070.0,...,all other items – net,-489.0,net cash provided by operating activities,18914.0,net cash provided by operating activities,31005.0,postretirement benefits expense in excess of/(...,754.0,net cash provided by operating activities,14788.0
6,other long-term obligation provisions in exces...,-610.0,cash flows from investing activities,NaN,cash flows from investing activities,NaN,cash flows from investing activities,NaN,other long-term obligation provisions in exces...,-68.0,...,net cash provided by operating activities,9264.0,cash flows from investing activities,NaN,cash flows from investing activities,NaN,other long-term obligation provisions in exces...,50.0,cash flows from investing activities,NaN
7,dividends received greater than/(less than) eq...,131.0,"additions to property, plant and equipment",-3349.0,"additions to property, plant and equipment",-8276,"additions to property, plant and equipment",-13480,dividends received greater than/(less than) eq...,-1684.0,...,cash flows from investing activities,NaN,"additions to property, plant and equipment",-5147.0,"additions to property, plant and equipment",-7987.0,dividends received greater than/(less than) eq...,-668.0,"additions to property, plant and equipment",-3911.0
8,"changes in operational working capital, exclud...",NaN,proceeds associated with sales of subsidiaries...,1441.0,proceeds associated with sales of subsidiaries...,1748,proceeds associated with sales of subsidiaries...,3239,"changes in operational working capital, exclud...",NaN,...,"additions to property, plant and equipment",-2400.0,proceeds from asset sales and returns of inves...,557.0,proceeds from asset sales and returns of inves...,575.0,"changes in operational working capital, exclud...",NaN,proceeds from asset sales and returns of inves...,293.0
9,reduction/(increase) - notes and accounts rece...,-3954.0,additional investments and advances,-138.0,additional investments and advances,-704,additional investments and advances,-1113,reduction/(increase) - notes and accounts rece...,-545.0,...,proceeds from asset sales and returns of inves...,307.0,additional investments and advances,-613.0,additional investments and advances,-1055.0,reduction/(increase) - notes and accounts rece...,-12098.0,additional investments and advances,-417.0
10,reduction/(increase) - inventories,-1682.0,other investing activities including collectio...,187.0,other investing activities including collectio...,277,other investing activities including collectio...,492,reduction/(increase) - inventories,-3107.0,...,additional investments and advances,-349.0,other investing activities including collectio...,132.0,other investing activities including collectio...,342.0,reduction/(increase) - inventories,-489.0,other investing activities including collectio...,90.0
11,reduction/(increase) - other current assets,-117.0,net cash used in investing activities,-1859.0,net cash used in investing activities,-6955,net cash used in investing activities,-10862,reduction/(increase) - other current assets,-25.0,...,other investing activities including collectio...,87.0,net cash used in investing activities,-5071.0,net cash used in investing activities,-8125.0,reduction/(increase) - other current assets,-71.0,net cash used in investing activities,-3945.0
12,increase/(reduction) - accounts and other paya...,5104.0,cash flows from financing activities,NaN,cash flows from financing activities,NaN,cash flows from financing activities,NaN,increase/(reduction) - accounts and other paya...,2321.0,...,net cash used in investing activities,-2355.0,cash flows from financing activities,NaN,cash flows from financing activities,NaN,increase/(reduction) - accounts and other paya...,16820.0,cash flows from financing activities,NaN
13,net on asset sales,-334.0,additions to long-term debt,NaN,additions to long-term debt,NaN,additions to long-term debt,NaN,net on asset sales,-1993.0,...,cash flows from financing activities,NaN,additions to long-term debt,0.0,additions to long-term debt,46.0,net/loss on asset sales,-1207.0,additions to short-term debt,0.0
14,all other items - net,-771.0,additions to short-term debt,NaN,additions to short-term debt,NaN,additions to short-term debt,NaN,all other items - net,-61.0,...,additions to long-term debt,0.0,reductions in long-term debt,0.0,reductions in long-term debt,-4.0,all other items - net,530.0,reductions in short-term debt,-2098.0
15,net cash provided by operating activities,30066.0,reductions in short-term debt,-3872.0,reductions in short-term debt,-4256,reductions in short-term debt,-4279,net cash provided by operating activities,36014.0,...,reductions in long-term debt,0.0,additions to short-term debt,9662.0,additions to short-term debt,12197.0,net cash provided by operating activities,48129.0,additions/(reductions) in debt with three mont...,1366.0
16,cash flows from investing activities,NaN,"additions/(reductions) in commercial paper, an...",1950.0,"additions/(reductions) in commercial paper, an...",2902,"additions/(reductions) in commercial paper, an...",1626,cash flows from investing activities,NaN,...,additions to short-term debt,5781.0,reductions in short-term debt,-18000.0,reductions in short-term debt,-24066.0,cash flows from investing activities,NaN,cash dividends to exxonmobil shareholders,-3760.0
17,"additions to property, plant and equipment",-15402.0,cash dividends to exxonmobil shareholders,-3291.0,cash dividends to exxonmobil shareholders,-6793,cash dividends to exxonmobil shareholders,-10296,"additions to property, plant and equipment",-19574.0,...,reductions in short-term debt,-10849.0,additions/(reductions) in debt with three mont...,1320.0,additions/(reductions) in debt with three mont...,997.0,"additions to property, plant and equipment",-12076.0,cash dividends to noncontrolling interests,-60.0
18,proceeds associated with sales of subsidiaries...,3103.0,cash dividends to noncontrolling interests,-43.0,cash dividends to noncontrolling interests,-135,cash dividends to noncontrolling interests,-192,proceeds associated with sales of subsidiaries...,4123.0,...,additions/(reductions) in commercial paper and...,1003.0,contingent consideration payments,-28.0,contingent consideration payments,-28.0,proceeds from asset sales and returns of inves...,3176.0,changes in noncontrolling interests,-94.0
19,increase/(increase) in restricted cash and cas...,NaN,changes in noncontrolling interests,-59.0,changes in noncontrolling interests,-275,changes in noncontrolling interests,-374,additional investments and advances,-1981.0,...,cash dividends to exxonmobil shareholders,-3720.0,cash dividends to exxonmobil shareholders,-7441.0,cash dividends to exxonmobil shareholders,-11161.0,additional investments and advances,-2817.0,common stock acquired,-2067.0
20,additional investments and advances,-5507.0,common stock acquired,-427.0,common stock acquired,-429,common stock acquired,-430,other investing activities including collectio...,986.0,...,cash dividends to noncontrolling interests,-52.0,cash dividends to noncontrolling interests,-112.0,cash dividends to noncontrolling interests,-166.0,other investing activities including collectio...,1482.0,net cash used in financing activities,-6713.0
21,other investing activities including collectio...,2076.0,net cash used in financing activities,-5742.0,net cash used in financing activities,-8986,net cash used in financing activities,-13945,net cash used in investing activities,-16446.0,...,changes in noncontrolling interests,53.0,changes in noncontrolling interests,-207.0,changes in noncontrolling interests,-278.0,net cash used in investing activities,-10235.0,effects of exchange rate changes on cash,142.0
22,net cash used in investing activities,-15730.0,effects of exchange rate changes on cash,30.0,effects of exchange rate changes on cash,-105,effects of exchange rate changes on cash,-108,cash flows from financing activities,NaN,...,common stock acquired,-1.0,common stock acquired,-1.0,common stock acquired,-1.0,cash flows from financing activities,NaN,increase/(increase) in cash and cash equivalents,4272.0
23,cash flows from financing activities,NaN,increase/(increase) in cash and cash equivalents,948.0,increase/(increase) in cash and cash equivalents,253,increase/(increase) in cash and cash equivalents,2492,additions to long-term debt,46.0,...,net cash used in financing activities,-7785.0,net cash used in financing activities,-14807.0,net cash used in financing activities,-22464.0,additions to long-term debt,46.0,cash and cash equivalents at beginning of period,6802.0
24,additions to long-term debt,60.0,cash and cash equivalents at beginning of period,3177.0,cash and cash equivalents at beginning of period,3177,cash and cash equivalents at beginning of period,3177,additions to short-term debt,NaN,...,effects of exchange rate changes on cash,27.0,effects of exchange rate changes on cash,65.0,effects of exchange rate changes on cash,-12.0,reductions in long-term debt,-8.0,cash and cash equivalents at end of period,11074.0
25,reductions in long-term debt,NaN,cash and cash equivalents at end of period,4125.0,cash and cash equivalents at end of period,3430,cash and cash equivalents at end of period,5669,reductions in short-term debt,-4752.0,...,increase/(increase) in cash and cash equivalents,-849.0,increase/(increase) in cash and cash equivalents,-899.0,increase/(increase) in cash and cash equivalents,404.0,additions to short-term debt,12687.0,supplemental disclosures,NaN
26,additions to short-term debt,1735.0,supplemental disclosures,NaN,supplemental disclosures,NaN,supplemental disclosures,NaN,"additions/(reductions) in commercial paper, an...",-219.0,...,cash and cash equivalents at beginning of period,4364.0,cash and cash equivalents at beginning of period,4364.0,cash and cash equivalents at beginning of period,4364.0,reductions in short-term debt,-29396.0,income taxes paid,1798.0
27,reductions in short-term debt,-5024.0,income taxes paid,2117.0,income taxes paid,4426,income taxes paid,6740,cash dividends to exxonmobil shareholders,-13798.0,...,cash and cash equivalents at end of period,3515.0,cash and cash equivalents at end of period,3465.0,cash and cash equivalents at end of period,4768.0,"additions/(reductions) in commercial paper, an...",-2983.0,cash interest paid,NaN
28,"additions/(reductions) in commercial paper, an...",2181.0,cash interest paid,360.0,cash interest paid,477,cash interest paid,839,cash dividends to noncontrolling interests,-243.0,...,supplemental disclosures,NaN,supplemental disclosures,NaN,supplemental disclosures,NaN,contingent consideration payments,-30.0,cash interest paid - included in cash flows fr...,319.0
29,cash dividends to exxonmobil shareholders,-13001.0,nan,NaN,noncash investing and financing items,NaN,noncash investing and financing items,NaN,changes in noncontrolling interests,146.0,...,income taxes paid,855.0,income taxes paid,2079.0,income taxes paid,3516.0,cash dividends to exxonmobil shareholders,-14924.0,"cash interest paid - capitalized, included in ...",187.0
30,cash dividends to noncontrolling interests,-184.0,[],NaN,noncash transactions,2017 Noncash Transactions\nIn the first six mo...,noncash transactions,"In the first nine months of 2017, the Corporat...",common stock acquired,-626.0,...,cash interest paid,NaN,cash interest paid,NaN,cash interest paid,NaN,cash dividends to noncontrolling interests,-224.0,total cash interest paid,506.0
31,changes in noncontrolling interests,-150.0,NaN,NaN,nan,NaN,nan,NaN,common stock sold,NaN,...,cash interest paid - included in cash flows fr...,405.0,cash interest paid - included in cash flows fr...,466.0,cash interest paid - included in cash flows fr...,818.0,changes in noncontrolling interests,-436.0,noncash right of use assets recorded in exchan...,NaN
32,tax benefits related to stock-based awards,NaN,NaN,NaN,[],NaN,[],NaN,net cash used in financing activities,-19446.0,...,"cash interest paid - capitalized, included in ...",151.0,"cash interest paid - capitalized, included in ...",313.0,"cash interest paid - capitalized, included in ...",478.0,common stock acquired,-155.0,noncash right of use assets recorded in exchan...,240.0
33,common stock acquired,-747.0,NaN,NaN,NaN,NaN,NaN,NaN,effects of exchange rate changes on cash,-257.0,...,total cash interest paid,556.0,total cash interest paid,779.0,total cash interest paid,1296.0,net cash provided by financing activities,-35423.0,noncash right of use assets recorded in exchan...,656.0
34,common stock sold,NaN,NaN,NaN,NaN,NaN,NaN,NaN,increase/(increase) in cash and cash equivalents,-135.0,...,nan,NaN,nan,NaN,noncash right of use assets recorded in exchan...,NaN,effects of exchange rate changes on cash,-33.0,NaN,NaN
35,net cash used in financing activities,-15130.0,NaN,NaN,NaN,NaN,NaN,NaN,cash and cash equivalents at beginning of year,3177.0,...,[],NaN,[],NaN,noncash right of use assets recorded in exchan...,804.0,increase/(increase) in cash and cash equivalents,2438.0,NaN,NaN
36,effects of exchange rate changes on cash,314.0,NaN,NaN,NaN,NaN,NaN,NaN,cash and cash equivalents at end of year,3042.0,...,NaN,NaN,NaN,NaN,noncash right of use assets recorded in exchan...,168.0,cash and cash equivalents at beginning of year,4364.0,NaN,NaN
37,increase/(increase) in cash and cash equivalents,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,nan,NaN,cash and cash equivalents at end of year,6802.0,NaN,NaN
38,cash and cash equivalents at beginning of year,3657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,[],NaN,nan,NaN,NaN,NaN
39,cash and cash equivalents at end of year,3177.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN

In [132]:
class Balance(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "total"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.BalanceStatements = self.getBalanceStatements()
        self.addData(self.BalanceStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performBalanceMath()
        
        self.reorderQuarters()
        
      
    def getBalanceStatements(self):
        FinancialReports = self.getFinancialStatements()
        BalanceStatements = [[report.getBalanceSheet().copy(), report.file] for report in FinancialReports]
        return BalanceStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "Q2 "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "Q3 "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))
        
        
    def performBalanceMath(self):
        years = self.getYears()[1:]
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year]
            
    def getAccumulatedDepreciation(self):
        Depreciation = {}
        quarters = []
        for sheet, file in self.BalanceStatements:
            sheet.label = [label.lower() for label in sheet.label]
            date = sheet.columns[1]
            quarter = self.parseQuarter(date) 
            quarters.append(quarter)
            label = sheet.loc[sheet.label.str.contains("property and equipment, net of accumulated depreciation"),"label"]
            if len(label)>0:
                label = label.iloc[0]
                dep = re.findall("\d+,*\d*",label)
                if len(dep) > 0:
                    dep = int(dep[0].replace(",",""))
                    Depreciation[quarter] = dep
                    continue
                   
            dep = sheet.loc[(sheet.label == "property and equipment, accumulated depreciation") | (sheet.label=="accumulated depreciation, depletion and amortization, property, plant, and equipment"), date]
            if len(dep) > 0:
                dep = dep.iloc[0]
                Depreciation[quarter] = dep
                if "Year Ended" in quarter:
                    Depreciation["Q4 "+quarter.split(" ")[-1]] = dep
                continue
        #dates = sorted(Depreciation,key=lambda date: datetime.strptime(date.replace(".",""), '%b %d, %Y'))
        years = list(set([x.split(" ")[-1] for x in quarters]))
        years.sort()
        cols = { q+" "+year : [Depreciation.get(q + " " + year, np.nan)] for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + year in quarters}
        self.Depreciation = pd.DataFrame(cols)
        return self.Depreciation

In [133]:
balance = Balance()
balance.getAccumulatedDepreciation().to_excel("output/raw/depreciation.xlsx")

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

In [134]:
balance = Balance()
finalBalance = balance.finalStatement
finalBalance.to_excel("output/raw/balance.xlsx")
finalBalance

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,cash and cash equivalents,1783.0,1583.0,1609.0,1353.0,1783.0,1783.0,1210.0,1322.0,...,2188.0,2471.0,0.00,0.00,2066.0,2375.0,801.0,877.00,877.00,845.00
1,NaN,short-term investments,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,410.00,410.00,0.0,0.0,275.0,0.00,0.00,0.00
2,NaN,merchandise inventory,1830.0,1961.0,2051.0,2476.0,1997.0,1997.0,2035.0,2202.0,...,2242.0,2747.0,2451.00,2451.00,2370.0,2281.0,2721.0,3018.00,3018.00,3169.00
3,NaN,other current assets,702.0,575.0,598.0,654.0,788.0,788.0,778.0,780.0,...,882.0,966.0,0.00,0.00,1091.0,1201.0,1410.0,1270.00,1270.00,991.00
4,NaN,"available-for-sale securities, current",0.0,0.0,0.0,0.0,0.0,0.0,164.0,286.0,...,25.0,178.0,0.00,0.00,475.0,337.0,0.0,0.00,0.00,0.00
5,NaN,"cash and cash equivalents, at carrying value",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1988.00,1988.00,0.0,0.0,0.0,0.00,0.00,0.00
6,NaN,"other assets, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1159.00,1159.00,0.0,0.0,0.0,0.00,0.00,0.00
7,NaN,total current assets,4315.0,4119.0,4258.0,4483.0,4568.0,4568.0,4187.0,4590.0,...,5337.0,6362.0,6008.00,6008.00,6002.0,6194.0,5207.0,5165.00,5165.00,5005.00
8,NaN,"property and equipment, net of accumulated dep...",0.0,2605.0,2643.0,2686.0,0.0,0.0,2791.0,2832.0,...,2895.0,2846.0,2841.00,2841.00,2839.0,2897.0,2924.0,3037.00,3037.00,2791.00
9,NaN,"operating lease, right-of-use asset",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4689.0,4460.0,4217.00,4217.00,4060.0,3975.0,3788.0,0.00,0.00,3587.00
10,NaN,other long-term assets,679.0,687.0,716.0,726.0,616.0,616.0,607.0,588.0,...,795.0,705.0,703.00,703.00,703.0,693.0,861.0,884.00,884.00,874.00
11,NaN,"accumulated depreciation, depletion and amorti...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5608.00,5608.00,0.0,0.0,0.0,5071.00,5071.00,0.00
12,NaN,operating lease assets,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,3675.00,3675.00,0.00
13,NaN,"property and equipment, net",2616.0,0.0,0.0,0.0,2805.0,2805.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
14,NaN,total assets,7610.0,7411.0,7617.0,7895.0,7989.0,7989.0,7585.0,8010.0,...,13716.0,14373.0,13769.00,13769.00,13604.0,13759.0,12780.0,12761.00,12761.00,12257.00
15,NaN,"line of credit facility, fair value of amount ...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
16,NaN,accounts payable,1243.0,1119.0,1230.0,1330.0,1181.0,1181.0,1072.0,1297.0,...,1629.0,2284.0,1743.00,1743.00,1530.0,1583.0,1630.0,1951.00,1951.00,1599.00
17,NaN,accrued expenses and other current liabilities,1113.0,1088.0,1062.0,1132.0,1270.0,1270.0,975.0,1026.0,...,1124.0,1283.0,0.00,0.00,1294.0,1252.0,1414.0,1367.00,1367.00,1127.00
18,NaN,"operating lease, liability, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,856.0,823.0,831.00,831.00,798.0,789.0,746.0,0.00,0.00,717.00
19,NaN,income taxes payable,32.0,28.0,107.0,134.0,10.0,10.0,11.0,18.0,...,40.0,41.0,34.00,34.00,16.0,27.0,33.0,25.00,25.00,29.00
20,NaN,current maturities of debt,65.0,67.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00
21,NaN,current portion of operating lease liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,734.00,734.00,0.00
22,NaN,"accrued liabilities, current",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1276.00,1276.00,0.0,0.0,0.0,0.00,0.00,0.00
23,NaN,total current liabilities,2453.0,2302.0,2399.0,2596.0,2461.0,2461.0,2058.0,2341.0,...,3649.0,4431.0,3884.00,3884.00,3638.0,3651.0,3823.0,4077.00,4077.00,3472.00
24,NaN,long-term debt,1248.0,0.0,0.0,0.0,1249.0,1249.0,0.0,0.0,...,0.0,0.0,2216.00,2216.00,0.0,0.0,0.0,1484.00,1484.00,0.00
25,NaN,long-term line of credit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.00,350.00
26,NaN,long-term operating lease liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,4033.00,4033.00,0.00
27,NaN,other long-term liabilities,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,438.00,438.00,0.0,0.0,0.0,445.00,445.00,0.00
28,NaN,total long-term debt,0.0,1248.0,1248.0,1248.0,0.0,0.0,1249.0,1249.0,...,2212.0,2214.0,0.00,0.00,2218.0,2220.0,1484.0,0.00,0.00,1485.00
29,NaN,"operating lease, liability, noncurrent",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5179.0,4899.0,4617.00,4617.00,4449.0,4348.0,4163.0,0.00,0.00,3921.00
30,NaN,lease incentives and other long-term liabilities,1005.0,999.0,1025.0,1027.0,1135.0,1135.0,1081.0,1080.0,...,423.0,458.0,0.00,0.00,493.0,520.0,523.0,0.00,0.00,575.00
31,NaN,total long-term liabilities,2253.0,2247.0,2273.0,2275.0,2384.0,2384.0,2330.0,2329.0,...,7814.0,7571.0,7271.00,7271.00,7160.0,7088.0,6170.0,5962.00,5962.00,6331.00
32,NaN,"common stock. par value, authorized shares for...",20.0,0.0,0.0,0.0,19.0,19.0,0.0,0.0,...,0.0,0.0,19.00,19.00,0.0,0.0,0.0,0.00,0.00,0.00
33,NaN,accumulated other comprehensive income,54.0,0.0,0.0,0.0,36.0,36.0,0.0,0.0,...,0.0,0.0,9.00,9.00,0.0,0.0,0.0,38.00,38.00,0.00
34,NaN,"common stock. par value, authorized shares for...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,19.00,19.00,0.00
35,NaN,authorized shares for all periods presented,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,19.0,19.0,0.00,0.00,19.00
36,NaN,additional paid in capital,81.0,0.0,0.0,0.0,8.0,8.0,0.0,0.0,...,39.0,60.0,85.00,85.00,118.0,114.0,71.0,43.00,43.00,0.00
37,NaN,retained earnings,2749.0,2796.0,2902.0,2965.0,3081.0,3081.0,3127.0,3268.0,...,2173.0,2268.0,2501.00,2501.00,2667.0,2879.0,2681.0,2622.00,2622.00,2389.00
38,NaN,amounts reclassified from accumulated other co...,0.0,46.0,23.0,40.0,0.0,0.0,51.0,53.0,...,22.0,24.0,0.00,0.00,2.0,8.0,16.0,0.00,0.00,46.00
39,NaN,authorized shares for all periods presented; i...,0.0,20.0,20.0,19.0,0.0,0.0,19.0,19.0,...,19.0,19.0,0.00,0.00,19.0,0.0,0.0,0.00,0.00,0.00
40,NaN,total stockholders' equity,2904.0,2862.0,2945.0,3024.0,3144.0,3144.0,3197.0,3340.0,...,2253.0,2371.0,2614.00,2614.00,2806.0,3020.0,2787.0,2722.00,2722.00,2454.00
41,NaN,"common stock, shares outstanding",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,374000.0,374000.00,374000.00,377000.0,376000.0,374000.0,371000.00,371000.00,369.00
42,NaN,total liabilities and stockholders' equity,7610.0,7411.0,7617.0,7895.0,7989.0,7989.0,7585.0,8010.0,...,13716.0,14373.0,13769.00,13769.00,13604.0,13759.0,12780.0,12761.00,12761.00,12257.00
43,NaN,"property and equipment, accumulated depreciation",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5891.0,0.00,0.00,5616.0,5603.0,5486.0,0.00,0.00,4967.00
44,NaN,"common stock, shares issued",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,374000.0,374000.00,374000.00,377000.0,376000.0,374000.0,371000.00,371000.00,369.00
45,NaN,"common stock, shares authorized",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2300000.0,2300000.00,2300000.00,2300000.0,2300000.0,2300000.0,2300000.00,2300000.00,2300.00
46,NaN,"common stock, par value",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,50000.0,0.05,0.05,50000.0,50000.0,50000.0,0.05,0.05,0.05

In [137]:
class CashFlow(FinancialDataMerge, ProcessQuarters, HelperFunctions):
    def __init__(self):
        self.total_keyword = "net"
        self.finalStatement = pd.DataFrame(columns=["title","title_order","label"])
        
        self.CashFlowStatements = self.getCashFlowStatements()
        self.addData(self.CashFlowStatements)
        
        self.rearrangeFinalStatement()
        
        self.setQuarters()
        
        self.performCashFlowMath()
        
        self.reorderQuarters()
        
      
    def getCashFlowStatements(self):
        FinancialReports = self.getFinancialStatements()
        CashFlowStatements = [[report.getCashFlowSheet().copy(), report.file] for report in FinancialReports]
        return CashFlowStatements
    
    def parseQuarter(self,date):
        mo = date.split(" ")[0].strip(".")
        year = date.split(", ")[-1]
        if mo in ["Apr","May"]:
            return "Q1 "+str(int(year)+1)
        
        if mo in ["Jul","Aug"]:
            return "6mo "+str(int(year)+1)
        
        if mo in ["Oct","Nov"]:
            return "9mo "+str(int(year)+1)
        
        if mo in ["Jan","Feb"]:
            return "Year Ended "+str(int(year))     
    def performCashFlowMath(self):
        years = self.getYears()[1:]
        begin_cash = self.finalStatement.label.apply(lambda label: "cash" in label and "beginning of period" in label)
        data = [None, "cash at beginning of period"] + self.finalStatement.loc[begin_cash,self.getQuarterHeaders()].sum().tolist()
        self.finalStatement = self.finalStatement.drop(self.finalStatement.loc[begin_cash].index)
        self.finalStatement.loc[len(self.finalStatement)] = data

        end_cash = self.finalStatement.label.apply(lambda label: "cash" in label and "end of period" in label)
        data = [None, "cash at end of period"] + self.finalStatement.loc[end_cash,self.getQuarterHeaders()].sum().tolist()
        self.finalStatement = self.finalStatement.drop(self.finalStatement.loc[end_cash].index)
        self.finalStatement.loc[len(self.finalStatement)] = data
        
        self.finalStatement = self.finalStatement.set_index("label")
        for year in years:
            if "Year Ended "+year not in self.getQuarterHeaders(): 
                continue
            # find Q2 
            self.finalStatement["Q2 "+year] = self.finalStatement["6mo "+year] - self.finalStatement["Q1 "+year]
            self.finalStatement.loc["cash at beginning of period","Q2 "+year] = self.finalStatement.loc["cash at end of period","Q1 "+year]
            self.finalStatement.loc["cash at end of period","Q2 "+year] = self.finalStatement.loc["cash at end of period","6mo "+year]
            
            #find Q3 
            self.finalStatement["Q3 "+year] = self.finalStatement["9mo "+year] - self.finalStatement["6mo "+year]
            self.finalStatement.loc["cash at beginning of period","Q3 "+year] = self.finalStatement.loc["cash at end of period", "6mo "+year]
            self.finalStatement.loc["cash at end of period","Q3 "+year] = self.finalStatement.loc["cash at end of period","9mo "+year]
            
            
            #find Q3 
            self.finalStatement["Q4 "+year] = self.finalStatement["Year Ended "+year] - self.finalStatement["9mo "+year]
            self.finalStatement.loc["cash at beginning of period","Q4 "+year] = self.finalStatement["9mo "+year].loc["cash at end of period"]
            self.finalStatement.loc["cash at end of period","Q4 "+year] = self.finalStatement.loc["cash at end of period","Year Ended "+year]
        
        self.finalStatement = self.finalStatement.reset_index()
        self.finalStatement = self.finalStatement[["title","label"]+self.getQuarterHeaders()]

In [138]:
cashflow = CashFlow()
finalCashflow = cashflow.finalStatement
finalCashflow.to_excel("output/cashflow.xlsx")
finalCashflow

q3 2022 (2021).xlsx
q3 2019 (2018).xlsx
q3 2021 (2020).xlsx
q3 2018 (2017).xlsx
q1 2020 (2019).xlsx
q2 2022 (2021).xlsx
q2 2018 (2017).xlsx
q2 2021 (2020).xlsx
10k 2020 (2019).xlsx
q2 2019 (2018).xlsx
q1 2023 (2022).xlsx
q1 2022 (2021).xlsx
q3 2020 (2019).xlsx
q1 2021 (2020)xlsx.xlsx
q1 2018 (2017).xlsx
q1 2019 (2018).xlsx
10k 2022 (2021).xlsx
10k 2019 (2018).xlsx
q2 2020 (2019).xlsx
10k 2017 (2016).xlsx
10k 2018 (2017).xlsx
10k 2021 (2020).xlsx

,title,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,...,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022,Q1 2023
0,NaN,net income,676,143,271,229,205,848,164,297,...,-62,95,234,-665,166,258,-152,-16,256,-162
1,NaN,depreciation and amortization,593,138,141,139,141,559,140,140,...,126,125,126,507,120,124,128,132,504,130
2,NaN,share-based compensation,76,20,22,18,27,87,21,27,...,17,20,22,77,36,36,25,42,139,1
3,NaN,"operating lease, impairment loss",0,0,0,0,0,0,0,0,...,1,0,30,391,5,1,0,-6,0,0
4,NaN,other asset impairment charges,107,0,0,0,28,28,0,0,...,3,0,8,135,0,1,0,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,income taxes paid,0,0,0,0,0,0,0,0,...,0,0,20,20,0,0,0,0,0,0
668,NaN,"cash paid for income taxes during the period, ...",488,35,95,130,310,570,19,42,...,16,-45,-8,0,20,127,34,34,215,-420
669,None,cash at beginning of period,1370,1783,1583,1609,1353,1783,1799,1229,...,1048,2241,2499,1381,2016,2096,2407,829,2016,902
670,NaN,"operating lease, payments",0,0,0,0,0,0,0,0,...,0,0,1096,1096,0,0,0,0,0,0
671,NaN,cash paid for operating lease liabilities,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1061,1061,0

In [848]:
finalCashflow["label"].tolist()

['cash and cash equivalents',
 'short-term investments',
 'merchandise inventory',
 'other current assets',
 'available-for-sale securities, current',
 'total current assets',
 'property and equipment, net of accumulated depreciation',
 'operating lease, right-of-use asset',
 'other long-term assets',
 'accumulated depreciation, depletion and amortization, property, plant, and equipment',
 'operating lease assets',
 'total assets',
 'line of credit facility, fair value of amount outstanding',
 'accounts payable',
 'accrued expenses and other current liabilities',
 'operating lease, liability, current',
 'income taxes payable',
 'current portion of operating lease liabilities',
 'total current liabilities',
 'long-term debt',
 'lease incentives and other long-term liabilities',
 'long-term operating lease liabilities',
 'other long-term liabilities',
 'total long-term debt',
 'total long-term liabilities',
 'operating lease, liability, noncurrent',
 'lease incentives and other long-term liabilities',
 'total long-term liabilities',
 'common stock, shares outstanding',
 'authorized shares for all periods presented',
 'additional paid in capital',
 'retained earnings',
 'amounts reclassified from accumulated other comprehensive income',
 'authorized shares for all periods presented; issued and outstanding and shares',
 'common stock. par value, authorized shares for all periods presented; issued and outstanding and shares',
 'accumulated other comprehensive income',
 'common stock. par value, authorized shares for all periods presented',
 "total stockholders' equity",
 "total liabilities and stockholders' equity",
 'property and equipment, accumulated depreciation',
 'common stock, shares issued',
 'common stock, shares authorized',
 'common stock, par value']

In [856]:
finalCashflow

,title,label,Year Ended 2016,Q1 2017,6mo 2017,9mo 2017,Year Ended 2017,Q1 2018,6mo 2018,9mo 2018,...,9mo 2020,Year Ended 2020,Q1 2021,6mo 2021,9mo 2021,Year Ended 2021,Q1 2022,6mo 2022,9mo 2022,Year Ended 2022
0,Cash flows from operating activities,net income,920,127,252,456,676,143,414,643,...,535,351,-932,-994,-899,-665,166,424,272,256
1,Adjustments to reconcile net income to net cas...,depreciation and amortization,592,148,303,449,593,138,279,418,...,417,557,130,256,381,507,120,244,372,504
2,Adjustments to reconcile net income to net cas...,share-based compensation,76,15,36,55,76,20,42,60,...,64,68,18,35,55,77,36,72,97,139
3,Adjustments to reconcile net income to net cas...,"operating lease, impairment loss",0,0,0,0,0,0,0,0,...,1,239,360,361,361,0,5,6,6,0
4,Adjustments to reconcile net income to net cas...,other asset impairment charges,54,0,0,0,107,0,0,0,...,9,98,124,127,127,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Supplemental disclosure of cash flow information,"cash paid for income taxes during the period, ...",452,43,143,318,488,35,130,260,...,117,176,37,53,8,20,20,147,181,215
95,Supplemental disclosure of cash flow information,cash paid for interest during the period,78,39,41,80,82,38,38,76,...,0,76,0,0,0,145,0,0,0,180
96,Supplemental disclosure of cash flow information,"operating lease, payments",0,0,0,0,0,0,0,0,...,0,1244,0,0,0,0,0,0,0,0
97,Supplemental disclosure of cash flow information,cash paid for operating lease liabilities,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1096,0,0,0,1061
98,None,cash at beginning of period,1515,1370,1370,1370,1384,1783,1783,1797,...,1420,1420,1381,1381,1381,1381,2016,2016,2016,2016