In [100]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [173]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getPossibleFilingsFromYears(self, years):
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    def getExcelSheetsPostDate(self,Excel):
        years = range(self.fromDate,self.endDate+1)
        names = self.getPossibleFilingsFromYears(years)
        names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in Excel.keys() if name in filing] 
        Excel = {file:Excel[file] for file in files}
        return Excel
    
    def reorderQuarters(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
        
    def getQuarters(self, compiledStatement):
        return list(compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = new_label.replace("gain","loss").replace("decrease","increase").replace("  "," ").replace("â€”"," - ").strip()
        new_label = re.sub("\s\([\w\W]+?\)","",new_label)
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        return new_label
    
    
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        
        for quarter,sheet in list(Excel.items()):
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            #sheet = sheet.dropna(axis=0, how="any")
            sheet = sheet[(~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True))|sheet[quarter].isnull()]

            sheeti = statementi = 0
            newStatement = pd.DataFrame(columns=["label"])
            #merge the current finalstatement and new sheet into one statement 
            #go through each row of the two statements and keep track of the indexes of each statement
            #continue until one of either the compiled statement or sheet ends
            while sheeti < len(sheet) and statementi < len(compiledStatement):
              
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)
                
                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    
                    #concat the newRow to the newstatement
                    newStatement = pd.concat([newStatement, newRow])
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+4,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
                    
            #if either the finalstatement or the new sheet hasn't finished, then add the end of the statement to the new one
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])
            
            compiledStatement = newStatement
            
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [174]:
class CompileIncomeStatement(HelperFunctions):
    def __init__(self,ticker,fromDate, endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performIncomeMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
    
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    
    
    def performIncomeMath(self,compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["Q3 "+year]
                compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]
        return compiledStatement

In [175]:
class Income:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileIncomeStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileIncomeStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [178]:
income = Income("MSFT",2019)
income.compiledStatement

,label,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,...,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,revenue,110360.00,29084.00,32471.00,30571.00,95272.00,125843.00,33055.00,36906.00,35021.00,...,37154.00,43076.00,41706.00,126382.00,168088.00,45317.00,51728.00,49360.00,148910.0,198270
1,cost of revenue,38353.00,9905.00,12423.00,10170.00,32740.00,42910.00,10406.00,12358.00,10975.00,...,11002.00,14194.00,13045.00,39187.00,52232.00,13646.00,16960.00,15615.00,47035.0,62650
2,gross margin,72007.00,19179.00,20048.00,20401.00,62532.00,82933.00,22649.00,24548.00,24046.00,...,26152.00,28882.00,28661.00,87195.00,115856.00,31671.00,34768.00,33745.00,101875.0,135620
3,research and development,14726.00,3977.00,4070.00,4316.00,12560.00,16876.00,4565.00,4603.00,4887.00,...,4926.00,4899.00,5204.00,15512.00,20716.00,5599.00,5758.00,6306.00,18206.0,24512
4,sales and marketing,17469.00,4098.00,4588.00,4565.00,13648.00,18213.00,4337.00,4933.00,4911.00,...,4231.00,4947.00,5082.00,15035.00,20117.00,4547.00,5379.00,5595.00,16230.0,21825
5,general and administrative,4754.00,1149.00,1132.00,1179.00,3706.00,4885.00,1061.00,1121.00,1273.00,...,1119.00,1139.00,1327.00,3780.00,5107.00,1287.00,1384.00,1480.00,4420.0,5900
6,impairment and restructuring,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,restructuring,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,operating income,35058.00,9955.00,10258.00,10341.00,32618.00,42959.00,12686.00,13891.00,12975.00,...,15876.00,17897.00,17048.00,52868.00,69916.00,20238.00,22247.00,20364.00,63019.0,83383
9,"other income, net",1416.00,266.00,127.00,145.00,584.00,729.00,0.00,194.00,-132.00,...,248.00,440.00,188.00,998.00,1186.00,286.00,268.00,-174.00,507.0,333
10,income before income taxes,36474.00,10221.00,10385.00,10486.00,33202.00,43688.00,12686.00,14085.00,12843.00,...,16124.00,18337.00,17236.00,53866.00,71102.00,20524.00,22515.00,20190.00,63526.0,83716
11,provision for income taxes,19903.00,1397.00,1965.00,1677.00,2771.00,4448.00,2008.00,2436.00,2091.00,...,2231.00,2874.00,1779.00,8052.00,9831.00,19.00,3750.00,3462.00,7516.0,10978
12,net income,16571.00,8824.00,8420.00,8809.00,30431.00,39240.00,10678.00,11649.00,10752.00,...,13893.00,15463.00,15457.00,45814.00,61271.00,20505.00,18765.00,16728.00,56010.0,72738
13,earnings per share:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
14,basic,2.15,1.15,1.09,1.15,3.96,5.11,1.40,1.53,1.41,...,1.84,2.05,2.05,6.07,8.12,2.73,2.50,2.23,7.47,9.7
15,diluted,2.13,1.14,1.08,1.14,3.92,5.06,1.38,1.51,1.40,...,1.82,2.03,2.03,6.02,8.05,2.71,2.48,2.22,7.43,9.65
16,weighted average shares outstanding:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
17,basic,7700.00,7673.00,7692.00,7672.00,1.00,7673.00,7634.00,7621.00,7602.00,...,7566.00,7555.00,7539.00,8.00,7547.00,7513.00,7505.00,7493.00,3.0,7496
18,diluted,7794.00,7766.00,7768.00,7744.00,9.00,7753.00,7710.00,7691.00,7675.00,...,7637.00,7616.00,7597.00,11.00,7608.00,7567.00,7555.00,7534.00,6.0,7540
19,cash dividends declared per common share,1.68,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,product,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
21,revenue,64497.00,17299.00,16219.00,15448.00,50621.00,66069.00,15768.00,18255.00,15871.00,...,15803.00,19460.00,16873.00,54201.00,71074.00,16631.00,20779.00,17366.00,55366.0,72732
22,cost of revenue,15420.00,3649.00,5885.00,3441.00,12832.00,16273.00,3305.00,4966.00,3376.00,...,3597.00,6058.00,4277.00,13942.00,18219.00,3792.00,6331.00,4584.00,14480.0,19064
23,service and other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,revenue,45863.00,11785.00,16252.00,15123.00,44651.00,59774.00,17287.00,18651.00,19150.00,...,21351.00,23616.00,24833.00,72181.00,97014.00,28686.00,30949.00,31994.00,93544.0,125538
25,cost of revenue,22933.00,6256.00,6538.00,6729.00,19908.00,26637.00,7101.00,7392.00,7599.00,...,7405.00,8136.00,8768.00,25245.00,34013.00,9854.00,10629.00,11031.00,32555.0,43586

In [88]:
class CompileCashflowStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,self.endDate):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)

        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel

In [94]:
cashflow = Cashflow("WMT",2020)
cashflow.compiledStatement

,label,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Year Ended 2022,Q1 2023
0,cash flows from operating activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,consolidated net income,15201.0,4074.0,10513.0,15714.0,13706.0,2811.0,7175.0,10307.0,13940.0,2103.0
2,adjustments to reconcile income from continuin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,adjustments to reconcile consolidated net inco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,depreciation and amortization,10987.0,2791.0,5562.0,8333.0,11152.0,2661.0,5302.0,7952.0,10658.0,2680.0
5,unrealized and losses,-1886.0,-783.0,-4006.0,-6883.0,NaN,NaN,NaN,NaN,NaN,NaN
6,(losss) and losses for disposal of business op...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,net unrealized and realized and losses,NaN,NaN,NaN,NaN,-8589.0,2077.0,3019.0,1831.0,2440.0,1989.0
8,losses on disposal of business operations,NaN,NaN,NaN,NaN,8401.0,433.0,433.0,433.0,433.0,0.0
9,asda pension contribution,-1036.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
10,loss on disposal of business operations,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,losses and on disposal of business operations,NaN,NaN,NaN,1028.0,NaN,NaN,NaN,NaN,NaN,NaN
12,deferred income taxes,320.0,84.0,472.0,1246.0,1911.0,-155.0,-385.0,-1402.0,-755.0,-69.0
13,loss on extinguishment of debt,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2410.0,2410.0,NaN
14,other operating activities,1981.0,-51.0,305.0,930.0,1521.0,270.0,606.0,1057.0,1652.0,-59.0
15,"changes in certain assets and liabilities, net...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"changes in certain assets and liabilities, net...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"receivables, net",154.0,924.0,823.0,165.0,-1086.0,828.0,452.0,-842.0,-1796.0,837.0
18,inventories,-300.0,2221.0,2466.0,-8260.0,-2395.0,-1487.0,-2725.0,-12663.0,-11764.0,-4699.0
19,accounts payable,-274.0,-1183.0,1052.0,8553.0,6966.0,-1004.0,119.0,7906.0,5520.0,-1640.0
20,accrued liabilities,186.0,-2109.0,1428.0,1796.0,4623.0,-4004.0,-1412.0,-722.0,1404.0,-4949.0
21,accrued income taxes,-93.0,1049.0,304.0,258.0,-136.0,428.0,-161.0,24.0,39.0,49.0
22,net cash provided by operating activities,25255.0,7017.0,18956.0,22880.0,36074.0,2858.0,12423.0,16291.0,24181.0,-3758.0
23,cash flows from investing activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,payments for property and equipment,-10705.0,-1752.0,-3569.0,-6438.0,-10264.0,-2214.0,-5019.0,-8588.0,-13106.0,-3539.0
25,proceeds from the disposal of property and equ...,321.0,60.0,83.0,99.0,215.0,72.0,176.0,290.0,394.0,35.0
26,proceeds from the disposal of certain operations,833.0,0.0,0.0,12.0,56.0,NaN,NaN,NaN,NaN,NaN
27,"proceeds from disposal of certain operations, ...",NaN,NaN,NaN,NaN,NaN,7935.0,7935.0,7935.0,7935.0,0.0
28,"payments for business acquisitions, net of cas...",-56.0,-10.0,-175.0,-180.0,-180.0,0.0,-248.0,-248.0,-359.0,-598.0
29,other investing activities,479.0,6.0,27.0,0.0,102.0,57.0,-442.0,-919.0,-879.0,-456.0
30,net cash used in investing activities,-9128.0,-1696.0,-3634.0,-6507.0,-10071.0,NaN,NaN,-1530.0,-6015.0,NaN
31,net cash provided by investing activities,NaN,NaN,NaN,NaN,NaN,5850.0,2402.0,NaN,NaN,-4558.0
32,cash flows from financing activities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,net change in short-term borrowings,-4656.0,3542.0,-178.0,-301.0,-324.0,138.0,441.0,228.0,193.0,10995.0
34,proceeds from issuance of long-term debt,5492.0,0.0,0.0,0.0,0.0,NaN,NaN,6945.0,6945.0,NaN
35,repayments of long-term debt,-1907.0,0.0,-2937.0,-4132.0,-5382.0,-510.0,-3010.0,-13010.0,-13010.0,-926.0
36,premiums paid to extinguish debt,0.0,NaN,NaN,NaN,NaN,NaN,NaN,-2317.0,-2317.0,NaN
37,dividends paid,-6048.0,-1529.0,-3058.0,-4582.0,-6116.0,-1549.0,-3091.0,-4627.0,-6152.0,-1543.0
38,purchase of company stock,-5717.0,-723.0,-723.0,-1186.0,-2625.0,-2809.0,-5200.0,-7368.0,-9787.0,-2408.0
39,dividends paid to noncontrolling interest,-555.0,0.0,-66.0,-76.0,-434.0,NaN,-14.0,-20.0,-424.0,NaN
40,purchase of noncontrolling interest,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,sale of subsidiary stock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3231.0,3239.0,35.0
42,other financing activities,-908.0,-725.0,-852.0,-1063.0,-1236.0,-669.0,-685.0,-1175.0,-1515.0,-838.0
43,net cash used in financing activities,-14299.0,NaN,-7814.0,-11340.0,-16117.0,NaN,-11559.0,-18113.0,-22828.0,NaN
44,"effect of exchange rate on cash, cash equivale...",-69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,net cash provided by financing activities,NaN,565.0,NaN,NaN,NaN,-5399.0,NaN,NaN,NaN,5315.0
46,"effect of exchange rates on cash, cash equival...",NaN,-415.0,-69.0,-170.0,235.0,-51.0,-21.0,-118.0,-140.0,49.0
47,"net increase in cash, cash equivalents and res...",1759.0,5471.0,7439.0,4863.0,10121.0,3258.0,3245.0,-3470.0,-4802.0,-2952.0
48,cash and cash equivalents reclassified as asse...,NaN,NaN,NaN,NaN,-1848.0,NaN,NaN,NaN,NaN,NaN
49,change in cash and cash equivalents classified...,NaN,NaN,NaN,NaN,NaN,1848.0,1848.0,1848.0,NaN,NaN
50,change in cash and cash equivalents reclassifi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1848.0,0.0
51,"cash, cash equivalents and restricted cash at ...",7756.0,9514.0,9515.0,9515.0,9515.0,17788.0,17788.0,17788.0,17788.0,14834.0
52,"cash, cash equivalents and restricted cash at ...",9515.0,NaN,NaN,NaN,17788.0,NaN,NaN,NaN,14834.0,NaN
53,supplemental disclosure of cash flow information:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,income taxes paid,3616.0,NaN,NaN,NaN,5271.0,NaN,NaN,NaN,5918.0,NaN
55,"interest paid, excluding capitalized interest,...",2464.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"cash, cash equivalents and restricted cash at ...",NaN,14985.0,16954.0,14378.0,NaN,22894.0,22881.0,16166.0,NaN,11882.0
57,interest paid,NaN,NaN,NaN,NaN,2216.0,NaN,NaN,NaN,2237.0,NaN