In [11]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [426]:
class HelperFunctions():
    #input: a list of quarters such as "Q2 2022"
    #iterates through a finds a date/year in the file
    def getYears(self,quarters): 
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    #input: compiledStatement
    #returns all quarters but removes first col of label
    def getQuarters(self, compiledStatement): 
        return list(compiledStatement.columns[1:])
    
    def getPossibleFilingsFromYears(self, years): 
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    #input: Excel dictionary with sheet name and the sheet dataframe
    #finds all possible filing names post fromDate and filters through dictionary keys to find corresponding filling
    def getExcelSheetsPostDate(self,Excel):  
        years = range(self.fromDate,self.endDate+1)
        names = self.getPossibleFilingsFromYears(years)
        #names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in Excel.keys() if name in filing] 
        Excel = {file:Excel[file] for file in files}
        return Excel
    
    #input: compiledStatement
    #find all years in statement and get all possible filings in order then only keep the ones in actually in the statement
    def reorderQuarters(self,compiledStatement): 
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        cols = self.getPossibleFilingsFromYears(years)
        cols = [col for col in cols if col in quarters]
        compiledStatement = compiledStatement[["label"] + cols]
        return compiledStatement
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = re.sub("\([\w\W]+?\)","",new_label) #replace parenthesis wtih nothing
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) #replace money amounts in label with nothing
        new_label = new_label.replace("gain","loss").replace("decrease","increase").replace("  "," ").replace("—"," - ").replace("/","").strip()
        return new_label
    
    
    #input: Excel dictionary with sheet name and the sheet dataframe
    #go through each possible sheet and merge into a compiledStatement
    #to do this I use an iterative approach where I start from a completely empty dataframe and then go through each row of compiledStatement and sheet based on index. 
    #if the label match, i add data from both. if the labels don't match then I will by default add the previously compiledStatement and continue moving
    def addData(self, Excel):
        compiledStatement = pd.DataFrame(columns=["label"])
        excel = list(Excel.items())
        excel.reverse()
        for quarter,sheet in excel:
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            
            sheet = sheet.dropna(subset="label", axis=0, how="any")
            sheet = sheet[(~sheet[quarter].astype("string").str.contains("[a-zA-Z]",regex=True))|sheet[quarter].isnull()] #remove rows where the numerical data is a string ie. "Hotel"
            sheet.label = sheet.label.apply(self.cleanup_label) #normalize the label
            
            sheeti = statementi = 0
            newStatement = pd.DataFrame()
            
            while sheeti < len(sheet) and statementi < len(compiledStatement):
            #merge the current compiledStatement and new sheet into one statement 
            #go through each row of the two statements via index; stop when reach bottom of one
            
                sheet_label = sheet.iloc[sheeti].label
                statement_label = compiledStatement.iloc[statementi].label
                newRowStatement = compiledStatement.iloc[statementi:statementi+1].reset_index(drop=True) #grab the row and drop the index so that they merge
                newRowSheet = sheet.iloc[sheeti:sheeti+1].reset_index(drop=True)

                #check if the labels are the same 
                if statement_label == sheet_label:
                    #if labels are the same then create a new row by concating the rows
                    newRowSheet = newRowSheet.drop(columns="label")
                    newRow = pd.concat([newRowStatement,newRowSheet],axis=1)
                    newStatement = pd.concat([newStatement, newRow], ignore_index=True)
                    
                    #move on to the next row
                    sheeti+=1
                    statementi+=1
                    
                else:
                    maxi = min(sheeti+5,len(sheet))
                    
                    #next, before I append the final statement label, I want to check if the statement label corresponds to the next label for the sheet
                    #if it corresponds, then I will move the sheet up instead
                    if statement_label in list(sheet.iloc[sheeti:maxi].label): 
                        newRowSheet["value"] = sheeti #since a new label is being added, then add a value to the row to keep track of its original index
                        newStatement = pd.concat([newStatement,newRowSheet]) #concat the sheet row to the new statement
                        sheeti += 1
                        continue
                    
                    #if the two labels don't match, default is to add the row of the final statment
                    newStatement = pd.concat([newStatement,newRowStatement])
                    statementi += 1
        
            #if either sheet hasn't finished, then add the end of the statement to the new one
            sheet["value"] = sheet.index
            newStatement = pd.concat([newStatement,sheet.iloc[sheeti:len(sheet)]])
            newStatement = pd.concat([newStatement,compiledStatement.iloc[statementi:len(compiledStatement)]])

            compiledStatement = newStatement
        
        compiledStatement = compiledStatement.sort_values(by="value").drop(columns="value") #value is record of the order of the label in the original sheet
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [427]:
class CompileIncomeStatement(HelperFunctions):
    #input: start date, end date, ticker
    #this class grabs all of the income statements from excel, filters them according to date, then it compiles each individual sheet into one statement
    def __init__(self,ticker,fromDate, endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performIncomeMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)
    
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    #input: compiledStatement
    #perform math to find q4 of the income statement which is the total year end minus q3
    def performIncomeMath(self,compiledStatement): 
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["Q3 "+year]
                compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = compiledStatement.loc[compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]
        return compiledStatement

In [428]:
class Income:
    #input ticker, start date
    #creates one massive compiled statement with all filings from the start date
    #then creates a bunch of income statements compiled by year where filings are "more" normalized placed side by side that can be manually concated
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Income Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    #input: start date
    #iterate through each possible year and create compiled statement for that fiscal year
    #i found that the statements tend to be more normalized within one year so this strategy can prevent out of control long compiled statements
    def createSeparateStatements(self): 
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileIncomeStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileIncomeStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [429]:
income = Income("TSLA",2017)
income.compiledStatement

,label,Year Ended 2017,Q1 2018,Q2 2018,Q3 2018,Q4 2018,Year Ended 2018,Q1 2019,Q2 2019,Q3 2019,...,Q3 2020,Q4 2020,Year Ended 2020,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022
0,revenues,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,revenues,NaN,NaN,NaN,6824413.0,14636855.0,21461268.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,automotive sales,8534752.0,2561881.0,3117865.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,automotive leasing,1106548.0,173436.0,239816.0,220461.0,663000.0,883461.0,215120.0,208362.0,221.0,...,265.0,787.0,1052.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,total revenues,11758751.0,3408751.0,4002231.0,6824413.0,14636855.0,21461268.0,4541464.0,6349676.0,6303.0,...,8771.0,22765.0,31536.0,10389.0,11958.0,13757.0,40066.0,53823.0,18756.0,16934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,energy generation and storage segment [member],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,cost of revenues,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,cost of revenues,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3906.0,NaN,NaN
105,total revenues,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,494.0,801.0,806.0,NaN,NaN,NaN,NaN
106,gross profit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-101.0,20.0,3.0,NaN,NaN,NaN,NaN

In [416]:
class CompileCashflowStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performCashflowMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    #input: compiledStatement
    #perform math to find q2,q3,q4 of the income statement because filings only contain data for past 9mo and past 6mo
    def performCashflowMath(self, compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        #Q2 and Q3 are deceptively 6mo and 9mo 
        quarters = [quarter.replace("Q2","6mo").replace("Q3","9mo") for quarter in quarters]
        compiledStatement.columns = ["label"] + quarters
        
        #find labels that contain "cash at beginning of period" and "cash at end of period" 
        #the cash at beginning of period is not the different in cash between (for ex) 6mo and 9mo 
        begin_period = [label for label in compiledStatement.label if "beginning of period" in label and "cash" in label]
        end_period = [label for label in compiledStatement.label if "end of period" in label and "cash" in label]
        
        compiledStatement.index = compiledStatement.label

        for year in years:
            year = str(year)
            if "6mo "+year in quarters and "Q1 "+year in quarters: 
                # find Q2 
                compiledStatement["Q2 "+year] = compiledStatement["6mo "+year] - compiledStatement["Q1 "+year]
                # for ex. cash at beginning of period at Q2 is the same as cash at end of period for Q1
                compiledStatement.loc[begin_period,"Q2 "+year] = compiledStatement.loc[end_period,"Q1 "+year]
                compiledStatement.loc[end_period,"Q2 "+year] = compiledStatement.loc[end_period,"6mo "+year]

            if "9mo "+year in quarters and "6mo "+year in quarters: 
                #find Q3 
                compiledStatement["Q3 "+year] = compiledStatement["9mo "+year] - compiledStatement["6mo "+year]
                compiledStatement.loc[begin_period,"Q3 "+year] = compiledStatement.loc[end_period, "6mo "+year]
                compiledStatement.loc[end_period,"Q3 "+year] = compiledStatement.loc[end_period,"9mo "+year]

            if "Year Ended "+year in quarters and "9mo "+year in quarters: 
                #find Q3 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year] - compiledStatement["9mo "+year]
                compiledStatement.loc[begin_period,"Q4 "+year] = compiledStatement["9mo "+year].loc[end_period]
                compiledStatement.loc[end_period,"Q4 "+year] = compiledStatement.loc[end_period,"Year Ended "+year]
        
        #remove 6mo and 9mo columns
        cols = [col for col in compiledStatement.columns if "9mo" not in col and "6mo" not in col]
        compiledStatement = compiledStatement[cols] 
        
        compiledStatement = compiledStatement.reset_index(drop=True)
        return compiledStatement

In [417]:
CompileCashflowStatement("GPS",2022).compiledStatement

,label,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,cash flows from operating activities:,NaN,NaN,NaN,NaN,NaN
1,net income,166.0,258.0,-152.0,-16.0,256.0
2,adjustments to reconcile net income to net cas...,NaN,NaN,NaN,NaN,NaN
3,depreciation and amortization,120.0,124.0,128.0,132.0,504.0
4,share-based compensation,36.0,36.0,25.0,42.0,139.0
...,...,...,...,...,...,...
71,"cash, cash equivalents, and restricted cash en...",NaN,NaN,NaN,902.0,902.0
72,cash flow non cash investing disclosure [abstr...,NaN,NaN,NaN,NaN,NaN
73,purchases of property and equipment not yet pa...,NaN,NaN,NaN,NaN,124.0
74,cash paid for interest during the period,NaN,NaN,NaN,NaN,180.0
75,cash paid for operating lease liabilities,NaN,NaN,NaN,NaN,1061.0

In [419]:
class Cashflow:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Cashflow Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileCashflowStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileCashflowStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [421]:
cashflow = Cashflow("MSFT",2019)
cashflow.compiledStatement

,label,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020,...,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,operations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,net income,8824.0,-404.0,389.0,30431.0,39240,10678.0,971.0,-897.0,33529.0,...,13893.0,1570.0,-6.0,45814.0,61271.0,20505.0,-1740.0,-2037.0,56010.0,72738
2,adjustments to reconcile net income to net cas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,"depreciation, amortization, and other",2837.0,158.0,-69.0,8756.0,11682,2971.0,232.0,-85.0,9678.0,...,2645.0,116.0,175.0,8750.0,11686.0,3212.0,284.0,277.0,10687.0,14460
4,stock-based compensation expense,1107.0,76.0,-11.0,3480.0,4652,1262.0,78.0,-2.0,3951.0,...,1456.0,110.0,-41.0,4593.0,6118.0,1702.0,195.0,9.0,5596.0,7502
5,net recognized losss on investments and deriva...,-240.0,105.0,40.0,-697.0,-792,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1249.0,-364.0,57.0,NaN,NaN,-409
6,net recognized losses on investments and deriv...,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,...,-128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,deferred income taxes,-247.0,74.0,-147.0,-6143.0,-6463,-177.0,124.0,-153.0,217.0,...,-11.0,-6.0,-71.0,-62.0,-150.0,-5970.0,6153.0,-381.0,-5504.0,-5702
8,changes in operating assets and liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
9,accounts receivable,9194.0,-11590.0,2856.0,-3272.0,-2812,10090.0,-14293.0,5094.0,-3468.0,...,8843.0,-12851.0,4298.0,-6771.0,-6481.0,10486.0,-16029.0,6400.0,-7691.0,-6834
10,inventories,-956.0,2610.0,-1642.0,585.0,597,-561.0,1360.0,-618.0,-13.0,...,-808.0,1596.0,-1117.0,-408.0,-737.0,-777.0,1171.0,-673.0,-844.0,-1123
11,other current assets,-677.0,504.0,159.0,-1704.0,-1718,-438.0,603.0,-71.0,-2424.0,...,-54.0,784.0,-252.0,-1410.0,-932.0,940.0,-110.0,-739.0,-800.0,-709
12,other long-term assets,21.0,-494.0,-44.0,-1317.0,-1834,-333.0,-184.0,641.0,-1161.0,...,-62.0,-1437.0,614.0,-2574.0,-3459.0,-598.0,-310.0,184.0,-2081.0,-2805
13,accounts payable,-395.0,-45.0,243.0,429.0,232,-547.0,540.0,553.0,2472.0,...,315.0,-282.0,800.0,1965.0,2798.0,-471.0,706.0,285.0,2423.0,2943
14,unearned revenue,-2441.0,319.0,2142.0,4442.0,4462,-2892.0,-44.0,2200.0,2948.0,...,-3064.0,-163.0,2754.0,5106.0,4633.0,-2885.0,-1458.0,4134.0,5318.0,5109
15,income taxes,-1091.0,1027.0,340.0,2653.0,2929,-3336.0,2865.0,1236.0,-4396.0,...,-983.0,-1385.0,3442.0,-3383.0,-2309.0,2653.0,-4710.0,3148.0,-395.0,696
16,other current liabilities,-2322.0,2978.0,-7.0,770.0,1419,-3320.0,4809.0,-794.0,651.0,...,-2951.0,4706.0,-165.0,2559.0,4149.0,-4143.0,5888.0,-458.0,1057.0,2344
17,other long-term liabilities,43.0,-75.0,371.0,252.0,591,410.0,15.0,-535.0,1458.0,...,244.0,649.0,-771.0,1280.0,1402.0,250.0,-157.0,345.0,387.0,825
18,net cash from operations,13657.0,-4757.0,4620.0,38665.0,52185,13818.0,-3138.0,6824.0,43171.0,...,19335.0,-6819.0,9663.0,54561.0,76740.0,24540.0,-10060.0,10906.0,63649.0,89035
19,financing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
20,"repayments of short-term debt, maturities of d...",0.0,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"proceeds from issuance of short-term debt, mat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,proceeds from issuance of debt,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,cash premium on debt exchange,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,-1754.0,NaN,NaN,NaN,0.0,0
24,repayments of debt,0.0,-3000.0,3000.0,-4000.0,-4000,-2500.0,2482.0,-2982.0,-2518.0,...,0.0,-3250.0,2750.0,-3250.0,-3750.0,-4826.0,4826.0,-4197.0,-4826.0,-9023
25,common stock issued,360.0,-160.0,74.0,868.0,1142,427.0,-193.0,108.0,1001.0,...,545.0,-243.0,94.0,1297.0,1693.0,612.0,-321.0,186.0,1364.0,1841
26,common stock repurchased,-3744.0,-2669.0,1660.0,-14790.0,-19543,-4912.0,-294.0,-1853.0,-15909.0,...,-6743.0,208.0,-395.0,-20455.0,-27385.0,-7684.0,251.0,-1389.0,-23874.0,-32696
27,common stock cash dividends paid,-3220.0,-324.0,18.0,-10285.0,-13811,-3510.0,-376.0,10.0,-11261.0,...,-3856.0,-374.0,9.0,-12300.0,-16521.0,-4206.0,-446.0,7.0,-13490.0,-18135
28,"other, net",-780.0,321.0,863.0,-1079.0,-675,286.0,-325.0,-1013.0,718.0,...,-235.0,314.0,-262.0,-586.0,-769.0,-172.0,-20.0,34.0,-705.0,-863
29,net cash used in financing,-7384.0,-5832.0,5615.0,NaN,NaN,-10209.0,1294.0,-5730.0,-31386.0,...,-10289.0,-3345.0,442.0,-35294.0,-48486.0,-16276.0,4290.0,-5359.0,-41531.0,-58876
30,net cash from financing,NaN,NaN,NaN,NaN,-36887,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,investing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
32,additions to property and equipment,-3602.0,-105.0,1142.0,-11360.0,-13925,-3385.0,-160.0,-222.0,-11674.0,...,-4907.0,733.0,-915.0,-15533.0,-20622.0,-5810.0,-55.0,525.0,-18546.0,-23886
33,"acquisition of companies, net of cash acquired...",-245.0,-1348.0,1324.0,-2119.0,-2388,-462.0,382.0,-249.0,-2192.0,...,-481.0,66.0,-7097.0,-1397.0,-8909.0,-1206.0,356.0,-17869.0,-3319.0,-22038
34,purchases of investments,-19551.0,2693.0,11012.0,-51851.0,-57697,-23390.0,4379.0,3101.0,-61280.0,...,-14580.0,-512.0,-3283.0,-44549.0,-62924.0,-10309.0,7804.0,-6218.0,-17733.0,-26456
35,maturities of investments,5214.0,-1432.0,2111.0,14150.0,20043,19082.0,-7852.0,6017.0,49202.0,...,14266.0,998.0,-248.0,36776.0,51792.0,8862.0,-3609.0,-4154.0,15352.0,16451
36,sales of investments,15231.0,-1055.0,-12752.0,36770.0,38194,6379.0,-1009.0,-2560.0,14911.0,...,2414.0,7.0,3455.0,8132.0,14008.0,5630.0,-2735.0,13798.0,11750.0,28443
37,securities lending payable,0.0,0.0,0.0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"other, net",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2083.0,2410.0,73.0,-1322.0,-922.0,-417.0,328.0,-1092.0,-1644.0,-2825
39,net cash used in investing,-2953.0,-1247.0,NaN,NaN,-15773,-1776.0,-4260.0,NaN,NaN,...,-5371.0,3702.0,NaN,NaN,-27577.0,-3250.0,2089.0,-15010.0,-14140.0,-30311
40,net cash from investing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,effect of foreign exchange rates on cash and c...,-129.0,146.0,1.0,-133.0,-115,-72.0,90.0,-82.0,-137.0,...,-46.0,60.0,-47.0,4.0,-29.0,-73.0,179.0,-82.0,-165.0,-141
42,net change in cash and cash equivalents,3191.0,-11690.0,13073.0,-5164.0,-590,1761.0,-6014.0,7099.0,-626.0,...,3629.0,-6402.0,2043.0,1378.0,648.0,4941.0,-3502.0,-9545.0,7813.0,-293
43,"cash and cash equivalents, beginning of period",11946.0,NaN,NaN,NaN,11946,11356.0,NaN,NaN,NaN,...,13576.0,NaN,NaN,NaN,13576.0,14224.0,NaN,NaN,NaN,14224
44,"cash and cash equivalents, end of period",15137.0,6638.0,11212.0,11356,11356,13117.0,8864.0,11710.0,13576,...,17205.0,14432.0,13702.0,14224.0,14224.0,19165.0,20604.0,12498.0,13931,13931

In [392]:
class CompileBalanceStatement(HelperFunctions):
    def __init__(self,ticker,fromDate,endDate=2022):
        self.ticker = ticker
        self.fromDate = fromDate
        self.endDate = endDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.input = os.path.join(self.path, f"Balance Statements All-{self.ticker}.xlsx")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        
        self.Excel = self.readExcel()
        self.Excel = self.getExcelSheetsPostDate(self.Excel)
        
        self.compiledStatement = self.addData(self.Excel)
        self.compiledStatement = self.performBalanceMath(self.compiledStatement)
        self.compiledStatement = self.reorderQuarters(self.compiledStatement)

        
    def readExcel(self):
        Excel = pd.read_excel(self.input,sheet_name=None)
        return Excel
    
    
    def performBalanceMath(self, compiledStatement):
        quarters = self.getQuarters(compiledStatement)
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                compiledStatement["Q4 "+year] = compiledStatement["Year Ended "+year]
        return compiledStatement

In [393]:
class Balance:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker
        self.fromDate = fromDate
        
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.output = os.path.join(self.path, f"Compiled Balance Statement-{self.ticker}.xlsx")
        
        self.createSeparateStatements()
        self.createStatement()
        
        self.writeExcel()
        
    def createSeparateStatements(self):
        self.separateCompiledStatement = pd.DataFrame()
        for year in range(self.fromDate,2023):
            statement = CompileBalanceStatement(self.ticker, year,year)
            self.separateCompiledStatement = pd.concat([self.separateCompiledStatement,statement.compiledStatement],axis=1)
    
    def createStatement(self):
        self.compiledStatement = CompileBalanceStatement(self.ticker, self.fromDate).compiledStatement
        
    def writeExcel(self):
        Excel = pd.ExcelWriter(self.output)
        self.compiledStatement.to_excel(Excel, index=False, sheet_name="Compiled Statement")
        self.separateCompiledStatement.to_excel(Excel, index=False, sheet_name="Separately Compiled Statement")
        
        Excel.save()

In [394]:
balance = Balance("MSFT",2019)
balance.compiledStatement

,label,Q1 2019,Q2 2019,Q3 2019,Q4 2019,Year Ended 2019,Q1 2020,Q2 2020,Q3 2020,Q4 2020,...,Q1 2021,Q2 2021,Q3 2021,Q4 2021,Year Ended 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Year Ended 2022
0,current assets:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
1,cash and cash equivalents,15137,6638,11212,11356,11356,13117,8864,11710,13576,...,17205,14432,13702,14224,14224,19165,20604,12498,13931,13931
2,short-term investments,120743,121024,120406,122463,122463,123519,125389,125916,122951,...,120772,117536,111705,116110,116110,111450,104765,92195,90826,90826
3,"total cash, cash equivalents, and short-term i...",135880,127662,131618,133819,133819,136636,134253,137626,136527,...,137977,131968,125407,130334,130334,130615,125369,104693,104757,104757
4,"accounts receivable, net of allowance for doub...",17390,19680,19269,29524,29524,19087,23525,22699,32011,...,22851,27312,26322,38043,38043,27349,33520,32613,44261,44261
5,inventories,3614,1961,1951,2063,2063,2622,1823,1644,1895,...,2705,1924,2245,2636,2636,3411,3019,3296,3742,3742
6,other current assets,NaN,NaN,NaN,NaN,NaN,7551,7473,8536,11482,...,13544,12769,11640,13393,13393,12951,12280,13320,16924,16924
7,other,7311,7571,7049,10146,10146,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,total current assets,164195,156874,159887,175552,175552,165896,167074,170505,181915,...,177077,173973,165614,184406,184406,174326,174188,153922,169684,169684
9,"property and equipment, net of accumulated dep...",31430,32717,33648,36477,36477,38409,40522,41221,44151,...,47927,51737,54945,59715,59715,63772,67214,70298,74398,74398
10,operating lease right-of-use assets,6734,6806,7121,7379,7379,7890,8439,8448,8753,...,9047,10298,10673,11088,11088,11575,12354,12916,13148,13148
11,equity investments,2034,2274,2403,2649,2649,2684,2755,2660,2965,...,3103,3794,5395,5984,5984,6393,6994,6907,6891,6891
12,goodwill,35855,41577,41861,42026,42026,42113,42248,42064,43351,...,43890,44219,49698,49711,49711,50455,50921,67371,67524,67524
13,"intangible assets, net",7579,8482,8103,7750,7750,7508,7126,6855,7038,...,6923,6555,8127,7800,7800,7794,7462,11348,11298,11298
14,other long-term assets,9792,10129,10258,14723,14723,14455,14630,13696,13138,...,13034,13561,14427,15075,15075,21103,21256,21845,21897,21897
15,total assets,257619,258859,263281,286556,286556,278955,282794,285449,301311,...,301001,304137,308879,333779,333779,335418,340389,344607,364840,364840
16,current liabilities:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
17,accounts payable,8511,7563,7544,9382,9382,8574,8811,9246,12530,...,12509,12770,13412,15163,15163,14832,15314,16085,19000,19000
18,current portion of long-term debt,6497,3516,6515,5516,5516,3017,6247,3748,3749,...,6497,5387,8051,8072,8072,3249,4998,1749,2749,2749
19,accrued compensation,4271,4624,5764,6830,6830,4676,5421,6254,7874,...,5714,6838,8032,10057,10057,6894,7782,9067,10661,10661
20,short-term income taxes,2341,2033,1950,5665,5665,3440,2687,3296,2130,...,2384,1562,2165,2174,2174,6272,3731,4646,4067,4067
21,short-term unearned revenue,26704,24285,24251,32676,32676,29904,27343,27012,36000,...,33476,30402,30083,41525,41525,38465,34001,34027,45538,45538
22,other current liabilities,NaN,NaN,NaN,NaN,NaN,8507,9131,9151,10027,...,9476,10527,10450,11666,11666,10816,11684,11865,13067,13067
23,other,7953,8297,7837,9351,9351,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,total current liabilities,56277,50318,53861,69420,69420,58118,59640,58707,72310,...,70056,67486,72193,88657,88657,80528,77510,77439,95082,95082
25,long-term debt,69733,69653,66585,66662,66662,66478,63361,62862,59578,...,57055,55136,50007,50074,50074,50039,48260,48177,47032,47032
26,long-term income taxes,28936,29161,29514,29612,29612,28457,28754,28888,29432,...,28204,26701,27157,27190,27190,25715,26121,26483,26069,26069
27,long-term unearned revenue,3538,3799,3884,4530,4530,4122,3878,3385,3180,...,2829,2985,2631,2616,2616,2550,2768,2769,2870,2870
28,deferred income taxes,1977,2062,1838,233,233,234,222,185,204,...,187,174,173,198,198,212,199,304,230,230
29,operating lease liabilities,5652,5683,5972,6188,6188,6659,7172,7248,7671,...,7753,8875,9272,9629,9629,10050,10774,11357,11489,11489
30,other long-term liabilities,5539,6055,6763,7581,7581,8826,9658,9673,10632,...,11525,12544,12941,13427,13427,14346,14747,15154,15526,15526
31,total liabilities,171652,166731,168417,184226,184226,172894,172685,170948,183007,...,177609,173901,174374,191791,191791,183440,180379,181683,198298,198298
32,commitments and contingencies,,,,,,,,,,...,,,,,,,,,,
33,stockholders’ equity:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
34,common stock and paid-in capital – shares auth...,71303,77556,77791,78520,78520,78882,79625,79813,80552,...,81089,81896,82308,83111,83111,83751,84528,85767,86939,86939
35,retained earnings,17279,16585,18338,24150,24150,27240,30739,32012,34566,...,39193,44973,50735,57055,57055,66944,75045,79633,84281,84281
36,accumulated other comprehensive income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2676,3186,...,3110,3367,1462,1822,1822,1283,437,-2476,-4678,-4678
37,accumulated other comprehensive loss,-2615,-2013,-1265,-340,-340,-61,-255,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,total stockholders’ equity,85967,92128,94864,102330,102330,106061,110109,114501,118304,...,123392,130236,134505,141988,141988,151978,160010,162924,166542,166542
39,total liabilities and stockholders’ equity,NaN,NaN,NaN,NaN,NaN,NaN,282794,285449,NaN,...,301001,304137,308879,333779,333779,335418,340389,344607,364840,364840
40,total liabilities and stockholders' equity,257619,258859,263281,286556,286556,278955,NaN,NaN,301311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN