In [5]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests

In [6]:
class HelperFunctions():
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    def getUniqueYears(self,quarters):
        return set(self.getYears(quarters))
    
    def getExcelSheetsPostDate(self,Excel): #use IncomeExcel dictionary to get all dates and only keep where date is later than year specified 
        quarters = Excel.keys()
        fileDates = self.getYears(quarters) 
        files = [file for file, date in zip(Excel, fileDates) if date>self.fromDate or (date==self.fromDate and "Year Ended" in file)]
        Excel = {file:Excel[file] for file in files}
        return Excel
        
    def reorderQuarters(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        cols = [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"] if q + " " + str(year) in quarters]
        self.compiledStatement = self.compiledStatement[["label"] + cols]
        
    def getQuarters(self):
        return list(self.compiledStatement.columns[1:])
    
    
    def cleanup_label(self, label):
        new_label = label.lower()
        new_label = new_label.replace("gain","loss").replace("decrease","increase")
        new_label = re.sub("\s\([\w\W]+?\)","",new_label).replace("  "," ").replace("â€”"," - ").strip()
        new_label = re.sub(" \$|\s*\d+\,*", "", new_label) 
        return new_label

In [11]:
class Income(HelperFunctions):
    def __init__(self,ticker,fromDate):
        
        self.ticker = ticker
        self.fromDate = fromDate
        self.compiledStatement = pd.DataFrame(columns=["label"])
        
        self.IncomeExcel = self.readIncomeExcel()
        self.IncomeExcel = self.getExcelSheetsPostDate(self.IncomeExcel)
        
        self.compiledStatement = self.addData()
#         self.performIncomeMath()
#         self.reorderQuarters()
        
    def readIncomeExcel(self):
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        file = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        IncomeExcel = pd.read_excel(file,sheet_name=None)
        return IncomeExcel
    
    def addData(self):
        compiledStatement = pd.DataFrame(columns=["label","value"])
        for quarter,sheet in list(self.IncomeExcel.items())[:1]:
            print(quarter)
            quarter =  re.sub("\s\([\w\W]+?\)","",quarter) #remove the parenthesis ie. (2021) from the quarter
            sheet.columns = ["label",quarter]
            sheet.label = sheet.label.apply(self.cleanup_label)
            
            new_sheet = list()
            title = "i"
            for i, row in sheet.iterrows():
                if pd.isnull(row[quarter]):
                    title = row["label"]
                    continue
                
                new_sheet.append([title,row["label"], row[quarter]])
            
            new_sheet = pd.DataFrame(new_sheet, columns=["title","label",quarter])
            self.i = new_sheet
    def performIncomeMath(self):
        quarters = self.getQuarters()
        years = self.getUniqueYears(quarters)
        
        for year in years:
            year = str(year)
            if "Year Ended "+year in quarters and "Q3 "+year in quarters: 
                
                self.compiledStatement["Q4 "+year] = self.compiledStatement["Year Ended "+year] - self.compiledStatement["Q3 "+year]
                self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Q4 "+year] = self.compiledStatement.loc[self.compiledStatement.label.str.startswith("weighted-average"),"Year Ended "+year]

In [19]:
income = Income("MSFT",2019)

Year Ended 2019

In [20]:
income.i

,title,label,Year Ended 2019
0,i,revenue,125843.00
1,i,cost of revenue,42910.00
2,i,gross margin,82933.00
3,i,research and development,16876.00
4,i,sales and marketing,18213.00
5,i,general and administrative,4885.00
6,i,restructuring,0.00
7,i,operating income,42959.00
8,i,"other income, net",729.00
9,i,income before income taxes,43688.00
10,i,provision for income taxes,4448.00
11,i,net income,39240.00
12,earnings per share:,basic,5.11
13,earnings per share:,diluted,5.06
14,weighted average shares outstanding:,basic,7673.00
15,weighted average shares outstanding:,diluted,7753.00
16,product,revenue,66069.00
17,product,cost of revenue,16273.00
18,service and other,revenue,59774.00
19,service and other,cost of revenue,26637.00

In [133]:
income.sheet

                                   label   Q1 2020
0                                revenue  33055.00
1                        cost of revenue  10406.00
2                           gross margin  22649.00
3               research and development   4565.00
4                    sales and marketing   4337.00
5             general and administrative   1061.00
6                       operating income  12686.00
7                      other income, net      0.00
8             income before income taxes  12686.00
9             provision for income taxes   2008.00
10                            net income  10678.00
11                   earnings per share:       NaN
12                                 basic      1.40
13                               diluted      1.38
14  weighted average shares outstanding:       NaN
15                                 basic   7634.00
16                               diluted   7710.00
17                               product       NaN
18                               revenue  15768.00
19                       cost of revenue   3305.00
20                     service and other       NaN
21                               revenue  17287.00
22                       cost of revenue   7101.00