In [434]:
import pandas as pd
import os
import openpyxl
import numpy as np
import re
from datetime import datetime
import requests
import shutil

In [590]:
class scrapeSECData:
    def __init__(self,ticker):
        self.ticker = ticker 
        self.CIK = self.getCIK()
        self.filings, self.fiscalYear = self.getSECFilings()
        self.writeFilings()
        
        
    def getCIK(self): #get SEC code for company based on ticker
        headers={"User-Agent": "Mozilla/5.0"}
        symbol_to_cik = requests.get("https://www.sec.gov/files/company_tickers.json").json() #returns a json dictionary with a indexed list of all different companies 
        ciks = {info["ticker"]:info["cik_str"] for key,info in symbol_to_cik.items()} #create dictionary indexable by ticker
        return ciks[self.ticker]
    
        
    
    def getSECFilings(self):
        headers={"User-Agent": "Mozilla/5.0"}
        edgar_filings = requests.get(f"https://data.sec.gov/submissions/CIK{self.CIK:0>10}.json", headers=headers).json()
        filings = pd.DataFrame(edgar_filings["filings"]["recent"])
        filings = filings.loc[filings["reportDate"]>"2014-01-01"]#filings pre-2014 are unable to be downloaded due to different excel format
        
        #get 10Q and 10k filings
        filings = filings.loc[filings["form"].isin(["10-Q","10-K"])].reset_index(drop=True) #drop all filings that are not 10Q or 10K
        filings["Month"] = pd.to_datetime(filings["reportDate"]).dt.strftime("%m").astype("int") #get Month of all filings 
        filings["Year"] = pd.to_datetime(filings["reportDate"]).dt.strftime("%Y").astype("int") #get Year of all filings
        
#         filings = filings.sort_values(by="reportDate",ascending=False)
        
        #get a fiscal Year of data by finding the last 10K and the three 10Qs before it
        TenKIndex = filings.loc[filings["form"]=="10-K"].index[0] 
        fiscalYearKey = filings.loc[TenKIndex:TenKIndex+3,["Month","form"]].copy().reset_index(drop=True)
        fiscalYearKey["Period"] = ["Year Ended", "Q3","Q2","Q1"]
        
        
        #fiscal year data for certain period can vary between months ie. both Jan & Feb, therefore I found all possible months of filings and found appropriate period for each month
        fiscalYear = pd.DataFrame({"Month":filings.Month.unique()})
        fiscalYear.index = list(fiscalYear.Month.apply(lambda x: np.argmin(np.abs(fiscalYearKey.Month-x)))) #using fiscal year key, I found the index of the period in fiscalYearKey with closest month to each month 
        fiscalYear = pd.merge(fiscalYear,fiscalYearKey, left_index=True, right_index=True, suffixes=("","_x")) #I merged together together all of the possible months with their corresponding period based on the key
        fiscalYear = fiscalYear.drop(columns="Month_x")
        
        print(fiscalYear)
        #merge fiscal year labels with filings by the month that they were reported
        filings = pd.merge(filings,fiscalYear,on=["Month","form"],how="left")
        
        if filings["Period"].isnull().any():
            print("WARNING THERE IS A FILING WITH A NULL FISCAL PERIOD LABEL")
        
        #set Fiscal Year
        filings["Fiscal Year"] = filings["Year"]
        #get Quarters that are a part of different fiscal Year than report date
        TenKMo = fiscalYear.loc[fiscalYear["form"]=="10-K"]["Month"].iloc[0]
        filings.loc[(filings["Month"]>TenKMo)&(filings["form"]!="10-K"),"Fiscal Year"] += 1 #the 10K is reported in a month before the 10Q so therefore the 10Q is the next fiscal year 
        
        return filings, fiscalYear
        
        
    def writeFilings(self):
        #create a folder to put all of the filings in
        path = os.path.join("input",f"Financial Statement {self.ticker}")
        folder = os.path.join(path,"raw")
        if f"Financial Statement {self.ticker}" not in os.listdir("input"):
            os.mkdir(path)
        if "raw" in os.listdir(path):
            shutil.rmtree(folder)
        os.mkdir(folder)
            
        
        #iterate through each filing, grab the accession number to access the filing and write to excel file
        for i,row in self.filings.iterrows():
            period = row["Period"]
            fiscalYear = row["Fiscal Year"]
            Year = row["Year"]
            accessionNum = row["accessionNumber"].replace("-","")
            
            url = f"https://www.sec.gov/Archives/edgar/data/{self.CIK}/{accessionNum}/Financial_Report.xlsx"
            req = requests.get(url,headers={"User-Agent": "Mozilla/5.0"})
            
            #only include the parenthesis actual year if the fiscal year is different than the actual filing date
            if fiscalYear != Year:
                name = os.path.join(folder,f"{period} {fiscalYear} ({Year}).xlsx")
            else: 
                name = os.path.join(folder,f"{period} {fiscalYear}.xlsx")

            file = open(name,"wb")
            file.write(req.content)
            
        self.fiscalYear.to_csv(os.path.join(path,"fiscalYear.csv"))

In [591]:
scrapeSECData("AAPL").filings

   Month  form      Period
0      9  10-K  Year Ended
1      6  10-Q          Q3
1      7  10-Q          Q3
2      3  10-Q          Q2
2      4  10-Q          Q2
3     12  10-Q          Q1

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription,Month,Year,Period,Fiscal Year
0,0000320193-22-000070,2022-07-29,2022-06-25,2022-07-28T18:06:56.000Z,34,10-Q,001-36743,221116600,,6109993,1,1,aapl-20220625.htm,10-Q,6,2022,Q3,2022
1,0000320193-22-000059,2022-04-29,2022-03-26,2022-04-28T18:03:58.000Z,34,10-Q,001-36743,22868650,,6140838,1,1,aapl-20220326.htm,10-Q,3,2022,Q2,2022
2,0000320193-22-000007,2022-01-28,2021-12-25,2022-01-27T18:00:58.000Z,34,10-Q,001-36743,22564628,,5669748,1,1,aapl-20211225.htm,10-Q,12,2021,Q1,2022
3,0000320193-21-000105,2021-10-29,2021-09-25,2021-10-28T18:04:28.000Z,34,10-K,001-36743,211359752,,10502096,1,1,aapl-20210925.htm,10-K,9,2021,Year Ended,2021
4,0000320193-21-000065,2021-07-28,2021-06-26,2021-07-27T18:03:42.000Z,34,10-Q,001-36743,211119137,,8446381,1,1,aapl-20210626.htm,10-Q,6,2021,Q3,2021
5,0000320193-21-000056,2021-04-29,2021-03-27,2021-04-28T18:02:54.000Z,34,10-Q,001-36743,21866148,,8468959,1,1,aapl-20210327.htm,10-Q,3,2021,Q2,2021
6,0000320193-21-000010,2021-01-28,2020-12-26,2021-01-27T18:03:06.000Z,34,10-Q,001-36743,21561251,,7608244,1,1,aapl-20201226.htm,10-Q,12,2020,Q1,2021
7,0000320193-20-000096,2020-10-30,2020-09-26,2020-10-29T18:06:25.000Z,34,10-K,001-36743,201273977,,12502600,1,1,aapl-20200926.htm,10-K,9,2020,Year Ended,2020
8,0000320193-20-000062,2020-07-31,2020-06-27,2020-07-30T19:29:09.000Z,34,10-Q,001-36743,201062122,,11076413,1,1,aapl-20200627.htm,10-Q,6,2020,Q3,2020
9,0000320193-20-000052,2020-05-01,2020-03-28,2020-04-30T18:03:10.000Z,34,10-Q,001-36743,20837377,,10648806,1,1,a10-qq220203282020.htm,10-Q,3,2020,Q2,2020
10,0000320193-20-000010,2020-01-29,2019-12-28,2020-01-28T18:02:44.000Z,34,10-Q,001-36743,20555794,,9292589,1,1,a10-qq1202012282019.htm,10-Q,12,2019,Q1,2020
11,0000320193-19-000119,2019-10-31,2019-09-28,2019-10-30T18:12:36.000Z,34,10-K,001-36743,191181423,,12861616,1,1,a10-k20199282019.htm,10-K,9,2019,Year Ended,2019
12,0000320193-19-000076,2019-07-31,2019-06-29,2019-07-31T16:31:53.000Z,34,10-Q,001-36743,19989192,,10526242,1,1,a10-qq320196292019.htm,10-Q,6,2019,Q3,2019
13,0000320193-19-000066,2019-05-01,2019-03-30,2019-05-01T16:32:00.000Z,34,10-Q,001-36743,19788072,,10459511,1,1,a10-qq220193302019.htm,10-Q,3,2019,Q2,2019
14,0000320193-19-000010,2019-01-30,2018-12-29,2019-01-30T16:31:37.000Z,34,10-Q,001-36743,19552275,,8176346,1,0,a10-qq1201912292018.htm,10-Q,12,2018,Q1,2019
15,0000320193-18-000145,2018-11-05,2018-09-29,2018-11-05T08:01:40.000Z,34,10-K,001-36743,181158788,,12275572,1,0,a10-k20189292018.htm,10-K,9,2018,Year Ended,2018
16,0000320193-18-000100,2018-08-01,2018-06-30,2018-08-01T16:31:48.000Z,34,10-Q,001-36743,18985212,,9373238,1,0,a10-qq320186302018.htm,10-Q,6,2018,Q3,2018
17,0000320193-18-000070,2018-05-02,2018-03-31,2018-05-02T16:32:12.000Z,34,10-Q,001-36743,18800115,,9743668,1,0,a10-qq220183312018.htm,10-Q,3,2018,Q2,2018
18,0000320193-18-000007,2018-02-02,2017-12-30,2018-02-02T08:01:26.000Z,34,10-Q,001-36743,18568703,,8606471,1,0,a10-qq1201812302017.htm,10-Q,12,2017,Q1,2018
19,0000320193-17-000070,2017-11-03,2017-09-30,2017-11-03T08:01:37.000Z,34,10-K,001-36743,171174673,,14071062,1,0,a10-k20179302017.htm,10-K,9,2017,Year Ended,2017
20,0000320193-17-000009,2017-08-02,2017-07-01,2017-08-02T16:31:28.000Z,34,10-Q,001-36743,171000359,,10155269,1,0,a10-qq32017712017.htm,10-Q,7,2017,Q3,2017
21,0001628280-17-004790,2017-05-03,2017-04-01,2017-05-03T16:32:23.000Z,34,10-Q,001-36743,17809653,,9684229,1,0,a10-qq22017412017.htm,10-Q,4,2017,Q2,2017
22,0001628280-17-000717,2017-02-01,2016-12-31,2017-02-01T16:33:29.000Z,34,10-Q,001-36743,17565317,,8206325,1,0,a10-qq1201712312016.htm,10-Q,12,2016,Q1,2017
23,0001628280-16-020309,2016-10-26,2016-09-24,2016-10-26T16:42:16.000Z,34,10-K,001-36743,161953070,,13277662,1,0,a201610-k9242016.htm,10-K,9,2016,Year Ended,2016
24,0001628280-16-017809,2016-07-27,2016-06-25,2016-07-27T16:32:36.000Z,34,10-Q,001-36743,161787078,,9797615,1,0,a10-qq320166252016.htm,10-Q,6,2016,Q3,2016
25,0001193125-16-559625,2016-04-27,2016-03-26,2016-04-27T16:32:53.000Z,34,10-Q,001-36743,161595799,,6290156,1,0,d165350d10q.htm,10-Q,3,2016,Q2,2016
26,0001193125-16-439878,2016-01-27,2015-12-26,2016-01-27T16:32:03.000Z,34,10-Q,001-36743,161365395,,5367146,1,0,d66145d10q.htm,FORM 10-Q,12,2015,Q1,2016
27,0001193125-15-356351,2015-10-28,2015-09-26,2015-10-28T16:31:09.000Z,34,10-K,001-36743,151180619,,9594425,1,0,d17062d10k.htm,FORM 10-K,9,2015,Year Ended,2015
28,0001193125-15-259935,2015-07-22,2015-06-27,2015-07-22T17:01:17.000Z,34,10-Q,001-36743,151000501,,6580324,1,0,d927922d10q.htm,FORM 10-Q,6,2015,Q3,2015
29,0001193125-15-153166,2015-04-28,2015-03-28,2015-04-28T17:01:16.000Z,34,10-Q,001-36743,15799362,,8633862,1,0,d892246d10q.htm,10-Q,3,2015,Q2,2015
30,0001193125-15-023697,2015-01-28,2014-12-27,2015-01-28T16:39:32.000Z,34,10-Q,001-36743,15555294,,7838312,1,0,d835533d10q.htm,10-Q,12,2014,Q1,2015
31,0001193125-14-383437,2014-10-27,2014-09-27,2014-10-27T17:11:55.000Z,34,10-K,000-10030,141175110,,12082626,1,0,d783162d10k.htm,10-K,9,2014,Year Ended,2014
32,0001193125-14-277160,2014-07-23,2014-06-28,2014-07-23T16:32:48.000Z,34,10-Q,000-10030,14989142,,9545320,1,0,d740164d10q.htm,10-Q,6,2014,Q3,2014
33,0001193125-14-157311,2014-04-24,2014-03-29,2014-04-24T17:02:12.000Z,34,10-Q,000-10030,14782284,,8315535,1,0,d694710d10q.htm,10-Q,3,2014,Q2,2014

In [592]:
class FinancialReport():
    def __init__(self,filePath):
        self.filePath = filePath
        self.readFile()

    def readFile(self):
        self.statements = pd.read_excel(self.filePath,sheet_name=None)
    
    def parseSheet(self, sheet):
        sheet.columns = ["label"]+list(sheet.columns[1:])
        
        sheet = sheet.loc[~sheet.label.isnull(), sheet.columns.notna()]
        
        #remove rows where the label is just [1] or [2] because they are empty
        sheet = sheet.loc[sheet.label.str.contains("[a-zA-Z]",regex=True)]
       
        if not sheet.iloc[:,1].astype("string").str.isnumeric().any():
            sheet=sheet.drop(sheet.columns[1],axis=1) #delete columns where there is only one value ie. a note like [1]
        
        sheet = sheet.iloc[:,:2] 
        return sheet
        
    def findBalanceSheet(self):
        #find sheet where the first sheet value (header) includes balance
        balanceSheets = [sheet for name,sheet in self.statements.items() if "balance" in str(sheet.columns[0]).lower()]
        balance = balanceSheets[0]
        
        balance = self.parseSheet(balance)
        
        return balance
        
    def findIncomeSheet(self):
        #find sheet where the first sheet value (header) includes income
        incomeSheets = [sheet for name,sheet in self.statements.items() if "income" in str(sheet.columns[0]).lower() or "operations" in str(sheet.columns[0]).lower()]
        income = incomeSheets[0]
        
        #remove the first row which doesn't say the date but instead says the length of time period ie. 3 mo ended 
        income.columns = income.iloc[0]
        income = income.drop(0)
        
        income = self.parseSheet(income)
        return income

        
    def findCashflowSheet(self): 
        #find sheet where the first sheet value (header) includes income
        cashSheets = [sheet for name,sheet in self.statements.items() if "cash" in str(sheet.columns[0]).lower()]
        cashflow = cashSheets[0]
        
        #remove the first row which doesn't say the date but instead says the length of time period ie. 3 mo ended 
        cashflow.columns = cashflow.iloc[0]
        cashflow = cashflow.drop(0)
        
        cashflow = self.parseSheet(cashflow)
        return cashflow

In [580]:
x = FinancialReport("input/Financial Statement XOM/raw/Year Ended 2017.xlsx")
x.findBalanceSheet()

                                                label Dec. 31, 2017
0                                      Current assets           NaN
1                           Cash and cash equivalents          3177
2   Notes and accounts receivable, less estimated ...         25597
3                                         Inventories           NaN
4                 Crude oil, products and merchandise         12871
5                              Materials and supplies          4121
6                                Other current assets          1368
7                                Total current assets         47134
8     Investments, advances and long-term receivables         39160
9   Property, plant and equipment, at cost, less a...        252630
10           Other assets, including intangibles, net          9767
11                                       Total assets        348691
12                                Current liabilities           NaN
13                            Notes and loans payable         17930
14           Accounts payable and accrued liabilities         36796
15                               Income taxes payable          3045
16                          Total current liabilities         57771
17                                     Long-term debt         24406
18                   Postretirement benefits reserves         21132
19                    Deferred income tax liabilities         26893
20          Long-term obligations to equity companies          4774
21                        Other long-term obligations         19215
22                                  Total liabilities        154191
23                      Commitments and contingencies
24                                             Equity           NaN
25  Common stock without par value (9,000 million ...         14656
26                                Earnings reinvested        414540
27             Accumulated other comprehensive income        -16262
28  Common stock held in treasury (3,780 million s...       -225246
29                         ExxonMobil share of equity        187688
30                           Noncontrolling interests          6812
31                                       Total equity        194500
32                       Total liabilities and equity        348691

In [593]:
class compileFilings:
    def __init__(self,ticker,fromDate):
        self.ticker = ticker 
        self.fromDate = fromDate
        self.path = os.path.join("input",f"Financial Statement {self.ticker}")
        self.folder = os.path.join(self.path,"raw")
        
        self.filings = self.getFilings()
        self.filings = self.getFilingsPostDate(self.filings)
        self.files = self.getFilePathsFromFilings(self.filings)
        
        
        self.writeIncomeExcel()
        self.writeCashflowExcel()
        self.writeBalanceExcel()
    
    def getFilings(self): #get the names of all of the filings
        #get a list of all of the filings 
        filings = os.listdir(self.folder)
        if ".DS_Store" in filings:
            filings.remove(".DS_Store")
        filings = [filing for filing in filings if"~" not in filing]
        
        return filings
    
    def getYears(self,quarters): #go through each file name and find the year of filing
        return [int(re.findall("\d{4}",quarter)[0]) for quarter in quarters]
    
    
    def getPossibleFilingsFromYears(self, years):
        return [q + " " + str(year) for year in years for q in ["Q1","Q2","Q3","Q4","Year Ended"]]
    
    def getFilingsPostDate(self,filings):
        years = range(self.fromDate,2023)
        names = self.getPossibleFilingsFromYears(years)
        names = ["Year Ended "+str(self.fromDate-1)]+names
        files = [filing for name in names for filing in filings if name in filing] 
        return files
    
    def getFilePathsFromFilings(self,filings): #take file names and return a list of the paths to the file
        return [os.path.join(self.folder,filing) for filing in filings]
        
    def writeIncomeExcel(self):
        
        file = os.path.join(self.path, f"Income Statements All-{self.ticker}.xlsx")
        Income = pd.ExcelWriter(file)
        
        #for each filing, read the filing into a dataframe and save to a combined excel file
        for file in self.files:
            print(file)
            statement = FinancialReport(file)
            income = statement.findIncomeSheet()
            name = file.split("/")[-1].split(".")[0]
            income.to_excel(Income, index=False, sheet_name=name)
        
        Income.save()
        
    def writeCashflowExcel(self):
        
        file = os.path.join(self.path, f"Cashflow Statements All-{self.ticker}.xlsx")
        Cashflow = pd.ExcelWriter(file)
        #for each filing, read the filing into a dataframe and save to a combined excel file
        for file in self.files:
            statement = FinancialReport(file)
            cashflow = statement.findCashflowSheet()
            name = file.split("/")[-1].split(".")[0]
            cashflow.to_excel(Cashflow, index=False, sheet_name=name)
        
        Cashflow.save()
        
    
    def writeBalanceExcel(self):
        
        file = os.path.join(self.path, f"Balance Statements All-{self.ticker}.xlsx")
        Balance = pd.ExcelWriter(file)
        #for each filing, read the filing into a dataframe and save to a combined excel file
        for file in self.files:
            statement = FinancialReport(file)
            balance = statement.findBalanceSheet()
            name = file.split("/")[-1].split(".")[0]
            balance.to_excel(Balance, index=False, sheet_name=name)
        
        Balance.save()

In [594]:
scrapeSECData("AAPL")
compileFilings("AAPL",2017)

   Month  form      Period
0      9  10-K  Year Ended
1      6  10-Q          Q3
1      7  10-Q          Q3
2      3  10-Q          Q2
2      4  10-Q          Q2
3     12  10-Q          Q1
input/Financial Statement AAPL/raw/Year Ended 2016.xlsx
input/Financial Statement AAPL/raw/Q1 2017 (2016).xlsx
input/Financial Statement AAPL/raw/Q2 2017.xlsx
input/Financial Statement AAPL/raw/Q3 2017.xlsx
input/Financial Statement AAPL/raw/Year Ended 2017.xlsx
input/Financial Statement AAPL/raw/Q1 2018 (2017).xlsx
input/Financial Statement AAPL/raw/Q2 2018.xlsx
input/Financial Statement AAPL/raw/Q3 2018.xlsx
input/Financial Statement AAPL/raw/Year Ended 2018.xlsx
input/Financial Statement AAPL/raw/Q1 2019 (2018).xlsx
input/Financial Statement AAPL/raw/Q2 2019.xlsx
input/Financial Statement AAPL/raw/Q3 2019.xlsx
input/Financial Statement AAPL/raw/Year Ended 2019.xlsx
input/Financial Statement AAPL/raw/Q1 2020 (2019).xlsx
input/Financial Statement AAPL/raw/Q2 2020.xlsx
input/Financial Statement AAPL/raw/Q3 2020.xlsx
input/Financial Statement AAPL/raw/Year Ended 2020.xlsx
input/Financial Statement AAPL/raw/Q1 2021 (2020).xlsx
input/Financial Statement AAPL/raw/Q2 2021.xlsx
input/Financial Statement AAPL/raw/Q3 2021.xlsx
input/Financial Statement AAPL/raw/Year Ended 2021.xlsx
input/Financial Statement AAPL/raw/Q1 2022 (2021).xlsx
input/Financial Statement AAPL/raw/Q2 2022.xlsx
input/Financial Statement AAPL/raw/Q3 2022.xlsx